In [29]:
import pandas as pd
#hh_data = pd.read_csv('data/hh_data_w.csv')
hh_data = pd.read_csv('data/hh_data_w.csv', sep=';')  # Например, для разделителя ";"
hh_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44587 non-null  object
 8   Последняя/нынешняя должность     44586 non-null  object
 9   Образование и ВУЗ                44588 non-null  object
 10  Обновление резюме                44588 non-null  object
 11  Авто                             44588 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

In [13]:
#Чему равна размерность таблицы? Введите её в виде кортежа (число строк, число столбцов).
hh_data.shape

(44744, 12)

In [33]:
print(hh_data.head())
print(hh_data.tail())

          Пол, возраст           ЗП Ищет работу на должность: Город, переезд, командировки            Занятость               График          Опыт работы Последнее/нынешнее место работы Последняя/нынешняя должность    Образование и ВУЗ Обновление резюме                 Авто
0  Мужчина ,  39 ле...   29000 руб.  Системный админи...       Советск (Калинин...          частичная занято...  гибкий график, п...  Опыт работы 16 л...  МАОУ "СОШ № 1 г....             Системный админи...          Неоконченное выс...  16.04.2019 15:59  Имеется собствен...
1  Мужчина ,  60 ле...   40000 руб.  Технический писа...       Королев , не гот...          частичная занято...  гибкий график, п...  Опыт работы 19 л...  Временный трудов...             Менеджер проекта...          Высшее образован...   12.04.2019 8:42           Не указано
2  Женщина ,  36 ле...   20000 руб.             Оператор       Тверь , не готов...             полная занятость          полный день  Опыт работы 10 л...         ПАО Сбербанк             Кассир-операционист          Среднее специаль...   16.04.2019 8:35           Не указано
3  Мужчина ,  38 ле...  100000 руб.  Веб-разработчик ...       Саратов , не гот...          частичная занято...  гибкий график, у...  Опыт работы 18 л...             OpenSoft             Инженер-программист          Высшее образован...  08.04.2019 14:23           Не указано
4  Женщина ,  26 ле...  140000 руб.  Региональный мен...       Москва , не гото...             полная занятость          полный день  Опыт работы 5 ле...             Мармелад             Менеджер по прод...          Высшее образован...  22.04.2019 10:32           Не указано
              Пол, возраст           ЗП Ищет работу на должность: Город, переезд, командировки            Занятость               График          Опыт работы Последнее/нынешнее место работы Последняя/нынешняя должность    Образование и ВУЗ Обновление резюме                 Авто
44739  Мужчина ,  30 ле...   50000 руб.  Финансист, анали...       Тверь , готов к ...             полная занятость  полный день, уда...  Опыт работы 7 ле...  ООО "IAS" (незав...             Руководитель суб...          Высшее образован...  22.04.2019 12:32           Не указано
44740  Мужчина ,  27 ле...   39000 руб.  Системный админи...       Липецк , готов к...          проектная работа...  удаленная работа...  Опыт работы 7 ле...         ИП Пестрецов                 Предприниматель          Высшее образован...  22.04.2019 13:11           Не указано
44741  Женщина ,  48 ле...   40000 руб.  Аналитик данных,...       Челябинск , гото...             полная занятость  полный день, уда...  Опыт работы 21 г...  ОАО «ЧМК», Иссле...             Начальник группы...          Высшее образован...   09.04.2019 5:07           Не указано
44742  Мужчина ,  24 го...   20000 руб.     Контент-менеджер       Тамбов , не гото...          частичная занято...     удаленная работа  Опыт работы 3 го...            IQ-Maxima               Менеджер проектов          Высшее образован...  26.04.2019 14:25  Имеется собствен...
44743  Мужчина ,  38 ле...  120000 руб.  Руководитель про...       Москва , не гото...             полная занятость          полный день  Опыт работы 15 л...    ПАО ГК ТНС энерго             Руководитель отд...          Высшее образован...  05.07.2018 20:15           Не указано

In [ ]:
# Вывод первых 5 строк в виде таблицы
print(hh_data.head().to_string())

# Вывод последних 5 строк в виде таблицы
print(hh_data.tail().to_string())

In [22]:
# Подсчёт количества уникальных значений в столбце «Опыт работы»
hh_data['Опыт работы'].nunique()

44413

In [23]:
# Находим самую распространённую должность
hh_data['Ищет работу на должность:'].value_counts().idxmax()

'Системный администратор'

Начнём с простого — с признака «Образование и ВУЗ». Его текущий формат — это: <Уровень образования год выпуска ВУЗ специальность...>. Например:

Высшее образование 2016 Московский авиационный институт (Национальный исследовательский университет)
Неоконченное высшее образование 2000 Балтийская государственная академия рыбопромыслового флота
Нас будет интересовать только уровень образования. Причём, для простоты мы будем считать, что соискатель указывает свой максимальный уровень образования в первых трёх словах столбца «Образование и ВУЗ».

Создайте с помощью функции-преобразования новый признак «Образование», который должен иметь четыре категории: «высшее», «неоконченное высшее», «среднее специальное» и «среднее».

Выполните преобразование, ответьте на контрольные вопросы и удалите признак «Образование и ВУЗ».

In [30]:
# Создаём копию данных
hh_data_copy = hh_data.copy()

# Функция для извлечения уровня образования
def extract_education_level(text):
    # Разделяем текст на слова и берём первые три
    words = text.split()[:3]
    # Объединяем их в строку
    education_level = ' '.join(words)
    
    # Определяем категорию
    if 'высшее' in education_level.lower() and 'неоконченное' not in education_level.lower():
        return 'высшее'
    elif 'неоконченное высшее' in education_level.lower():
        return 'неоконченное высшее'
    elif 'среднее специальное' in education_level.lower():
        return 'среднее специальное'
    elif 'среднее' in education_level.lower():
        return 'среднее'
    else:
        return 'не указано'

# Проверяем пропущенные значения в столбце «Образование и ВУЗ»
print("Количество пропущенных значений:", hh_data_copy['Образование и ВУЗ'].isnull().sum())

# Заменяем пропущенные значения на пустую строку
hh_data_copy['Образование и ВУЗ'] = hh_data_copy['Образование и ВУЗ'].fillna('')

# Применяем функцию к столбцу «Образование и ВУЗ»
hh_data_copy['Образование'] = hh_data_copy['Образование и ВУЗ'].apply(extract_education_level)

# Проверяем уникальные значения нового столбца
print("Уникальные значения в столбце «Образование»:", hh_data_copy['Образование'].unique())

# Удаляем исходный столбец «Образование и ВУЗ»
hh_data_copy.drop(columns=['Образование и ВУЗ'], inplace=True)

# Проверяем результат
hh_data_copy.head()

Количество пропущенных значений: 156
Уникальные значения в столбце «Образование»: ['неоконченное высшее' 'высшее' 'среднее специальное' 'среднее'
 'не указано']

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 8:42,Не указано,высшее
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 8:35,Не указано,среднее специальное
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее