In [ ]:
import pandas as pd

print(pd.__name__)

In [ ]:
import pandas as pd

def create_medications(names, counts):
    # Создаем Series с индексами names и значениями counts
    medications = pd.Series(counts, index=names)
    return medications

def get_percent(medications, name):
    # Вычисляем общее количество товаров
    total_count = medications.sum()
    
    # Получаем количество товара с именем name
    item_count = medications.get(name, 0)  # Если товара нет, возвращаем 0
    
    # Вычисляем долю в процентах
    percent = (item_count / total_count) * 100
    return percent

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine")) #37.5

In [ ]:
import pandas as pd

def create_companyDF(income, expenses, years):
    # Создаем DataFrame из входных данных
    df = pd.DataFrame({
        'Income': income,
        'Expenses': expenses
    }, index=years)
    return df

def get_profit(df, year):
    # Проверяем, есть ли год в индексе DataFrame
    if year in df.index:
        # Возвращаем разницу между доходом и расходом за указанный год
        return df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    else:
        # Если год отсутствует, возвращаем None
        return None
    
    
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]


df = create_companyDF(income, expenses, years)
print(get_profit(df, 2018))
print(df)

In [ ]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
# Достаем значение по индексу строки и столбца
value1 = melb_data.iloc[3521, 14]  # Строка 1, столбец 2 (индексация с 0)
#print(value1)  # Вывод: 8
value2 = melb_data.iloc[1690, 14]  # Строка 1, столбец 2 (индексация с 0)
#print(value2)  # Вывод: 8
#print(value1/value2)

#Выведем первые пять строк нашей таблицы: 
display(melb_data.head())
#Следующий код выведет семь последних строк нашей таблицы:
melb_data.tail(7)
#получение информации о форме (размерность таблицы)
melb_data.shape
#Получение информации о столбцах
melb_data.info()


#Изменение типа данных в столбце
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

In [ ]:
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

In [ ]:
'''
Например, для типа данных object метод describe() возвращает DataFrame, в котором указаны:

количество непустых строк (count);
количество уникальных значений (unique);
самое частое значение — мода —  (top);
частота — объём использования — этого значения (freq) для каждого столбца типа object исходной таблицы.
'''

melb_data.describe(include=['object'])

In [ ]:
# → Для того чтобы определить, сколько раз в столбце повторяется каждый из вариантов значений (т.е. найти частоту для каждого уникального знания), используется метод value_counts().

melb_data['Regionname'].value_counts()
'''
Чтобы сделать вывод более интерпретируемым и понятным, можно воспользоваться параметром normalize. При установке значения этого параметра на True результат будет представляться в виде доли (относительной частоты):
'''

melb_data['Regionname'].value_counts(normalize=True)

In [ ]:
import pandas as pd
import numpy as np

# Создаем DataFrame с пропущенными значениями


# Считаем пропущенные значения в столбце 'CouncilArea'
missing_values = melb_data['CouncilArea'].isna().sum()

print(f"Количество пропущенных значений в столбце 'CouncilArea': {missing_values}")

In [ ]:
# Выбираем столбцы с целочисленным типом данных
integer_columns = melb_data.select_dtypes(include=['int', 'int64'])

# Считаем количество таких столбцов
num_integer_columns = integer_columns.shape[1]
print(num_integer_columns)

In [ ]:
# Сколько процентов от общего количества домов составляют таунхаусы (тип объекта — t)?
# Ответ округлите до целого числа. Не указывайте знак %.
melb_data['Type'].value_counts(normalize=True)

median_area = melb_data['BuildingArea'].median()
mean_area = melb_data['BuildingArea'].mean()
print("median -",median_area )
print("mean -", mean_area)

deviation_percent = ((median_area - mean_area) / mean_area) * 100
print (deviation_percent)

In [ ]:
import statistics

# Заданный ряд чисел
data = [1, 2, 4, 2, 3, 2, 1, 5, 6]

# Находим моду
mode_value = statistics.mode(data)

print(f"Мода ряда: {mode_value}")

In [ ]:
often_bedrooms = melb_data['Bedroom'].mode()
melb_data.tail(7)

melb_data['Address'].value_counts(normalize=True)

In [ ]:
mask = melb_data['Price'] > 2000000

display(melb_data[mask].head())

melb_data[melb_data['Price'] > 2000000]

# Найдём количество зданий с тремя комнатами. Для этого отфильтруем таблицу по условию: обратимся к результирующей таблице по столбцу Rooms и найдём число строк в ней с помощью атрибута shape:
melb_data[melb_data['Rooms'] == 3].shape[0]

In [ ]:
melb_data[melb_data['Bathroom'] == 0].shape[0]

In [ ]:
# Сколько в таблице melb_data объектов недвижимости, которые были проданы риелторской компанией Nelson и стоимость которых составила больше 3 миллионов?


melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

In [ ]:
# Какова минимальная стоимость участка без здания (площадь здания равна 0) в таблице melb_data?




# Фильтруем строки, где BuildingArea == 0
filtered_data = melb_data[melb_data['BuildingArea'] == 0]

# Находим строку с минимальной ценой
min_price_row = filtered_data.loc[filtered_data['Price'].idxmin()]


min_price_row['Price']
# Выводим результат
#print(min_price_row)

In [ ]:
# Какова средняя цена объектов недвижимости в таблице melb_data с ценой менее одного миллиона, в которых либо количество комнат больше пяти, либо здание моложе 2015 года?

filtered_datap = melb_data[(melb_data['Price'] < 1000000)]
filtered_data = filtered_datap[(filtered_datap['Rooms'] > 5) | (filtered_datap['YearBuilt'] > 2015)]



filtered_data['Price'].mean()




# Находим строку с минимальной ценой
#min_price_row = filtered_data.loc[filtered_data['Price'].idxmin()]


#min_price_row['Price']

In [ ]:
#В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов
filtered_data = melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]

filtered_data['Regionname'].value_counts(normalize=True)

In [ ]:
#Информация о столбцах таблицы:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')
student_data.head()
student_data.shape

In [ ]:
student_data.head()

In [ ]:
#Каков балл по письму у студента под индексом 155?

# Номер строки
row_index = 155

# Имя столбца
column_name = 'writing score'

# Получаем значение
value = student_data.loc[row_index, column_name]
print(f"Значение в строке {row_index} и столбце '{column_name}': {value}")

In [ ]:
# Считаем пропущенные значения только в столбцах 'Age' и 'Grade'
missing_in_age_grade = student_data.isna().sum().sum()
print(f"Пропущенные значения в столбцах : {missing_in_age_grade}")

In [ ]:
#Сколько столбцов в таблице имеет тип данных object?
# Выбираем столбцы с типом object
object_columns = student_data.select_dtypes(include=['object'])

# Считаем количество таких столбцов
num_object_columns = object_columns.shape[1]

print(f"Количество столбцов с типом object: {num_object_columns}")

In [ ]:
#Какой объём памяти (в килобайтах) занимает таблица?

# Получаем объём памяти для каждого столбца (в байтах)
student_data.info()

In [ ]:
#Каков у студентов средний балл по математике?

mean_math_score = student_data['math score'].mean()

print("mean math score -",mean_math_score )

In [ ]:
#Какая расовая группа является самой крупной в учебном заведении?
student_data['race/ethnicity'].value_counts(normalize=True)

In [ ]:
#student_data['test preparation course'] = student_data['TestPreparationCourse'].astype('object')
student_data.info()

In [ ]:
#Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
filtered_data = student_data[(student_data['test preparation course'] == 'completed')]
mean_reading_score = filtered_data['reading score'].mean()
print("mean reading score -",mean_reading_score )

In [ ]:
#Сколько студентов получили 0 баллов по математике?
filtered_data = student_data[(student_data['math score'] == 0)]

filtered_data.shape[0]
#Получение информации о столбцах
#student_data.info()

In [ ]:
student_data.head()

In [ ]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
# В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
student_data.head()


filtered_data_l= student_data[(student_data['lunch'] == 'standard')]
mean_lstd = filtered_data_l['math score'].mean()
print("mean lstd -",mean_lstd )


filtered_data_lr= student_data[(student_data['lunch'] == 'free/reduced')]
mean_lrstd = filtered_data_lr['math score'].mean()
print("mean lrstd -",mean_lrstd )

In [ ]:
#Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?




filtered_data_lr= student_data[(student_data['parental level of education'] == "bachelor's degree")]
mean_lrstd = filtered_data_lr['math score'].mean()
print("mean lrstd -",mean_lrstd )


student_data['parental level of education'].value_counts(normalize=True)

In [ ]:
# Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?
# Округлите ответ до целого и запишите модуль этого числа.


# Фильтруем данные для групп A и C
group_a = student_data[student_data['race/ethnicity'] == 'group A']
group_c = student_data[student_data['race/ethnicity'] == 'group C']

# Вычисляем медиану для группы A
median_group_a = group_a['writing score'].median()
print("median group-a -",median_group_a )
# Вычисляем среднее для группы C
mean_group_c = group_c['writing score'].mean()
print("mean group-c -",mean_group_c )


# Находим разницу и округляем до целого
difference = abs(round(median_group_a - mean_group_c))

print(f"Медиана группы A: {median_group_a}")
print(f"Среднее группы C: {mean_group_c}")
print(f"Разница: {difference}")

In [ ]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_data.head()

In [ ]:
#Создание копии таблицы
melb_df = melb_data.copy()
melb_df.head()

In [ ]:
# Удалим столбцы index и Coordinates из таблицы с помощью метода drop(). Выведем первые пять строк таблицы и убедимся, что всё прошло успешно.

melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
melb_df.head()

In [ ]:
# Например, давайте создадим переменную total_rooms, в которой будем хранить общее количество комнат в здании. Для этого выполним сложение столбцов с количеством комнат, ванн и спален:

total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
display(total_rooms)

# А теперь введём признак MeanRoomsArea, который соответствует средней площади одной комнаты для каждого объекта. Для этого разделим площадь здания на полученное ранее общее количество комнат:

melb_df['MeanRoomsArea'] = melb_df['BuildingArea'] / total_rooms
display(melb_df['MeanRoomsArea'])

# Можно ввести ещё один интересный признак — AreaRatio, коэффициент соотношения площади здания (BuildingArea) и площади участка (Landsize). Для этого разницу двух площадей поделим на их сумму:

diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area
display(melb_df['AreaRatio'])

In [ ]:
import pandas as pd

def delete_columns(df, col=[]):
    # Проверяем, существуют ли все указанные столбцы в DataFrame
    if not all(c in df.columns for c in col):
        return None
    
    # Создаем копию DataFrame, чтобы не изменять исходный
    new_df = df.drop(columns=col, errors='ignore')
    return new_df

# Пример использования
customer_df = pd.DataFrame({
    'number': [0, 1, 2, 3, 4],
    'cust_id': [128, 1201, 9832, 4392, 7472],
    'cust_age': [13, 21, 19, 21, 60],
    'cust_sale': [0, 0, 0.2, 0.15, 0.3],
    'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
    'cust_order': [1400, 14142, 900, 1240, 8430]
})

# Удаляем столбцы 'cust_age' и 'cust_sale'
result_df = delete_columns(customer_df, col=['cust_age', 'cust_sale'])
print("После удаления столбцов:")
print(result_df)

# Попытка удалить несуществующий столбец
result_df = delete_columns(customer_df, col=['cust_age', 'nonexistent_column'])
if result_df is None:
    print("Один или несколько столбцов не существуют.")

In [ ]:
import pandas as pd

# Исходный DataFrame
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

# Рассчитываем плотность населения и добавляем её как новый столбец
countries_df['density'] = (countries_df['population'] * 1e6) / countries_df['area']

# Вычисляем среднюю плотность населения
average_density = countries_df['density'].mean()

# Округляем результат до сотых
average_density_rounded = round(average_density, 2)

# Выводим результат
print(average_density_rounded)

In [ ]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
display(melb_df['Date'])

years_sold = melb_df['Date'].dt.year
print(years_sold)
print('Min year sold:', years_sold.min())
print('Max year sold:', years_sold.max())
print('Mode year sold:', years_sold.mode()[0])

In [ ]:
# Теперь попробуем понять, на какие месяцы приходится пик продаж объектов недвижимости. Для этого выделим атрибут dt.month и на этот раз занесём результат в столбец MonthSale, а затем найдём относительную частоту продаж для каждого месяца от общего количества продаж — для этого используем метод value_counts() с параметром normalize (вывод в долях):
melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts(normalize=True)

In [ ]:
# Часто бывает такая ситуация, что необходимо вычислять интервалы между двумя временными промежутками. Например, можно вычислить, сколько дней прошло с 1 января 2016 года до момента продажи объекта. Для этого можно просто найти разницу между датами продаж и заявленной датой, представленной в формате datetime:

delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01') 
display(delta_days)

In [ ]:
# Чтобы превратить количество дней из формата интервала в формат целого числа дней, можно воспользоваться аксессором dt для формата timedelta и извлечь из него атрибут days:

display(delta_days.dt.days)

In [ ]:
# Рассмотрим другой пример. Давайте создадим признак возраста объекта недвижимости в годах на момент продажи. Для этого выделим из столбца с датой продажи год и вычтем из него год постройки здания. Результат оформим в виде столбца AgeBuilding:

melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
display(melb_df['AgeBuilding'])
melb_df.head()

In [ ]:
# Создайте в таблице melb_df признак WeekdaySale (день недели). Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье), результат занесите в переменную weekend_count. В качестве ответа введите результат вывода переменной weekend_count.

import pandas as pd

# Предположим, что melb_df уже загружен и содержит столбец 'Date' с датами продажи
# Если дата не преобразована в формат datetime, преобразуем её
melb_df['Date'] = pd.to_datetime(melb_df['Date'])

# Создаем новый признак WeekdaySale, содержащий день недели продажи
melb_df['WeekdaySale'] = melb_df['Date'].dt.day_name()

# Определяем количество продаж в выходные дни (суббота и воскресенье)
weekend_count = melb_df[melb_df['WeekdaySale'].isin(['Saturday', 'Sunday'])].shape[0]

# Выводим результат
print(weekend_count)

In [ ]:
import pandas as pd

# Загрузка файла из интернета
url = "https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv"
ufo_df = pd.read_csv(url)

# Просмотр первых нескольких строк датафрейма
print(ufo_df.head())

In [ ]:


# Шаг 2: Преобразовать столбец 'Time' к формату datetime
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'])

# Шаг 3: Извлечь год из столбца 'Time' и подсчитать количество наблюдений по годам
ufo_df['Year'] = ufo_df['Time'].dt.year
ufo_df['Year'].value_counts(normalize=True)

In [ ]:
# Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).

# Шаг 3: Отфильтровать данные для штата Невада (NV)
nv_data = ufo_df[ufo_df['State'] == 'NV']

# Шаг 4: Отсортировать данные по времени
nv_data = nv_data.sort_values('Time')
#print(nv_data)

# Шаг 5: Вычислить разницу между последовательными случаями
nv_data['TimeDiff'] = nv_data['Time'].diff()  # Разница между соседними датами

print(nv_data['TimeDiff'])

# Оставляем только непустые значения разницы
time_diff_days = nv_data['TimeDiff'].dropna()

# Конвертируем разницу в дни
time_diff_days = time_diff_days.dt.days

# Шаг 6: Найти средний интервал времени в днях
average_interval = time_diff_days.mean()

# Вывести результат
print(f"Средний интервал времени между наблюдениями НЛО в штате Невада: {average_interval:.2f} дней")

In [ ]:
print(melb_df['Address'].nunique())


print(melb_df['Address'].loc[177])
print(melb_df['Address'].loc[1812])
print(melb_df['Address'].loc[9001])

In [ ]:
# Итак, адрес строится следующим образом: сначала указывается номер дома и корпус, после указывается название улицы, а в конце — подтип улицы, но в некоторых случаях к подтипу добавляется географическая отметка (N — север, S — юг и т. д.), она нам не нужна . Для того чтобы выделить подтип улицы, на которой находится объект, можно использовать следующую функцию:
# На вход данной функции поступает строка с адресом.
def get_street_type(address):
# Создаём список географических пометок exclude_list.
    exclude_list = ['N', 'S', 'W', 'E']
# Метод split() разбивает строку на слова по пробелу.
# В результате получаем список слов в строке и заносим его в переменную address_list.
    address_list = address.split(' ')
# Обрезаем список, оставляя в нём только последний элемент,
# потенциальный подтип улицы, и заносим в переменную street_type.
    street_type = address_list[-1]
# Делаем проверку на то, что полученный подтип является географической пометкой.
# Для этого проверяем его на наличие в списке exclude_list.
    if street_type in exclude_list:
# Если переменная street_type является географической пометкой,
# переопределяем её на второй элемент с конца списка address_list.
        street_type = address_list[-2]
# Возвращаем переменную street_type, в которой хранится подтип улицы.
    return street_type

In [ ]:
street_types = melb_df['Address'].apply(get_street_type)
display(street_types)

In [ ]:
# Итак, мы смогли выделить подтип улицы. Посмотрим, сколько уникальных значений у нас получилось:

print(street_types.nunique())
# 56
# У нас есть 56 уникальных значений. Однако наш результат можно улучшить. Давайте для начала посмотрим на частоту каждого подтипа улицы с помощью метода value_counts:

display(street_types.value_counts())

In [ ]:
popular_stypes =street_types.value_counts().nlargest(10).index
print(popular_stypes)
# Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

In [ ]:
# Теперь, когда у нас есть список наиболее популярных подтипов улиц, введём lambda-функцию, которая будет проверять, есть ли строка x в этом перечне, и, если это так, lambda-функция будет возвращать x, в противном случае она будет возвращать строку 'other'. Наконец, применим такую функцию к Series street_types, полученной ранее, а результат определим в новый столбец таблицы StreetType:

melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_df['StreetType'])

In [ ]:
# Посмотрим на результирующее число уникальных подтипов:
print(melb_df['StreetType'].nunique())

In [ ]:
melb_df = melb_df.drop('Address', axis=1)

In [ ]:
import pandas as pd


# Шаг 1: Функция get_weekend
def get_weekend(weekday):
    if weekday in ['Saturday', 'Sunday']:  # Проверяем, является ли день выходным
        return 1
    else:
        return 0

# Шаг 2: Создание нового столбца Weekend
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)

# Шаг 3: Вычисление средней цены для выходных дней
average_weekend_price = melb_df[melb_df['Weekend'] == 1]['Price'].mean()

# Округляем результат до целых
average_weekend_price_rounded = round(average_weekend_price)

# Вывод результата
print(average_weekend_price_rounded)

In [ ]:
# Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.
# Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.



import pandas as pd



# Шаг 1: Определить 49 самых популярных компаний
top_companies = melb_df['SellerG'].value_counts().head(49).index

# Шаг 2: Преобразовать значения в столбце SellerG
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in top_companies else 'other')

# Шаг 3: Найти минимальные цены для 'Nelson' и 'other'
min_price_nelson = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min()
min_price_other = melb_df[melb_df['SellerG'] == 'other']['Price'].min()

# Шаг 4: Вычислить отношение минимальных цен
ratio = min_price_nelson / min_price_other

# Шаг 5: Округлить результат до десятых
result = round(ratio, 1)

# Вывод результата
print(result)

In [ ]:
import re

def get_experience(arg):
    # Извлекаем количество лет (если есть)
    years_match = re.search(r'(\d+)\s*год', arg)
    years = int(years_match.group(1)) if years_match else 0
    
    # Извлекаем количество месяцев (если есть)
    months_match = re.search(r'(\d+)\s*месяц', arg)
    months = int(months_match.group(1)) if months_match else 0
    
    # Возвращаем общее количество месяцев
    return years * 12 + months

# Пример использования
import pandas as pd

# Создаем Series с примерами опыта работы
experience_series = pd.Series([
    "3 года 4 месяца",
    "2 года",
    "7 месяцев",
    "5 лет",
    "10 месяцев"
])

# Применяем функцию к Series
experience_in_months = experience_series.apply(get_experience)

print(experience_in_months)

In [ ]:
import pandas as pd

# Примеры данных
test_series_1 = pd.Series([
    'Опыт работы 8 лет 3 месяца',
    'Опыт работы 3 года 5 месяцев',
    'Опыт работы 1 год 9 месяцев',
    'Опыт работы 3 месяца',
    'Опыт работы 6 лет'
])

test_series_2 = pd.Series([
    'Опыт работы 5 лет',
    'Опыт работы 5 месяцев',
    'Опыт работы 1 год 1 месяц',
    'Опыт работы 3 месяца',
    'Опыт работы 7 лет'
])




def get_experience(arg):
    # Инициализируем переменные для лет и месяцев
    years = 0
    months = 0
    
    # Разбиваем строку на слова
    words = arg.split()
    
    # Проходим по словам и анализируем их
    for i, word in enumerate(words):
        if word.isdigit():  # Если слово является числом
            number = int(word)
            # Проверяем следующее слово, чтобы определить, к чему относится число
            if i + 1 < len(words):
                next_word = words[i + 1]
                if "год" in next_word or "лет" in next_word:
                    years = number
                elif "месяц" in next_word or "месяцев" in next_word:
                    months = number
    
    # Возвращаем общее количество месяцев
    return years * 12 + months
# Применяем функцию к Series
result_1 = test_series_1.apply(get_experience)
result_2 = test_series_2.apply(get_experience)

print("Результат для test_series_1:")
print(result_1)

print("\nРезультат для test_series_2:")
print(result_2)

In [ ]:
# авайте определим число уникальных категорий в каждом столбце нашей таблицы melb_df. Для этого создадим вспомогательную таблицу unique_counts:

# создаём пустой список
unique_list = []
# пробегаемся по именам столбцов в таблице
for col in melb_df.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, melb_df[col].nunique(),melb_df[col].dtypes)     # добавляем кортеж в список
    unique_list.append(item) 
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique',  ignore_index=True)
# выводим её на экран
display(unique_counts)

In [ ]:
display(melb_df.info())

In [ ]:
# Сделаем преобразование столбцов к типу данных category:

cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category') # преобразуем тип столбца
display(melb_df.info())

In [ ]:
# У типа данных category есть свой специальный аксесcор cat, который позволяет получать информацию о своих значениях и преобразовывать их. Например, с помощью атрибута этого аксессора categories мы можем получить список уникальных категорий в столбце Regionname:

print(melb_df['Regionname'].cat.categories)

In [ ]:
# А теперь посмотрим, каким образом столбец кодируется в виде чисел в памяти компьютера. Для этого можно воспользоваться атрибутом codes:

display(melb_df['Regionname'].cat.codes)

In [ ]:
# С помощью метода аксессора rename_categories() можно легко переименовать текущие значения категорий. Для этого в данный метод нужно передать словарь, ключи которого — старые имена категорий, а значения — новые.
# 
# Рассмотрим на примере: переименуем категории признака типа постройки Type — заменим их на полные названия (напомним, u — unit, h — house, t — townhouse).

melb_df['Type'] = melb_df['Type'].cat.rename_categories({
    'u': 'unit',
    't': 'townhouse',
    'h': 'house'
})
display(melb_df['Type'])

In [ ]:
# А теперь представим ситуацию, что появилась новая партия домов и теперь мы продаём и квартиры (flat). Создадим объект Series new_houses_types, в котором будем хранить типы зданий новой партии домов. Преобразуем тип new_houses_types в такой же тип, как и у столбца Type в таблице melb_data, и выведем результат на экран:

new_houses_types = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
new_houses_types = new_houses_types.astype(melb_df['Type'].dtype)
display(new_houses_types)

In [ ]:
# На самом деле причина проста: тип данных category хранит только категории, которые были объявлены при его инициализации. При встрече с новой, неизвестной ранее категорией, этот тип превратит её в пустое значение, так как он просто не знает о существовании этой категории.
# 
# Решить эту проблему на самом деле не сложно. Можно добавить категорию flat в столбец Type с помощью метода акссесора cat add_categories(), в который достаточно просто передать имя новой категории:

melb_df['Type'] = melb_df['Type'].cat.add_categories('flat')
new_houses_types = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
new_houses_types = new_houses_types.astype(melb_df['Type'].dtype)
display(new_houses_types)

In [ ]:
import pandas as pd

# Предположим, что melb_df уже загружен
# melb_df = pd.read_csv('path_to_melb_data.csv')

# Шаг 1: Узнать, сколько памяти занимает таблица до преобразования
memory_before = melb_df.memory_usage(deep=True).sum() / (1024 ** 2)  # Переводим в МБ

# Шаг 2: Преобразовать столбец Suburb
# Оставляем 119 наиболее популярных пригородов
top_suburbs = melb_df['Suburb'].value_counts().head(119).index
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in top_suburbs else 'other')

# Приводим столбец Suburb к категориальному типу
melb_df['Suburb'] = melb_df['Suburb'].astype('category')

# Шаг 3: Узнать, сколько памяти занимает таблица после преобразования
memory_after = melb_df.memory_usage(deep=True).sum() / (1024 ** 2)  # Переводим в МБ

# Шаг 4: Вычислить разницу в объёме памяти
memory_diff = memory_before - memory_after

# Округляем результат до десятых
memory_diff_rounded = round(memory_diff, 1)

# Вывод результата
print(f"Разница в объёме памяти: {memory_diff} МБ")

In [ ]:
import pandas as pd

# Загружаем данные
  # Укажите путь к файлу
bike_df = pd.read_csv('data/citibike-tripdata.csv', sep=',')

# Выводим первые строки таблицы
print(bike_df.head())

In [ ]:
# Общая информация о данных
print(bike_df.info())

# Размер таблицы
print(f"Размер таблицы: {bike_df.shape}")

# Основные статистики для числовых столбцов
print(bike_df.describe())

In [ ]:
# Проверка пропущенных значений
missing_values = bike_df.isnull().sum()
print(missing_values)

In [ ]:
# Столбцы starttime и stoptime содержат информацию о времени начала и окончания поездки. Преобразуем их в формат datetime:

# Преобразование времени в datetime
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'])
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'])

# Создание новых признаков: дата и время дня
bike_df['start_date'] = bike_df['starttime'].dt.date
bike_df['start_hour'] = bike_df['starttime'].dt.hour

# Проверка
print(bike_df[['starttime', 'start_date', 'start_hour']].head())

In [ ]:
# Самые популярные стартовые станции с их ID
top_start_stations = (
    bike_df
    .groupby(['start station id', 'start station name'])
    .size()
    .reset_index(name='count')
    .sort_values(by='count', ascending=False)
    .head(10)
)
print("Самые популярные стартовые станции:")
print(top_start_stations)

# Самые популярные конечные станции с их ID
top_end_stations = (
    bike_df
    .groupby(['end station id', 'end station name'])
    .size()
    .reset_index(name='count')
    .sort_values(by='count', ascending=False)
    .head(10)
)
print("\nСамые популярные конечные станции:")
print(top_end_stations)

In [ ]:
# Подсчет количества поездок для каждого bikeid
bike_counts = bike_df['bikeid'].value_counts()

# Находим bikeid с максимальным количеством поездок
most_popular_bike_id = bike_counts.idxmax()
most_popular_bike_count = bike_counts.max()

print(f"Самый популярный велосипед: ID {most_popular_bike_id}, количество поездок: {most_popular_bike_count}")

In [ ]:
# Подсчет количества клиентов каждого типа
user_type_counts = bike_df['usertype'].value_counts()

# Определяем преобладающий тип клиентов
most_common_user_type = user_type_counts.idxmax()  # Преобладающий тип
most_common_count = user_type_counts.max()        # Количество клиентов этого типа

# Общее количество клиентов
total_users = user_type_counts.sum()

# Доля преобладающего типа клиентов
dominant_user_share = most_common_count / total_users

# Округляем до сотых
dominant_user_share_rounded = round(dominant_user_share, 2)

print(f"Преобладающий тип клиентов: {most_common_user_type}")
print(f"Доля преобладающего типа клиентов: {dominant_user_share_rounded}")

In [ ]:
# Подсчет количества поездок для мужчин (gender == 1) и женщин (gender == 2)
male_trips = bike_df[bike_df['gender'] == 1].shape[0]
female_trips = bike_df[bike_df['gender'] == 2].shape[0]

# Определяем, у кого больше поездок
if male_trips > female_trips:
    result = male_trips
    print(f"Мужчины совершили больше поездок: {result}")
else:
    result = female_trips
    print(f"Женщины совершили больше поездок: {result}")

# Выводим результат
print(result)

In [ ]:
# Удаляем столбцы 'start station id' и 'end station id'
bike_df = bike_df.drop(columns=['start station id', 'end station id'])

# Определяем количество оставшихся столбцов
remaining_columns_count = bike_df.shape[1]

print(f"Количество оставшихся столбцов: {remaining_columns_count}")

In [ ]:
# Создаём новый признак 'age' (возраст) на основе года рождения
bike_df['age'] = 2018 - bike_df['birth year']

# Удаляем столбец 'birth year'
bike_df = bike_df.drop(columns=['birth year'])

# Подсчитываем количество поездок клиентов старше 60 лет
trips_by_seniors = bike_df[bike_df['age'] > 60].shape[0]

print(f"Количество поездок клиентов старше 60 лет: {trips_by_seniors}")

In [ ]:
# Преобразуем столбцы starttime и stoptime в формат datetime
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'])
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'])

# Создаём новый признак trip_duration (длительность поездки в минутах)
bike_df['trip_duration'] = (bike_df['stoptime'] - bike_df['starttime']).dt.total_seconds() / 60

# Округляем до целых минут
bike_df['trip_duration'] = bike_df['trip_duration'].round().astype(int)

# Находим длительность поездки под индексом 3
trip_duration_index_3 = bike_df.loc[3, 'trip_duration']

print(f"Длительность поездки под индексом 3: {trip_duration_index_3} минут")

In [ ]:
# Преобразуем столбец starttime в формат datetime (если ещё не преобразован)
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'])

# Извлекаем день недели (0 - понедельник, 6 - воскресенье)
bike_df['weekday'] = bike_df['starttime'].dt.dayofweek

# Создаём признак weekend (1 — выходной, 0 — будний день)
bike_df['weekend'] = bike_df['weekday'].apply(lambda x: 1 if x >= 5 else 0)

# Подсчитываем количество поездок, начавшихся в выходные
weekend_trips_count = bike_df[bike_df['weekend'] == 1].shape[0]

print(f"Количество поездок, начавшихся в выходные: {weekend_trips_count}")

In [ ]:
# Преобразуем столбец starttime в формат datetime (если ещё не преобразован)
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'])

# Извлекаем час начала поездки
bike_df['hour'] = bike_df['starttime'].dt.hour

# Создаём признак time_of_day
def get_time_of_day(hour):
    if 0 <= hour <= 6:
        return 'night'
    elif 6 < hour <= 12:
        return 'morning'
    elif 12 < hour <= 18:
        return 'day'
    else:  # 18 < hour <= 23
        return 'evening'

bike_df['time_of_day'] = bike_df['hour'].apply(get_time_of_day)

# Подсчитываем количество поездок для каждого времени суток
time_of_day_counts = bike_df['time_of_day'].value_counts()

# Количество поездок днём и ночью
day_trips = time_of_day_counts.get('day', 0)  # Поездки днём
night_trips = time_of_day_counts.get('night', 0)  # Поездки ночью

# Вычисляем отношение
ratio = day_trips / night_trips

# Округляем до целых
ratio_rounded = round(ratio)

print(f"Количество поездок днём больше, чем ночью, в {ratio_rounded} раз(а)")

In [2]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_fe.csv')
melb_df.head()
#display(melb_df.info())

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,Abbotsford,2,house,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,...,144.9984,Northern Metropolitan,4019,25.20,-0.231707,3,46,5,St,1
1,Abbotsford,2,house,1035000.0,S,Biggin,2016-04-02,2.5,3067,2,...,144.9934,Northern Metropolitan,4019,15.80,-0.327660,4,116,5,St,1
2,Abbotsford,3,house,1465000.0,SP,Biggin,2017-04-03,2.5,3067,3,...,144.9944,Northern Metropolitan,4019,18.75,0.056338,4,117,0,St,0
3,Abbotsford,3,house,850000.0,PI,Biggin,2017-04-03,2.5,3067,3,...,144.9969,Northern Metropolitan,4019,15.75,0.145455,4,47,0,other,0
4,Abbotsford,4,house,1600000.0,VB,Nelson,2016-04-06,2.5,3067,3,...,144.9941,Northern Metropolitan,4019,17.75,0.083969,4,2,2,St,0

In [3]:
# Преобразуйте столбец Date в формат datetime и выделите квартал (quarter) продажи объектов недвижимости. Найдите второй по популярности квартал продажи. В качестве ответа запишите число объектов, проданных в этом квартале.

import pandas as pd

# Преобразуем столбец Date в формат datetime
melb_df['Date'] = pd.to_datetime(melb_df['Date'])

# Выделяем квартал из даты
melb_df['Quarter'] = melb_df['Date'].dt.quarter

# Подсчитываем количество объектов, проданных в каждом квартале
quarter_counts = melb_df['Quarter'].value_counts()

# Находим второй по популярности квартал
second_most_popular_quarter_count = quarter_counts.sort_values(ascending=False).iloc[1]

print(f"Количество объектов, проданных во втором по популярности квартале: {second_most_popular_quarter_count}")

Количество объектов, проданных во втором по популярности квартале: 4359

In [4]:
# Преобразуйте все столбцы, в которых меньше 150 уникальных значений, в тип данных category, исключив из преобразования столбцы Date, Rooms, Bedroom, Bathroom, Car.
# В качестве ответа запишите результирующее количество столбцов, которые имеют тип данных category.


import pandas as pd

# Исключаемые столбцы
exclude_columns = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']

# Выводим информацию о количестве уникальных значений для каждого столбца
print("Количество уникальных значений в каждом столбце:")
unique_counts = melb_df.nunique()
print(unique_counts)

# Преобразуем столбцы с менее чем 150 уникальными значениями в тип category
for column in melb_df.columns:
    if column not in exclude_columns:  # Исключаем указанные столбцы
        if melb_df[column].nunique() < 150:  # Проверяем количество уникальных значений
            melb_df[column] = melb_df[column].astype('category')

# Подсчитываем количество столбцов с типом данных category
category_columns_count = melb_df.select_dtypes(include=['category']).shape[1]

# Выводим список столбцов с типом данных category
print("\nСтолбцы с типом данных category:")
print(melb_df.select_dtypes(include=['category']).columns)

print(f"\nКоличество столбцов с типом данных category: {category_columns_count}")

Количество уникальных значений в каждом столбце:
Suburb              120
Rooms                 9
Type                  3
Price              2204
Method                5
SellerG              50
Date                 58
Distance            202
Postcode            198
Bedroom              12
Bathroom              9
Car                  11
Landsize           1448
BuildingArea        602
CouncilArea          33
Lattitude          6503
Longtitude         7063
Regionname            8
Propertycount       311
MeanRoomsSquare    1275
AreaRatio          6521
MonthSale            12
AgeBuilding         152
WeekdaySale           7
StreetType           11
Weekend               2
Quarter               4
dtype: int64

Столбцы с типом данных category:
Index(['Suburb', 'Type', 'Method', 'SellerG', 'CouncilArea', 'Regionname',
       'MonthSale', 'WeekdaySale', 'StreetType', 'Weekend', 'Quarter'],
      dtype='object')

Количество столбцов с типом данных category: 11

In [5]:
# Отсортируем таблицу по возрастанию цены объектов недвижимости (Price):
melb_df.sort_values(by='Price').head(10)
melb_df.sort_values(by='Date', ascending=False)

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend,Quarter
11144,Northcote,4,house,1955000.0,SP,McGrath,2017-12-08,5.3,3070,4,...,Northern Metropolitan,11364,12.600000,0.923664,12,47,4,St,0,4
11217,Surrey Hills,3,house,1775000.0,PI,Jellis,2017-12-08,10.2,3127,3,...,Southern Metropolitan,5457,15.750000,-0.721854,12,47,4,Rd,0,4
11206,St Kilda,4,house,1600000.0,VB,Gary,2017-12-08,5.0,3182,4,...,Southern Metropolitan,13240,16.000000,-0.586028,12,107,4,St,0,4
11207,Strathmore,7,house,2000000.0,SP,Nelson,2017-12-08,8.2,3041,7,...,Western Metropolitan,3284,20.882353,-0.262721,12,18,4,Rd,0,4
11208,Strathmore,4,house,1610000.0,S,other,2017-12-08,8.2,3041,4,...,Western Metropolitan,3284,24.909091,-0.517181,12,62,4,St,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555,Camberwell,4,house,2650000.0,S,Jellis,2016-03-09,7.8,3124,4,...,Southern Metropolitan,8920,18.900000,-0.550535,3,126,2,Rd,0,1
4510,Oak Park,3,house,892000.0,S,Nelson,2016-03-09,11.5,3046,3,...,Northern Metropolitan,2651,18.000000,-0.714609,3,46,2,St,0,1
4388,Northcote,3,house,1200000.0,S,Nelson,2016-03-09,5.5,3070,3,...,Northern Metropolitan,11364,17.857143,-0.264706,3,96,2,St,0,1
6184,Surrey Hills,3,house,1205000.0,S,Fletchers,2016-01-28,11.2,3127,3,...,Southern Metropolitan,5457,18.000000,-0.590909,1,46,3,Rd,0,1
6183,Surrey Hills,2,unit,813000.0,S,Fletchers,2016-01-28,11.2,3127,2,...,Southern Metropolitan,5457,25.200000,0.076923,1,46,3,Rd,0,1

In [6]:
# Так, например, отсортируем таблицу сначала по возрастанию расстояния от центра города (Distance), а затем — по возрастанию цены объекта (Price). Для того чтобы вывод был более наглядным, выделим каждую десятую строку из столбцов Distance и Price результирующей таблицы:

melb_df.sort_values(by=['Distance', 'Price']).loc[::10, ['Distance', 'Price']]

       Distance      Price
11428       0.0   387000.0
10512       0.7   600000.0
5727        1.2   485000.0
8671        1.2   595000.0
5736        1.2   740000.0
...         ...        ...
12011      38.0   680000.0
10673      38.0   810000.0
13429      38.0  1155000.0
11102      41.0   650000.0
12728      45.9   650000.0

[1358 rows x 2 columns]

In [7]:
# Найдём информацию о таунхаусах (Type), проданных компанией (SellerG) McGrath, у которых коэффициент соотношения площадей здания и участка (AreaRatio) меньше -0.8. Результат отсортируем по дате продажи (Date) в порядке возрастания, а после проведём сортировку по убыванию коэффициента соотношения площадей. Также обновим старые индексы на новые, установив параметр ignore_index на True. Для наглядности результата выберем из таблицы только столбцы Data и AreaRatio:

mask1 = melb_df['AreaRatio'] < -0.8
mask2 = melb_df['Type'] == 'townhouse'
mask3 = melb_df['SellerG'] == 'McGrath'
melb_df[mask1 & mask2 & mask3].sort_values(
    by=['Date', 'AreaRatio'],
    ascending=[True, False],
    ignore_index=True
).loc[:, ['Date', 'AreaRatio']]

        Date  AreaRatio
0 2016-07-26  -0.974922
1 2016-09-24  -0.971831
2 2016-11-27  -0.953608
3 2016-12-11  -0.945946
4 2017-08-04  -0.947368
5 2017-08-04  -0.970874

In [8]:
import pandas as pd

# Сортировка данных одной командой:
# 1. По AreaRatio в порядке убывания
# 2. Затем по BuildingArea в порядке убывания
melb_df = melb_df.sort_values(by=['AreaRatio', 'BuildingArea'], ascending=[False, False])

# Замена индексов на новые (ignore_index=True)
melb_df = melb_df.reset_index(drop=True)

# Извлечение значения площади здания (BuildingArea) для строки с индексом 1558
building_area_value = round(melb_df.loc[1558, 'BuildingArea'])

print(f"Значение площади здания в строке 1558: {building_area_value}")

melb_df.head()

Значение площади здания в строке 1558: 65

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend,Quarter
0,Elsternwick,2,unit,741000.0,S,Biggin,2016-04-16,8.5,3185,3,...,Southern Metropolitan,4898,260.166667,1.0,4,50,5,Rd,1,2
1,Glen Iris,2,townhouse,600000.0,VB,Gary,2016-08-22,9.2,3146,2,...,Southern Metropolitan,10412,228.600000,1.0,8,46,0,St,0,3
2,Essendon,3,house,1100000.0,PI,Raine,2016-08-28,8.0,3040,3,...,Western Metropolitan,9264,100.000000,1.0,8,101,6,St,1,3
3,Port Melbourne,3,unit,2260000.0,S,Marshall,2016-05-22,3.8,3207,3,...,Southern Metropolitan,8648,56.250000,1.0,5,46,6,St,1,2
4,Strathmore,4,house,1635000.0,S,other,2017-11-02,9.7,3041,4,...,Western Metropolitan,3284,29.700000,1.0,11,22,3,St,0,4

In [12]:

import pandas as pd



# Фильтрация данных: таунхаусы (Type 't') с Rooms > 2
filtered_df = melb_df[(melb_df['Type'] == 'townhouse') & (melb_df['Rooms'] > 2)]  # Исправлено 't' на 'townhouse'

# Сортировка
sorted_df = filtered_df.sort_values(
    by=['Rooms', 'MeanRoomsSquare'],
    ascending=[True, False]
).reset_index(drop=True)

# Проверка наличия строки с индексом 18
if len(sorted_df) > 18:
    price_value = sorted_df.loc[18, 'Price']
    price_value_rounded = round(price_value)
    print(f"Цена объекта в строке 18: {price_value_rounded}")
else:
    print("Ошибка: Недостаточно данных после фильтрации и сортировки.")

Цена объекта в строке 18: 1300000

In [13]:
# Группировка данных по одному критерию с одной агрегацией
# Рассмотрим группировку данных на примере нашей таблицы с недвижимостью.
# Применим агрегирующую функцию среднего к результату работы groupby(). В качестве столбца для группировки возьмём столбец типа объекта недвижимости (Type):

melb_df.groupby(by='Type').mean(numeric_only=True)

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\3837754834.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  melb_df.groupby(by='Type').mean(numeric_only=True)

,Rooms,Price,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,Lattitude,Longtitude,Propertycount,MeanRoomsSquare,AreaRatio,AgeBuilding
Type,,,,,,,,,,,,,,,
house,3.260874,1.242665e+06,10.979479,3104.080643,3.229336,1.613822,1.772674,617.181924,152.162553,-37.803795,144.994700,7259.025505,18.996731,-0.490031,55.669700
townhouse,2.837522,9.337351e+05,9.851346,3100.777379,2.814183,1.809695,1.555655,279.606822,134.649710,-37.815782,144.996489,7094.459605,18.569847,-0.094916,26.690305
unit,1.963871,6.051275e+05,7.607391,3110.797481,1.966523,1.183295,1.128936,477.314219,102.235863,-37.823710,144.996363,8199.280080,21.068242,0.319883,39.703016

In [14]:
# Как правило, нам не нужна информация обо всех столбцах, поэтому агрегирующие методы можно применять только к интересующему нас столбцу. Например, давайте сравним средние цены на объекты в зависимости от их типа:
melb_df.groupby('Type')['Price'].mean()

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\2040432918.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  melb_df.groupby('Type')['Price'].mean()

Type
house        1.242665e+06
townhouse    9.337351e+05
unit         6.051275e+05
Name: Price, dtype: float64

In [15]:
# Теперь давайте выясним, какие регионы (Regionname) наиболее удалены от центра Мельбурна.
# 
# Для этого найдём минимальное значение расстояния от центра города до объекта в зависимости от его региона. Результат отсортируем по убыванию расстояния:

melb_df.groupby('Regionname')['Distance'].min().sort_values(ascending=False)

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\2696631697.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  melb_df.groupby('Regionname')['Distance'].min().sort_values(ascending=False)

Regionname
Western Victoria              29.8
Eastern Victoria              25.2
Northern Victoria             21.8
South-Eastern Metropolitan    14.7
Eastern Metropolitan           7.8
Western Metropolitan           4.3
Southern Metropolitan          0.7
Northern Metropolitan          0.0
Name: Distance, dtype: float64

In [18]:
# Группировка данных по одному критерию с несколькими агрегациями

melb_df.groupby('MonthSale')['Price'].agg(
    ['count', 'mean', 'max']
).sort_values(by='count', ascending=False)

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\180698120.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  melb_df.groupby('MonthSale')['Price'].agg(

           count          mean        max
MonthSale
8           1850  1.056371e+06  6500000.0
7           1835  9.314698e+05  9000000.0
5           1644  1.097807e+06  8000000.0
6           1469  1.068981e+06  7650000.0
3           1408  1.146762e+06  5600000.0
4           1246  1.050479e+06  5500000.0
9           1188  1.126349e+06  6400000.0
10           854  1.135970e+06  6250000.0
11           750  1.142503e+06  5050000.0
12           725  1.144737e+06  5700000.0
2            333  1.169051e+06  4735000.0
1            278  9.397921e+05  5200000.0

In [19]:
# Примечание. Если вам нужна полная информация обо всех основных статистических характеристиках внутри каждой группы, вы можете воспользоваться методом agg(), передав в качестве его параметра строку 'describe':
melb_df.groupby('MonthSale')['Price'].agg('describe')

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\1006657176.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  melb_df.groupby('MonthSale')['Price'].agg('describe')

,count,mean,std,min,25%,50%,75%,max
MonthSale,,,,,,,,
1,278.0,9.397921e+05,577668.924214,170000.0,570500.0,795000.0,1111250.0,5200000.0
2,333.0,1.169051e+06,671564.357417,131000.0,710000.0,1020000.0,1478000.0,4735000.0
3,1408.0,1.146762e+06,709573.596867,85000.0,680000.0,945000.0,1400000.0,5600000.0
4,1246.0,1.050479e+06,591892.902979,145000.0,655000.0,905500.0,1298750.0,5500000.0
5,1644.0,1.097807e+06,668492.867996,145000.0,650000.0,905000.0,1371250.0,8000000.0
6,1469.0,1.068981e+06,606010.069052,222000.0,660000.0,900000.0,1325000.0,7650000.0
7,1835.0,9.314698e+05,537390.803161,190000.0,586750.0,800000.0,1150000.0,9000000.0
8,1850.0,1.056371e+06,619617.476541,160000.0,635000.0,892000.0,1310000.0,6500000.0
9,1188.0,1.126349e+06,608734.690742,170000.0,725000.0,980000.0,1360000.0,6400000.0
10,854.0,1.135970e+06,692950.251627,250000.0,652625.0,950000.0,1416500.0,6250000.0
11,750.0,1.142503e+06,703666.227892,240000.0,671750.0,950000.0,1399125.0,5050000.0
12,725.0,1.144737e+06,706549.007161,250000.0,667500.0,938000.0,1412000.0,5700000.0

In [27]:
# После базовых математических функций наиболее частым агрегированием является подсчёт числа уникальных значений. Так, например, мы можем вычислить число уникальных риелторских компаний в зависимости от региона, чтобы понять, в каких регионах конкуренция на рынке недвижимости меньше. Это можно сделать, передав в параметр метода agg() строку 'nunique'. 
# 
# Более того, метод agg() поддерживает использование и других функций. Передадим дополнительно встроенную функцию set, чтобы получить множество из агентств недвижимости, которые работают в каждом из регионов:


melb_df.groupby('Regionname')['SellerG'].agg(
    		['nunique', set]
)

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\1282827107.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  melb_df.groupby('Regionname')['SellerG'].agg(

,nunique,set
Regionname,,
Eastern Metropolitan,26,"{Fletchers, Biggin, RW, Noel, Gary, HAR, Barry..."
Eastern Victoria,11,"{Fletchers, Barry, HAR, Ray, McGrath, other, H..."
Northern Metropolitan,40,"{Fletchers, Alexkarbon, Biggin, YPA, LITTLE, R..."
Northern Victoria,11,"{HAR, Barry, Ray, McGrath, Buckingham, other, ..."
South-Eastern Metropolitan,25,"{Fletchers, Biggin, RW, Noel, O'Brien, Hodges,..."
Southern Metropolitan,38,"{Fletchers, Biggin, LITTLE, Noel, RW, O'Brien,..."
Western Metropolitan,34,"{Alexkarbon, Biggin, Moonee, YPA, RW, O'Brien,..."
Western Victoria,6,"{HAR, Ray, other, YPA, hockingstuart, Raine}"

In [25]:
# Сгруппируйте данные по признаку количества комнат и найдите среднюю цену объектов недвижимости в каждой группе. В качестве ответа запишите количество комнат, для которых средняя цена наибольшая.

melb_df.groupby('Rooms')['Price'].mean().sort_values(ascending=False)

Rooms
7     1.920700e+06
5     1.870260e+06
6     1.849366e+06
8     1.602750e+06
4     1.445282e+06
3     1.076081e+06
10    9.000000e+05
2     7.750812e+05
1     4.338245e+05
Name: Price, dtype: float64

In [28]:
# Какой регион имеет наименьшее стандартное отклонение по географической широте (Lattitude)?
# В качестве ответа запишите название этого региона.

melb_df.groupby('Regionname')['Lattitude'].agg('describe')

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\3420156283.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  melb_df.groupby('Regionname')['Lattitude'].agg('describe')

,count,mean,std,min,25%,50%,75%,max
Regionname,,,,,,,,
Eastern Metropolitan,1471.0,-37.788820,0.047890,-37.90383,-37.823185,-37.777000,-37.751800,-37.68508
Eastern Victoria,53.0,-37.959292,0.147067,-38.16439,-38.070540,-38.026210,-37.788830,-37.75735
Northern Metropolitan,3890.0,-37.747258,0.049639,-37.93940,-37.785100,-37.753380,-37.713625,-37.56857
Northern Victoria,41.0,-37.599620,0.084455,-37.68503,-37.672770,-37.638260,-37.507330,-37.40853
South-Eastern Metropolitan,450.0,-37.993727,0.073411,-38.18255,-38.028280,-37.981155,-37.931123,-37.89210
Southern Metropolitan,4695.0,-37.866981,0.043080,-37.99035,-37.901200,-37.858800,-37.835670,-37.78142
Western Metropolitan,2948.0,-37.782382,0.051251,-37.91859,-37.811885,-37.780400,-37.750275,-37.56005
Western Victoria,32.0,-37.695163,0.011579,-37.71691,-37.702827,-37.695075,-37.687370,-37.67344

In [29]:
# Какая риелторская компания (SellerG) имеет наименьшую общую выручку за период с 1 мая по 1 сентября (включительно) 2017 года?
# Для ответа на этот вопрос рассчитайте сумму продаж (Price) каждой компании в заданный период.
# Не забудьте перевести даты в формат datetime.

import pandas as pd



# Преобразование столбца Date в datetime
melb_df['Date'] = pd.to_datetime(melb_df['Date'])

# Фильтрация данных по периоду с 1 мая по 1 сентября 2017 (включительно)
filtered_df = melb_df[
    (melb_df['Date'] >= '2017-05-01') & 
    (melb_df['Date'] <= '2017-09-01')
]

# Группировка по риелторским компаниям и расчет общей выручки
revenue_by_seller = filtered_df.groupby('SellerG')['Price'].sum()

# Находим компанию с наименьшей выручкой
min_revenue_seller = revenue_by_seller.idxmin()
min_revenue_value = revenue_by_seller.min()

print(f'Компания с наименьшей выручкой: {min_revenue_seller}')
print(f'Сумма выручки: ${min_revenue_value:,.2f}')

Компания с наименьшей выручкой: LITTLE
Сумма выручки: $2,742,000.00

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\212857782.py:19: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  revenue_by_seller = filtered_df.groupby('SellerG')['Price'].sum()

In [30]:
melb_df.groupby('Rooms')[['Price', 'BuildingArea']].median()

           Price  BuildingArea
Rooms
1       385000.0         107.0
2       690000.0         126.0
3       950000.0         126.0
4      1285000.0         142.0
5      1660000.0         176.0
6      1800000.0         126.0
7      1496000.0         216.5
8      1515000.0         126.0
10      900000.0         126.0

In [31]:
# Также можно построить таблицу, в которой мы будем учитывать не только число комнат, но и тип здания (Type). Для этого в параметрах метода groupby() укажем список из нескольких интересующих нас столбцов.
melb_df.groupby(['Rooms', 'Type'])['Price'].mean()

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\847646331.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  melb_df.groupby(['Rooms', 'Type'])['Price'].mean()

Rooms  Type
1      house        8.668655e+05
       townhouse    5.927045e+05
       unit         3.899289e+05
2      house        1.017238e+06
       townhouse    7.101585e+05
       unit         6.104905e+05
3      house        1.109233e+06
       townhouse    9.847087e+05
       unit         8.505963e+05
4      house        1.462283e+06
       townhouse    1.217092e+06
       unit         1.037476e+06
5      house        1.877327e+06
       townhouse    1.035000e+06
       unit                  NaN
6      house        1.869508e+06
       townhouse             NaN
       unit         5.200000e+05
7      house        1.920700e+06
       townhouse             NaN
       unit                  NaN
8      house        1.510286e+06
       townhouse             NaN
       unit         2.250000e+06
10     house        9.000000e+05
       townhouse             NaN
       unit                  NaN
Name: Price, dtype: float64

In [33]:
# В результате выполнения такого кода мы получаем Series, которая обладает несколькими уровнями индексов: первый уровень — число комнат, второй уровень — тип здания. Такая организация индексов называется иерархической. Вычисление параметра (средней цены) происходит во всех возможных комбинациях признаков.
# 
# Для того, чтобы финальный результат был представлен в виде сводной таблицы (первый группировочный признак по строкам, а второй — по столбцам), а не в виде Series с иерархическими индексами, к результату чаще всего применяют метод unstack(), который позволяет переопределить вложенный индекс в виде столбцов таблицы:

melb_df.groupby(['Rooms', 'Type'])['Price'].mean().unstack()

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\1305350775.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  melb_df.groupby(['Rooms', 'Type'])['Price'].mean().unstack()

Type          house     townhouse          unit
Rooms
1      8.668655e+05  5.927045e+05  3.899289e+05
2      1.017238e+06  7.101585e+05  6.104905e+05
3      1.109233e+06  9.847087e+05  8.505963e+05
4      1.462283e+06  1.217092e+06  1.037476e+06
5      1.877327e+06  1.035000e+06           NaN
6      1.869508e+06           NaN  5.200000e+05
7      1.920700e+06           NaN           NaN
8      1.510286e+06           NaN  2.250000e+06
10     9.000000e+05           NaN           NaN

In [34]:
# Давайте построим ту же самую таблицу, но уже с использованием метода pivot_table. В качестве параметра values укажем столбец Price, в качестве индексов сводной таблицы возьмём Rooms, а в качестве столбцов — Type. Агрегирующую функцию оставим по умолчанию (среднее). Дополнительно заменим пропуски в таблице на значение 0. Финальный результат для наглядности вывода округлим с помощью метода round() до целых.

melb_df.pivot_table(
    values='Price',
    index='Rooms',
    columns='Type',
    fill_value=0
).round()

# Несложно понять, что метод pivot_table() имеет преимущество перед группировкой по нескольким критериям. Оно заключается в наличии специальных аргументов для строк и столбцов сводной таблицы, благодаря чему уменьшается вероятность запутаться при построении более сложных (многомерных) сводных таблиц, о которых мы поговорим далее.

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\3251540314.py:3: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  melb_df.pivot_table(

Type       house  townhouse       unit
Rooms
1       866866.0   592705.0   389929.0
2      1017238.0   710158.0   610491.0
3      1109233.0   984709.0   850596.0
4      1462283.0  1217092.0  1037476.0
5      1877327.0  1035000.0        0.0
6      1869508.0        0.0   520000.0
7      1920700.0        0.0        0.0
8      1510286.0        0.0  2250000.0
10      900000.0        0.0        0.0

In [35]:
# А теперь давайте проанализируем продажи в каждом из регионов в зависимости от того, будний был день или выходной. Для этого построим сводную таблицу, в которой строками будут являться названия регионов (Regionname), а в столбцах будет располагаться наш «признак-мигалка» выходного дня (Weekend), который равен 1, если день был выходным, и 0 — в противном случае. В качестве значений сводной таблицы возьмём количество продаж.

melb_df.pivot_table(
    values='Price',
    index='Regionname',
    columns='Weekend',
    aggfunc='count'
)

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\2030952239.py:3: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  melb_df.pivot_table(

Weekend                        0     1
Regionname
Eastern Metropolitan         447  1024
Eastern Victoria              13    40
Northern Metropolitan       1258  2632
Northern Victoria             11    30
South-Eastern Metropolitan   123   327
Southern Metropolitan       1534  3161
Western Metropolitan         960  1988
Western Victoria               8    24

In [36]:
# Разберём ещё один пример: найдём, как зависит средняя и медианная площадь участка (Landsize) от типа объекта (Type) и его региона (Regionname). Чтобы посмотреть несколько статистических параметров, нужно передать в аргумент aggfunc список из агрегирующих функций. Построим такую сводную таблицу, где пропущенные значения заменим на 0:

melb_df.pivot_table(
    values='Landsize',
    index='Regionname',
    columns='Type',
    aggfunc=['median', 'mean'],
    fill_value=0
)

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\2986786524.py:3: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  melb_df.pivot_table(
C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\2986786524.py:3: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  melb_df.pivot_table(

                           median                          mean              \
Type                        house townhouse   unit        house   townhouse
Regionname
Eastern Metropolitan        674.0     233.5  203.0   717.422847  269.440678
Eastern Victoria            843.0       0.0  230.0  3108.960000    0.000000
Northern Metropolitan       459.5     134.0    0.0   619.249092  317.325733
Northern Victoria           724.0       0.0    0.0  3355.463415    0.000000
South-Eastern Metropolitan  630.5     240.0  199.0   664.306701  212.160000
Southern Metropolitan       586.0     246.0    0.0   569.643881  278.858824
Western Metropolitan        531.0     198.0   62.0   507.883406  244.560669
Western Victoria            599.5       0.0    0.0   655.500000    0.000000


Type                              unit
Regionname
Eastern Metropolitan        330.444444
Eastern Victoria            295.333333
Northern Metropolitan       495.026538
Northern Victoria             0.000000
South-Eastern Metropolitan  357.864865
Southern Metropolitan       466.380245
Western Metropolitan        557.637232
Western Victoria              0.000000

In [37]:
# Многомерные сводные таблицы
# 
# До этого мы рассматривали, как некоторый статистический показатель может зависеть от двух признаков. Однако, как уже упоминалось, сводные таблицы позволяют наблюдать зависимость и от большего числа признаков. Такие сводные таблицы называются многомерными. 
# 
# Для того чтобы исследовать зависимость от большего числа признаков, можно передать список признаков в параметр index или параметр columns.
# 
# Давайте построим таблицу, в которой по индексам будут располагаться признаки метода продажи (Method) и типа объекта (Type), по столбцам — наименование региона (Regionname), а на пересечении строк и столбцов будет стоять медианная цена объекта (Price):

melb_df.pivot_table(
    values='Price',
    index=['Method','Type'],
    columns='Regionname',
    aggfunc='median',
    fill_value=0
)

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\3155451719.py:9: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  melb_df.pivot_table(

Regionname        Eastern Metropolitan  Eastern Victoria  \
Method Type
PI     house                 1244000.0          780000.0
       townhouse              760000.0               0.0
       unit                   650000.0               0.0
S      house                 1127000.0          675000.0
       townhouse              828000.0               0.0
       unit                   645750.0          492000.0
SA     house                  932500.0          950000.0
       townhouse              807500.0               0.0
       unit                        0.0               0.0
SP     house                 1050000.0          672500.0
       townhouse              910000.0               0.0
       unit                   515000.0          400000.0
VB     house                 1100000.0          712500.0
       townhouse              892500.0               0.0
       unit                   500000.0               0.0

Regionname        Northern Metropolitan  Northern Victoria  \
Method Type
PI     house                   900000.0           500000.0
       townhouse               632500.0                0.0
       unit                    410000.0                0.0
S      house                   920000.0           555000.0
       townhouse               750000.0                0.0
       unit                    525500.0                0.0
SA     house                   817500.0           540000.0
       townhouse               425000.0                0.0
       unit                    616000.0                0.0
SP     house                   900000.0           521000.0
       townhouse               690000.0                0.0
       unit                    470000.0                0.0
VB     house                  1050000.0           690000.0
       townhouse               640000.0                0.0
       unit                    450000.0                0.0

Regionname        South-Eastern Metropolitan  Southern Metropolitan  \
Method Type
PI     house                        865000.0              1725000.0
       townhouse                   1190000.0              1055000.0
       unit                         525000.0               571250.0
S      house                        883300.0              1611000.0
       townhouse                    875000.0              1135000.0
       unit                         606000.0               655000.0
SA     house                        880000.0              1390000.0
       townhouse                         0.0              1141000.0
       unit                              0.0               580000.0
SP     house                        770000.0              1521750.0
       townhouse                    800000.0              1162500.0
       unit                         601000.0               550000.0
VB     house                        850000.0              1800000.0
       townhouse                         0.0              1250000.0
       unit                         700000.0               500000.0

Regionname        Western Metropolitan  Western Victoria
Method Type
PI     house                  870000.0          630000.0
       townhouse              670000.0               0.0
       unit                   360000.0               0.0
S      house                  870000.0          397500.0
       townhouse              729000.0               0.0
       unit                   489000.0               0.0
SA     house                  772500.0               0.0
       townhouse              467500.0               0.0
       unit                   571000.0               0.0
SP     house                  865000.0          360000.0
       townhouse              702500.0               0.0
       unit                   460000.0               0.0
VB     house                  880000.0               0.0
       townhouse              689500.0               0.0
       unit                   420000.0               0.0

In [38]:
# Доступ к данным в сводной таблице?
# Как получить доступ к данным или произвести фильтрацию в сложной сводной таблице, где есть дополнительные индексы?
# Давайте рассмотрим, что собой представляют столбцы сложной сводной таблицы.
# Запишем сводную таблицу, которую мы создавали ранее в переменную pivot:

pivot = melb_df.pivot_table(
    values='Landsize',
    index='Regionname',
    columns='Type',
    aggfunc=['median', 'mean'],
    fill_value=0
)
# Выведем её столбцы с помощью атрибута columns:

pivot.columns

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\230388833.py:6: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot = melb_df.pivot_table(
C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\230388833.py:6: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot = melb_df.pivot_table(

MultiIndex([('median',     'house'),
            ('median', 'townhouse'),
            ('median',      'unit'),
            (  'mean',     'house'),
            (  'mean', 'townhouse'),
            (  'mean',      'unit')],
           names=[None, 'Type'])

In [39]:
# В результате мы получаем объект MultiIndex. Этот объект хранит в себе шесть комбинаций пар столбцов (два статистических параметра и три типа здания), то есть есть шесть возможных вариантов обращения к столбцам таблицы.
# Мультииндексы раскрываются подобно вложенным словарям — по очереди, как матрёшка. Чтобы получить доступ к определённому столбцу, вы должны сначала обратиться к столбцу, который находится уровнем выше.
# Так, из таблицы pivot мы можем получить средние значения площадей участков для типа здания unit, просто последовательно обратившись по имени столбцов:

display(pivot['mean']['unit'])

Regionname
Eastern Metropolitan          330.444444
Eastern Victoria              295.333333
Northern Metropolitan         495.026538
Northern Victoria               0.000000
South-Eastern Metropolitan    357.864865
Southern Metropolitan         466.380245
Western Metropolitan          557.637232
Western Victoria                0.000000
Name: unit, dtype: float64

In [40]:
# Аналогично производится и фильтрация данных. Например, если нам нужны регионы, в которых средняя площадь здания для домов типа house меньше их медианной площади, то мы можем найти их следующим образом:

mask = pivot['mean']['house'] < pivot['median']['house']
filtered_pivot = pivot[mask]
display(filtered_pivot)

                      median                        mean              \
Type                   house townhouse  unit       house   townhouse
Regionname
Southern Metropolitan  586.0     246.0   0.0  569.643881  278.858824
Western Metropolitan   531.0     198.0  62.0  507.883406  244.560669


Type                         unit
Regionname
Southern Metropolitan  466.380245
Western Metropolitan   557.637232

In [41]:
# Чтобы получить индексы отфильтрованной таблицы, можно воспользоваться атрибутом index и обернуть результат в список:
print(list(filtered_pivot.index))

['Southern Metropolitan', 'Western Metropolitan']

In [42]:
# Составьте сводную таблицу, которая показывает зависимость медианной площади (BuildingArea) здания от типа объекта недвижимости (Type) и количества жилых комнат в доме (Rooms). Для какой комбинации признаков площадь здания наибольшая?
# В качестве ответа запишите эту комбинацию (тип здания, число комнат) через запятую, без пробелов.

import pandas as pd


# Создаем сводную таблицу с медианной площадью
pivot = pd.pivot_table(
    data=melb_df,
    values='BuildingArea',
    index=['Type', 'Rooms'],
    aggfunc='median'
)

# Находим комбинацию с максимальной медианной площадью
max_combination = pivot['BuildingArea'].idxmax()

print(f"Ответ: {max_combination[0]},{max_combination[1]}")

Ответ: house,7

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\3227249123.py:8: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot = pd.pivot_table(

In [54]:
# Составьте сводную таблицу, которая показывает зависимость медианной цены объекта недвижимости (Price) от риелторского агентства (SellerG) и типа здания (Type).
# Во вновь созданной таблице найдите агентство, у которого медианная цена для зданий типа unit максимальна. В качестве ответа запишите название этого агентства.


pivot = pd.pivot_table(
    data=melb_df[melb_df.Type == 'unit'],
    values='Price',
    index=['SellerG', 'Type'],
    aggfunc='median'
)



display(pivot)
max_combination = pivot['Price'].idxmax()
print(f"Ответ: {max_combination[0]},{max_combination[1]}")

C:\Users\Yoga\AppData\Local\Temp\ipykernel_48444\4285233050.py:5: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot = pd.pivot_table(

                       Price
SellerG       Type
Alexkarbon    unit  560000.0
Barry         unit  502000.0
Bells         unit  457500.0
Biggin        unit  548000.0
Brad          unit  465000.0
Buckingham    unit  553000.0
Burnham       unit  305000.0
Buxton        unit  670000.0
C21           unit  625500.0
Cayzer        unit  707500.0
Chisholm      unit  640000.0
Collins       unit  592000.0
Douglas       unit  494500.0
Eview         unit  602000.0
Fletchers     unit  653000.0
Gary          unit  550000.0
Greg          unit  547500.0
HAR           unit  518000.0
Harcourts     unit  500000.0
Hodges        unit  605500.0
Jas           unit  455000.0
Jellis        unit  591750.0
Kay           unit  695000.0
LITTLE        unit  447000.0
Love          unit  440000.0
Marshall      unit  715000.0
McDonald      unit  502500.0
McGrath       unit  542500.0
Miles         unit  555000.0
Moonee        unit  622000.0
Nelson        unit  530000.0
Nick          unit  900000.0
Noel          unit  693250.0
O'Brien       unit  618500.0
Philip        unit  636000.0
Purplebricks  unit  582500.0
RT            unit  630000.0
RW            unit  625500.0
Raine         unit  447500.0
Ray           unit  497500.0
Rendina       unit  459000.0
Stockdale     unit  410000.0
Sweeney       unit  381000.0
Thomson       unit  495000.0
Village       unit  420000.0
Williams      unit  577000.0
Woodards      unit  600000.0
YPA           unit  443500.0
hockingstuart unit  566000.0
other         unit  535000.0

Ответ: Nick,unit