In [2]:
import pandas as pd

print(pd.__name__)

pandas

In [3]:
import pandas as pd

def create_medications(names, counts):
    # Создаем Series с индексами names и значениями counts
    medications = pd.Series(counts, index=names)
    return medications

def get_percent(medications, name):
    # Вычисляем общее количество товаров
    total_count = medications.sum()
    
    # Получаем количество товара с именем name
    item_count = medications.get(name, 0)  # Если товара нет, возвращаем 0
    
    # Вычисляем долю в процентах
    percent = (item_count / total_count) * 100
    return percent

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine")) #37.5

37.5

In [10]:
import pandas as pd

def create_companyDF(income, expenses, years):
    # Создаем DataFrame из входных данных
    df = pd.DataFrame({
        'Income': income,
        'Expenses': expenses
    }, index=years)
    return df

def get_profit(df, year):
    # Проверяем, есть ли год в индексе DataFrame
    if year in df.index:
        # Возвращаем разницу между доходом и расходом за указанный год
        return df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    else:
        # Если год отсутствует, возвращаем None
        return None
    
    
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]


df = create_companyDF(income, expenses, years)
print(get_profit(df, 2018))
print(df)

322
      Income  Expenses
2018     478       156
2019     512       130
2020     196       270

In [21]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
# Достаем значение по индексу строки и столбца
value1 = melb_data.iloc[3521, 14]  # Строка 1, столбец 2 (индексация с 0)
#print(value1)  # Вывод: 8
value2 = melb_data.iloc[1690, 14]  # Строка 1, столбец 2 (индексация с 0)
#print(value2)  # Вывод: 8
#print(value1/value2)

#Выведем первые пять строк нашей таблицы: 
display(melb_data.head())
#Следующий код выведет семь последних строк нашей таблицы:
melb_data.tail(7)
#получение информации о форме (размерность таблицы)
melb_data.shape
#Получение информации о столбцах
melb_data.info()


#Изменение типа данных в столбце
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

In [22]:
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

In [24]:
'''
Например, для типа данных object метод describe() возвращает DataFrame, в котором указаны:

количество непустых строк (count);
количество уникальных значений (unique);
самое частое значение — мода —  (top);
частота — объём использования — этого значения (freq) для каждого столбца типа object исходной таблицы.
'''

melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,13 Robinson St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [26]:
# → Для того чтобы определить, сколько раз в столбце повторяется каждый из вариантов значений (т.е. найти частоту для каждого уникального знания), используется метод value_counts().

melb_data['Regionname'].value_counts()
'''
Чтобы сделать вывод более интерпретируемым и понятным, можно воспользоваться параметром normalize. При установке значения этого параметра на True результат будет представляться в виде доли (относительной частоты):
'''

melb_data['Regionname'].value_counts(normalize=True)

Regionname
Southern Metropolitan         0.345729
Northern Metropolitan         0.286451
Western Metropolitan          0.217084
Eastern Metropolitan          0.108321
South-Eastern Metropolitan    0.033137
Eastern Victoria              0.003903
Northern Victoria             0.003019
Western Victoria              0.002356
Name: proportion, dtype: float64

In [28]:
import pandas as pd
import numpy as np

# Создаем DataFrame с пропущенными значениями


# Считаем пропущенные значения в столбце 'CouncilArea'
missing_values = melb_data['CouncilArea'].isna().sum()

print(f"Количество пропущенных значений в столбце 'CouncilArea': {missing_values}")

Количество пропущенных значений в столбце 'CouncilArea': 1369

In [30]:
# Выбираем столбцы с целочисленным типом данных
integer_columns = melb_data.select_dtypes(include=['int', 'int64'])

# Считаем количество таких столбцов
num_integer_columns = integer_columns.shape[1]
print(num_integer_columns)

8

In [42]:
# Сколько процентов от общего количества домов составляют таунхаусы (тип объекта — t)?
# Ответ округлите до целого числа. Не указывайте знак %.
melb_data['Type'].value_counts(normalize=True)

median_area = melb_data['BuildingArea'].median()
mean_area = melb_data['BuildingArea'].mean()
print("median -",median_area )
print("mean -", mean_area)

deviation_percent = ((median_area - mean_area) / mean_area) * 100
print (deviation_percent)

median - 126.0
mean - 139.63397229013256
-9.764079662364534

In [43]:
import statistics

# Заданный ряд чисел
data = [1, 2, 4, 2, 3, 2, 1, 5, 6]

# Находим моду
mode_value = statistics.mode(data)

print(f"Мода ряда: {mode_value}")

Мода ряда: 2

In [50]:
often_bedrooms = melb_data['Bedroom'].mode()
melb_data.tail(7)

melb_data['Address'].value_counts(normalize=True)

Address
13 Robinson St      0.000221
5 Margaret St       0.000221
2 Bruce St          0.000221
36 Aberfeldie St    0.000221
14 Arthur St        0.000221
                      ...
33 Moonstone Cct    0.000074
4 Collegian Av      0.000074
31 Barkly St        0.000074
7 Fullbrook Dr      0.000074
37 Ligar St         0.000074
Name: proportion, Length: 13378, dtype: float64

In [54]:
mask = melb_data['Price'] > 2000000

display(melb_data[mask].head())

melb_data[melb_data['Price'] > 2000000]

# Найдём количество зданий с тремя комнатами. Для этого отфильтруем таблицу по условию: обратимся к результирующей таблице по столбцу Rooms и найдём число строк в ней с помощью атрибута shape:
melb_data[melb_data['Rooms'] == 3].shape[0]

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0,211.0,198.0,1890,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1,153.0,180.0,1880,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1,199.0,107.0,1900,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1,177.0,181.0,1880,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1,237.0,126.0,1970,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280,"-37.8436, 144.9557"

5881

In [60]:
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

In [64]:
# Сколько в таблице melb_data объектов недвижимости, которые были проданы риелторской компанией Nelson и стоимость которых составила больше 3 миллионов?


melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

5

In [93]:
# Какова минимальная стоимость участка без здания (площадь здания равна 0) в таблице melb_data?




# Фильтруем строки, где BuildingArea == 0
filtered_data = melb_data[melb_data['BuildingArea'] == 0]

# Находим строку с минимальной ценой
min_price_row = filtered_data.loc[filtered_data['Price'].idxmin()]


min_price_row['Price']
# Выводим результат
#print(min_price_row)

np.float64(412500.0)

In [101]:
# Какова средняя цена объектов недвижимости в таблице melb_data с ценой менее одного миллиона, в которых либо количество комнат больше пяти, либо здание моложе 2015 года?

filtered_datap = melb_data[(melb_data['Price'] < 1000000)]
filtered_data = filtered_datap[(filtered_datap['Rooms'] > 5) | (filtered_datap['YearBuilt'] > 2015)]



filtered_data['Price'].mean()




# Находим строку с минимальной ценой
#min_price_row = filtered_data.loc[filtered_data['Price'].idxmin()]


#min_price_row['Price']

np.float64(769238.6363636364)

In [102]:
#В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов
filtered_data = melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]

filtered_data['Regionname'].value_counts(normalize=True)

Regionname
Northern Metropolitan         0.296855
Southern Metropolitan         0.273319
Western Metropolitan          0.247939
Eastern Metropolitan          0.126573
South-Eastern Metropolitan    0.041974
Eastern Victoria              0.005423
Northern Victoria             0.004447
Western Victoria              0.003471
Name: proportion, dtype: float64

In [110]:
#Информация о столбцах таблицы:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')
student_data.head()
student_data.shape

(1000, 8)

In [111]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [115]:
#Каков балл по письму у студента под индексом 155?

# Номер строки
row_index = 155

# Имя столбца
column_name = 'writing score'

# Получаем значение
value = student_data.loc[row_index, column_name]
print(f"Значение в строке {row_index} и столбце '{column_name}': {value}")

Значение в строке 155 и столбце 'writing score': 88

In [118]:
# Считаем пропущенные значения только в столбцах 'Age' и 'Grade'
missing_in_age_grade = student_data.isna().sum().sum()
print(f"Пропущенные значения в столбцах : {missing_in_age_grade}")

Пропущенные значения в столбцах : 0

In [119]:
#Сколько столбцов в таблице имеет тип данных object?
# Выбираем столбцы с типом object
object_columns = student_data.select_dtypes(include=['object'])

# Считаем количество таких столбцов
num_object_columns = object_columns.shape[1]

print(f"Количество столбцов с типом object: {num_object_columns}")

Количество столбцов с типом object: 5

In [125]:
#Какой объём памяти (в килобайтах) занимает таблица?

# Получаем объём памяти для каждого столбца (в байтах)
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [120]:
#Каков у студентов средний балл по математике?

mean_math_score = student_data['math score'].mean()

print("mean math score -",mean_math_score )

mean math score - 66.089

In [121]:
#Какая расовая группа является самой крупной в учебном заведении?
student_data['race/ethnicity'].value_counts(normalize=True)

race/ethnicity
group C    0.319
group D    0.262
group B    0.190
group E    0.140
group A    0.089
Name: proportion, dtype: float64

In [132]:
#student_data['test preparation course'] = student_data['TestPreparationCourse'].astype('object')
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [131]:
#Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
filtered_data = student_data[(student_data['test preparation course'] == 'completed')]
mean_reading_score = filtered_data['reading score'].mean()
print("mean reading score -",mean_reading_score )

mean reading score - 73.89385474860335

In [138]:
#Сколько студентов получили 0 баллов по математике?
filtered_data = student_data[(student_data['math score'] == 0)]

filtered_data.shape[0]
#Получение информации о столбцах
#student_data.info()

1

In [142]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [144]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
# В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
student_data.head()


filtered_data_l= student_data[(student_data['lunch'] == 'standard')]
mean_lstd = filtered_data_l['math score'].mean()
print("mean lstd -",mean_lstd )


filtered_data_lr= student_data[(student_data['lunch'] == 'free/reduced')]
mean_lrstd = filtered_data_lr['math score'].mean()
print("mean lrstd -",mean_lrstd )

mean lstd - 70.03410852713178
mean lrstd - 58.92112676056338

In [147]:
#Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?




filtered_data_lr= student_data[(student_data['parental level of education'] == "bachelor's degree")]
mean_lrstd = filtered_data_lr['math score'].mean()
print("mean lrstd -",mean_lrstd )


student_data['parental level of education'].value_counts(normalize=True)

mean lrstd - 69.38983050847457

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

In [150]:
# Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?
# Округлите ответ до целого и запишите модуль этого числа.


# Фильтруем данные для групп A и C
group_a = student_data[student_data['race/ethnicity'] == 'group A']
group_c = student_data[student_data['race/ethnicity'] == 'group C']

# Вычисляем медиану для группы A
median_group_a = group_a['writing score'].median()
print("median group-a -",median_group_a )
# Вычисляем среднее для группы C
mean_group_c = group_c['writing score'].mean()
print("mean group-c -",mean_group_c )


# Находим разницу и округляем до целого
difference = abs(round(median_group_a - mean_group_c))

print(f"Медиана группы A: {median_group_a}")
print(f"Среднее группы C: {mean_group_c}")
print(f"Разница: {difference}")

median group-a - 62.0
mean group-c - 67.82758620689656
Медиана группы A: 62.0
Среднее группы C: 67.82758620689656
Разница: 6

In [152]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_data.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [153]:
#Создание копии таблицы
melb_df = melb_data.copy()
melb_df.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [154]:
# Удалим столбцы index и Coordinates из таблицы с помощью метода drop(). Выведем первые пять строк таблицы и убедимся, что всё прошло успешно.

melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

In [157]:
# Например, давайте создадим переменную total_rooms, в которой будем хранить общее количество комнат в здании. Для этого выполним сложение столбцов с количеством комнат, ванн и спален:

total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
display(total_rooms)

# А теперь введём признак MeanRoomsArea, который соответствует средней площади одной комнаты для каждого объекта. Для этого разделим площадь здания на полученное ранее общее количество комнат:

melb_df['MeanRoomsArea'] = melb_df['BuildingArea'] / total_rooms
display(melb_df['MeanRoomsArea'])

# Можно ввести ещё один интересный признак — AreaRatio, коэффициент соотношения площади здания (BuildingArea) и площади участка (Landsize). Для этого разницу двух площадей поделим на их сумму:

diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area
display(melb_df['AreaRatio'])

0         5
1         5
2         8
3         8
4         8
         ..
13575    10
13576     8
13577     8
13578     9
13579     9
Length: 13580, dtype: int64

0        25.200000
1        15.800000
2        18.750000
3        15.750000
4        17.750000
           ...
13575    12.600000
13576    16.625000
13577    15.750000
13578    17.444444
13579    12.444444
Name: MeanRoomsArea, Length: 13580, dtype: float64

0       -0.231707
1       -0.327660
2        0.056338
3        0.145455
4        0.083969
           ...
13575   -0.676093
13576   -0.429185
13577   -0.551601
13578   -0.693060
13579   -0.527426
Name: AreaRatio, Length: 13580, dtype: float64

In [158]:
import pandas as pd

def delete_columns(df, col=[]):
    # Проверяем, существуют ли все указанные столбцы в DataFrame
    if not all(c in df.columns for c in col):
        return None
    
    # Создаем копию DataFrame, чтобы не изменять исходный
    new_df = df.drop(columns=col, errors='ignore')
    return new_df

# Пример использования
customer_df = pd.DataFrame({
    'number': [0, 1, 2, 3, 4],
    'cust_id': [128, 1201, 9832, 4392, 7472],
    'cust_age': [13, 21, 19, 21, 60],
    'cust_sale': [0, 0, 0.2, 0.15, 0.3],
    'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
    'cust_order': [1400, 14142, 900, 1240, 8430]
})

# Удаляем столбцы 'cust_age' и 'cust_sale'
result_df = delete_columns(customer_df, col=['cust_age', 'cust_sale'])
print("После удаления столбцов:")
print(result_df)

# Попытка удалить несуществующий столбец
result_df = delete_columns(customer_df, col=['cust_age', 'nonexistent_column'])
if result_df is None:
    print("Один или несколько столбцов не существуют.")

После удаления столбцов:
   number  cust_id  cust_year_birth  cust_order
0       0      128             2008        1400
1       1     1201             2000       14142
2       2     9832             2002         900
3       3     4392             2000        1240
4       4     7472             1961        8430
Один или несколько столбцов не существуют.

In [159]:
import pandas as pd

# Исходный DataFrame
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

# Рассчитываем плотность населения и добавляем её как новый столбец
countries_df['density'] = (countries_df['population'] * 1e6) / countries_df['area']

# Вычисляем среднюю плотность населения
average_density = countries_df['density'].mean()

# Округляем результат до сотых
average_density_rounded = round(average_density, 2)

# Выводим результат
print(average_density_rounded)

84.93

In [161]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
display(melb_df['Date'])

years_sold = melb_df['Date'].dt.year
print(years_sold)
print('Min year sold:', years_sold.min())
print('Max year sold:', years_sold.max())
print('Mode year sold:', years_sold.mode()[0])

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

0        2016
1        2016
2        2017
3        2017
4        2016
         ...
13575    2017
13576    2017
13577    2017
13578    2017
13579    2017
Name: Date, Length: 13580, dtype: int32
Min year sold: 2016
Max year sold: 2017
Mode year sold: 2017

In [162]:
# Теперь попробуем понять, на какие месяцы приходится пик продаж объектов недвижимости. Для этого выделим атрибут dt.month и на этот раз занесём результат в столбец MonthSale, а затем найдём относительную частоту продаж для каждого месяца от общего количества продаж — для этого используем метод value_counts() с параметром normalize (вывод в долях):
melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts(normalize=True)

MonthSale
5     0.149411
7     0.145950
9     0.135862
6     0.134757
8     0.114138
11    0.082032
4     0.069882
3     0.049926
12    0.044698
10    0.040574
2     0.032622
1     0.000147
Name: proportion, dtype: float64

In [163]:
# Часто бывает такая ситуация, что необходимо вычислять интервалы между двумя временными промежутками. Например, можно вычислить, сколько дней прошло с 1 января 2016 года до момента продажи объекта. Для этого можно просто найти разницу между датами продаж и заявленной датой, представленной в формате datetime:

delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01') 
display(delta_days)

0       337 days
1        34 days
2       428 days
3       428 days
4       155 days
          ...
13575   603 days
13576   603 days
13577   603 days
13578   603 days
13579   603 days
Name: Date, Length: 13580, dtype: timedelta64[ns]

In [164]:
# Чтобы превратить количество дней из формата интервала в формат целого числа дней, можно воспользоваться аксессором dt для формата timedelta и извлечь из него атрибут days:

display(delta_days.dt.days)

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

In [166]:
# Рассмотрим другой пример. Давайте создадим признак возраста объекта недвижимости в годах на момент продажи. Для этого выделим из столбца с датой продажи год и вычтем из него год постройки здания. Результат оформим в виде столбца AgeBuilding:

melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
display(melb_df['AgeBuilding'])
melb_df.head()

0         46
1        116
2        117
3         47
4          2
        ...
13575     36
13576     22
13577     20
13578     97
13579     97
Name: AgeBuilding, Length: 13580, dtype: int64

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsArea,AreaRatio,MonthSale,AgeBuilding
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,...,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,-0.231707,12,46
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,...,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,-0.327660,2,116
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,...,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,0.056338,3,117
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,...,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75,0.145455,3,47
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,...,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75,0.083969,6,2

In [167]:
# Создайте в таблице melb_df признак WeekdaySale (день недели). Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье), результат занесите в переменную weekend_count. В качестве ответа введите результат вывода переменной weekend_count.

import pandas as pd

# Предположим, что melb_df уже загружен и содержит столбец 'Date' с датами продажи
# Если дата не преобразована в формат datetime, преобразуем её
melb_df['Date'] = pd.to_datetime(melb_df['Date'])

# Создаем новый признак WeekdaySale, содержащий день недели продажи
melb_df['WeekdaySale'] = melb_df['Date'].dt.day_name()

# Определяем количество продаж в выходные дни (суббота и воскресенье)
weekend_count = melb_df[melb_df['WeekdaySale'].isin(['Saturday', 'Sunday'])].shape[0]

# Выводим результат
print(weekend_count)

12822

In [168]:
import pandas as pd

# Загрузка файла из интернета
url = "https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv"
ufo_df = pd.read_csv(url)

# Просмотр первых нескольких строк датафрейма
print(ufo_df.head())

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [173]:


# Шаг 2: Преобразовать столбец 'Time' к формату datetime
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'])

# Шаг 3: Извлечь год из столбца 'Time' и подсчитать количество наблюдений по годам
ufo_df['Year'] = ufo_df['Time'].dt.year
ufo_df['Year'].value_counts(normalize=True)

Year
1999    0.152075
2000    0.144455
1998    0.095554
1995    0.073680
1997    0.067814
          ...
1930    0.000110
1941    0.000110
1933    0.000055
1934    0.000055
1935    0.000055
Name: proportion, Length: 68, dtype: float64

In [177]:
# Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).

# Шаг 3: Отфильтровать данные для штата Невада (NV)
nv_data = ufo_df[ufo_df['State'] == 'NV']

# Шаг 4: Отсортировать данные по времени
nv_data = nv_data.sort_values('Time')
#print(nv_data)

# Шаг 5: Вычислить разницу между последовательными случаями
nv_data['TimeDiff'] = nv_data['Time'].diff()  # Разница между соседними датами

print(nv_data['TimeDiff'])

# Оставляем только непустые значения разницы
time_diff_days = nv_data['TimeDiff'].dropna()

# Конвертируем разницу в дни
time_diff_days = time_diff_days.dt.days

# Шаг 6: Найти средний интервал времени в днях
average_interval = time_diff_days.mean()

# Вывести результат
print(f"Средний интервал времени между наблюдениями НЛО в штате Невада: {average_interval:.2f} дней")

76                     NaT
172     1678 days 08:00:00
565     2766 days 06:00:00
566        0 days 01:00:00
613      290 days 11:00:00
               ...
17447     22 days 00:00:00
17567     14 days 00:25:00
17617      5 days 22:00:00
17890     31 days 05:50:00
18104     33 days 15:15:00
Name: TimeDiff, Length: 284, dtype: timedelta64[ns]
Средний интервал времени между наблюдениями НЛО в штате Невада: 68.45 дней

In [179]:
print(melb_df['Address'].nunique())


print(melb_df['Address'].loc[177])
print(melb_df['Address'].loc[1812])
print(melb_df['Address'].loc[9001])

13378
2/119 Railway St N
9/400 Dandenong Rd
172 Danks St

In [180]:
# Итак, адрес строится следующим образом: сначала указывается номер дома и корпус, после указывается название улицы, а в конце — подтип улицы, но в некоторых случаях к подтипу добавляется географическая отметка (N — север, S — юг и т. д.), она нам не нужна . Для того чтобы выделить подтип улицы, на которой находится объект, можно использовать следующую функцию:
# На вход данной функции поступает строка с адресом.
def get_street_type(address):
# Создаём список географических пометок exclude_list.
    exclude_list = ['N', 'S', 'W', 'E']
# Метод split() разбивает строку на слова по пробелу.
# В результате получаем список слов в строке и заносим его в переменную address_list.
    address_list = address.split(' ')
# Обрезаем список, оставляя в нём только последний элемент,
# потенциальный подтип улицы, и заносим в переменную street_type.
    street_type = address_list[-1]
# Делаем проверку на то, что полученный подтип является географической пометкой.
# Для этого проверяем его на наличие в списке exclude_list.
    if street_type in exclude_list:
# Если переменная street_type является географической пометкой,
# переопределяем её на второй элемент с конца списка address_list.
        street_type = address_list[-2]
# Возвращаем переменную street_type, в которой хранится подтип улицы.
    return street_type

In [181]:
street_types = melb_df['Address'].apply(get_street_type)
display(street_types)

0        St
1        St
2        St
3        La
4        St
         ..
13575    Cr
13576    Dr
13577    St
13578    St
13579    St
Name: Address, Length: 13580, dtype: object

In [182]:
# Итак, мы смогли выделить подтип улицы. Посмотрим, сколько уникальных значений у нас получилось:

print(street_types.nunique())
# 56
# У нас есть 56 уникальных значений. Однако наш результат можно улучшить. Давайте для начала посмотрим на частоту каждого подтипа улицы с помощью метода value_counts:

display(street_types.value_counts())

56

Address
St           8012
Rd           2825
Ct            612
Dr            447
Av            321
Gr            311
Pde           211
Pl            169
Cr            152
Cl            100
La             67
Bvd            53
Tce            47
Wy             40
Avenue         40
Cct            25
Hwy            24
Parade         15
Boulevard      13
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Grn             4
Fairway         4
Mews            4
Gdns            4
Righi           3
Crossway        3
Esp             2
Ridge           2
Victoria        2
Crofts          2
Athol           1
Highway         1
Cove            1
Grange          1
Res             1
Terrace         1
Qy              1
Glade           1
Nook            1
Eyrie           1
Loop            1
Dell            1
East            1
Summit          1
Grand           1
Gra             1
Hts             1
Outlook         1
Woodland        1
Ave             1
Corso           1
Name: count, dtype: int64

In [183]:
popular_stypes =street_types.value_counts().nlargest(10).index
print(popular_stypes)
# Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object', name='Address')

In [184]:
# Теперь, когда у нас есть список наиболее популярных подтипов улиц, введём lambda-функцию, которая будет проверять, есть ли строка x в этом перечне, и, если это так, lambda-функция будет возвращать x, в противном случае она будет возвращать строку 'other'. Наконец, применим такую функцию к Series street_types, полученной ранее, а результат определим в новый столбец таблицы StreetType:

melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_df['StreetType'])

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object

In [185]:
# Посмотрим на результирующее число уникальных подтипов:
print(melb_df['StreetType'].nunique())

11

In [186]:
melb_df = melb_df.drop('Address', axis=1)

In [187]:
import pandas as pd


# Шаг 1: Функция get_weekend
def get_weekend(weekday):
    if weekday in ['Saturday', 'Sunday']:  # Проверяем, является ли день выходным
        return 1
    else:
        return 0

# Шаг 2: Создание нового столбца Weekend
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)

# Шаг 3: Вычисление средней цены для выходных дней
average_weekend_price = melb_df[melb_df['Weekend'] == 1]['Price'].mean()

# Округляем результат до целых
average_weekend_price_rounded = round(average_weekend_price)

# Вывод результата
print(average_weekend_price_rounded)

1081199

In [188]:
# Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.
# Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.



import pandas as pd



# Шаг 1: Определить 49 самых популярных компаний
top_companies = melb_df['SellerG'].value_counts().head(49).index

# Шаг 2: Преобразовать значения в столбце SellerG
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in top_companies else 'other')

# Шаг 3: Найти минимальные цены для 'Nelson' и 'other'
min_price_nelson = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min()
min_price_other = melb_df[melb_df['SellerG'] == 'other']['Price'].min()

# Шаг 4: Вычислить отношение минимальных цен
ratio = min_price_nelson / min_price_other

# Шаг 5: Округлить результат до десятых
result = round(ratio, 1)

# Вывод результата
print(result)

1.3

In [190]:
import re

def get_experience(arg):
    # Извлекаем количество лет (если есть)
    years_match = re.search(r'(\d+)\s*год', arg)
    years = int(years_match.group(1)) if years_match else 0
    
    # Извлекаем количество месяцев (если есть)
    months_match = re.search(r'(\d+)\s*месяц', arg)
    months = int(months_match.group(1)) if months_match else 0
    
    # Возвращаем общее количество месяцев
    return years * 12 + months

# Пример использования
import pandas as pd

# Создаем Series с примерами опыта работы
experience_series = pd.Series([
    "3 года 4 месяца",
    "2 года",
    "7 месяцев",
    "5 лет",
    "10 месяцев"
])

# Применяем функцию к Series
experience_in_months = experience_series.apply(get_experience)

print(experience_in_months)

0    40
1    24
2     7
3     0
4    10
dtype: int64

In [191]:
import pandas as pd

# Примеры данных
test_series_1 = pd.Series([
    'Опыт работы 8 лет 3 месяца',
    'Опыт работы 3 года 5 месяцев',
    'Опыт работы 1 год 9 месяцев',
    'Опыт работы 3 месяца',
    'Опыт работы 6 лет'
])

test_series_2 = pd.Series([
    'Опыт работы 5 лет',
    'Опыт работы 5 месяцев',
    'Опыт работы 1 год 1 месяц',
    'Опыт работы 3 месяца',
    'Опыт работы 7 лет'
])




def get_experience(arg):
    # Инициализируем переменные для лет и месяцев
    years = 0
    months = 0
    
    # Разбиваем строку на слова
    words = arg.split()
    
    # Проходим по словам и анализируем их
    for i, word in enumerate(words):
        if word.isdigit():  # Если слово является числом
            number = int(word)
            # Проверяем следующее слово, чтобы определить, к чему относится число
            if i + 1 < len(words):
                next_word = words[i + 1]
                if "год" in next_word or "лет" in next_word:
                    years = number
                elif "месяц" in next_word or "месяцев" in next_word:
                    months = number
    
    # Возвращаем общее количество месяцев
    return years * 12 + months
# Применяем функцию к Series
result_1 = test_series_1.apply(get_experience)
result_2 = test_series_2.apply(get_experience)

print("Результат для test_series_1:")
print(result_1)

print("\nРезультат для test_series_2:")
print(result_2)

Результат для test_series_1:
0    99
1    41
2    21
3     3
4    72
dtype: int64

Результат для test_series_2:
0    60
1     5
2    13
3     3
4    84
dtype: int64

In [192]:
# авайте определим число уникальных категорий в каждом столбце нашей таблицы melb_df. Для этого создадим вспомогательную таблицу unique_counts:

# создаём пустой список
unique_list = []
# пробегаемся по именам столбцов в таблице
for col in melb_df.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, melb_df[col].nunique(),melb_df[col].dtypes)     # добавляем кортеж в список
    unique_list.append(item) 
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique',  ignore_index=True)
# выводим её на экран
display(unique_counts)

      Column_Name  Num_Unique            Type
0         Weekend           2           int64
1            Type           3          object
2     WeekdaySale           5          object
3          Method           5          object
4      Regionname           8          object
5           Rooms           9           int64
6        Bathroom           9           int64
7             Car          11           int64
8      StreetType          11          object
9         Bedroom          12           int64
10      MonthSale          12           int32
11    CouncilArea          33          object
12        SellerG          50          object
13           Date          58  datetime64[ns]
14      YearBuilt         144           int64
15    AgeBuilding         152           int64
16       Postcode         198           int64
17       Distance         202         float64
18  Propertycount         311           int64
19         Suburb         314          object
20   BuildingArea         602         float64
21  MeanRoomsArea        1277         float64
22       Landsize        1448         float64
23          Price        2204         float64
24      Lattitude        6503         float64
25      AreaRatio        6521         float64
26     Longtitude        7063         float64

In [193]:
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Rooms          13580 non-null  int64
 2   Type           13580 non-null  object
 3   Price          13580 non-null  float64
 4   Method         13580 non-null  object
 5   SellerG        13580 non-null  object
 6   Date           13580 non-null  datetime64[ns]
 7   Distance       13580 non-null  float64
 8   Postcode       13580 non-null  int64
 9   Bedroom        13580 non-null  int64
 10  Bathroom       13580 non-null  int64
 11  Car            13580 non-null  int64
 12  Landsize       13580 non-null  float64
 13  BuildingArea   13580 non-null  float64
 14  YearBuilt      13580 non-null  int64
 15  CouncilArea    12211 non-null  object
 16  Lattitude      13580 non-null  float64
 17  Longtitude     13580 non-null  float64
 18  Regionname     13580 non-null  object
 19  Propertycount  13580 non-null  int64
 20  MeanRoomsArea  13580 non-null  float64
 21  AreaRatio      13580 non-null  float64
 22  MonthSale      13580 non-null  int32
 23  AgeBuilding    13580 non-null  int64
 24  WeekdaySale    13580 non-null  object
 25  StreetType     13580 non-null  object
 26  Weekend        13580 non-null  int64
dtypes: datetime64[ns](1), float64(8), int32(1), int64(9), object(8)
memory usage: 2.7+ MB

None

In [195]:
# Сделаем преобразование столбцов к типу данных category:

cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category') # преобразуем тип столбца
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Rooms          13580 non-null  int64
 2   Type           13580 non-null  category
 3   Price          13580 non-null  float64
 4   Method         13580 non-null  category
 5   SellerG        13580 non-null  category
 6   Date           13580 non-null  datetime64[ns]
 7   Distance       13580 non-null  float64
 8   Postcode       13580 non-null  int64
 9   Bedroom        13580 non-null  int64
 10  Bathroom       13580 non-null  int64
 11  Car            13580 non-null  int64
 12  Landsize       13580 non-null  float64
 13  BuildingArea   13580 non-null  float64
 14  YearBuilt      13580 non-null  category
 15  CouncilArea    12211 non-null  category
 16  Lattitude      13580 non-null  float64
 17  Longtitude     13580 non-null  float64
 18  Regionname     13580 non-null  category
 19  Propertycount  13580 non-null  int64
 20  MeanRoomsArea  13580 non-null  float64
 21  AreaRatio      13580 non-null  float64
 22  MonthSale      13580 non-null  category
 23  AgeBuilding    13580 non-null  int64
 24  WeekdaySale    13580 non-null  category
 25  StreetType     13580 non-null  category
 26  Weekend        13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(7), object(1)
memory usage: 1.9+ MB

None

In [196]:
# У типа данных category есть свой специальный аксесcор cat, который позволяет получать информацию о своих значениях и преобразовывать их. Например, с помощью атрибута этого аксессора categories мы можем получить список уникальных категорий в столбце Regionname:

print(melb_df['Regionname'].cat.categories)

Index(['Eastern Metropolitan', 'Eastern Victoria', 'Northern Metropolitan',
       'Northern Victoria', 'South-Eastern Metropolitan',
       'Southern Metropolitan', 'Western Metropolitan', 'Western Victoria'],
      dtype='object')

In [197]:
# А теперь посмотрим, каким образом столбец кодируется в виде чисел в памяти компьютера. Для этого можно воспользоваться атрибутом codes:

display(melb_df['Regionname'].cat.codes)

0        2
1        2
2        2
3        2
4        2
        ..
13575    4
13576    6
13577    6
13578    6
13579    6
Length: 13580, dtype: int8

In [198]:
# С помощью метода аксессора rename_categories() можно легко переименовать текущие значения категорий. Для этого в данный метод нужно передать словарь, ключи которого — старые имена категорий, а значения — новые.
# 
# Рассмотрим на примере: переименуем категории признака типа постройки Type — заменим их на полные названия (напомним, u — unit, h — house, t — townhouse).

melb_df['Type'] = melb_df['Type'].cat.rename_categories({
    'u': 'unit',
    't': 'townhouse',
    'h': 'house'
})
display(melb_df['Type'])

0        house
1        house
2        house
3        house
4        house
         ...
13575    house
13576    house
13577    house
13578    house
13579    house
Name: Type, Length: 13580, dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']