In [2]:
import pandas as pd

print(pd.__name__)

pandas

In [3]:
import pandas as pd

def create_medications(names, counts):
    # Создаем Series с индексами names и значениями counts
    medications = pd.Series(counts, index=names)
    return medications

def get_percent(medications, name):
    # Вычисляем общее количество товаров
    total_count = medications.sum()
    
    # Получаем количество товара с именем name
    item_count = medications.get(name, 0)  # Если товара нет, возвращаем 0
    
    # Вычисляем долю в процентах
    percent = (item_count / total_count) * 100
    return percent

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine")) #37.5

37.5

In [10]:
import pandas as pd

def create_companyDF(income, expenses, years):
    # Создаем DataFrame из входных данных
    df = pd.DataFrame({
        'Income': income,
        'Expenses': expenses
    }, index=years)
    return df

def get_profit(df, year):
    # Проверяем, есть ли год в индексе DataFrame
    if year in df.index:
        # Возвращаем разницу между доходом и расходом за указанный год
        return df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    else:
        # Если год отсутствует, возвращаем None
        return None
    
    
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]


df = create_companyDF(income, expenses, years)
print(get_profit(df, 2018))
print(df)

322
      Income  Expenses
2018     478       156
2019     512       130
2020     196       270

In [21]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
# Достаем значение по индексу строки и столбца
value1 = melb_data.iloc[3521, 14]  # Строка 1, столбец 2 (индексация с 0)
#print(value1)  # Вывод: 8
value2 = melb_data.iloc[1690, 14]  # Строка 1, столбец 2 (индексация с 0)
#print(value2)  # Вывод: 8
#print(value1/value2)

#Выведем первые пять строк нашей таблицы: 
display(melb_data.head())
#Следующий код выведет семь последних строк нашей таблицы:
melb_data.tail(7)
#получение информации о форме (размерность таблицы)
melb_data.shape
#Получение информации о столбцах
melb_data.info()


#Изменение типа данных в столбце
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

In [22]:
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

In [24]:
'''
Например, для типа данных object метод describe() возвращает DataFrame, в котором указаны:

количество непустых строк (count);
количество уникальных значений (unique);
самое частое значение — мода —  (top);
частота — объём использования — этого значения (freq) для каждого столбца типа object исходной таблицы.
'''

melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,13 Robinson St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [26]:
# → Для того чтобы определить, сколько раз в столбце повторяется каждый из вариантов значений (т.е. найти частоту для каждого уникального знания), используется метод value_counts().

melb_data['Regionname'].value_counts()
'''
Чтобы сделать вывод более интерпретируемым и понятным, можно воспользоваться параметром normalize. При установке значения этого параметра на True результат будет представляться в виде доли (относительной частоты):
'''

melb_data['Regionname'].value_counts(normalize=True)

Regionname
Southern Metropolitan         0.345729
Northern Metropolitan         0.286451
Western Metropolitan          0.217084
Eastern Metropolitan          0.108321
South-Eastern Metropolitan    0.033137
Eastern Victoria              0.003903
Northern Victoria             0.003019
Western Victoria              0.002356
Name: proportion, dtype: float64

In [28]:
import pandas as pd
import numpy as np

# Создаем DataFrame с пропущенными значениями


# Считаем пропущенные значения в столбце 'CouncilArea'
missing_values = melb_data['CouncilArea'].isna().sum()

print(f"Количество пропущенных значений в столбце 'CouncilArea': {missing_values}")

Количество пропущенных значений в столбце 'CouncilArea': 1369

In [30]:
# Выбираем столбцы с целочисленным типом данных
integer_columns = melb_data.select_dtypes(include=['int', 'int64'])

# Считаем количество таких столбцов
num_integer_columns = integer_columns.shape[1]
print(num_integer_columns)

8

In [34]:
# Сколько процентов от общего количества домов составляют таунхаусы (тип объекта — t)?
# Ответ округлите до целого числа. Не указывайте знак %.
melb_data['Type'].value_counts(normalize=True)

Type
h    0.695803
u    0.222165
t    0.082032
Name: proportion, dtype: float64