In [8]:
!python --version

Python 3.12.8

In [5]:
print("Hello World!")

Hello World!

In [6]:
#print "Hello World!"

In [7]:
#выводим три фразы
print("Hello, World!")
print("Hello", "World!")
print("Hello" + "World!")

Hello, World!
Hello World!
HelloWorld!

google collab - this is a good tool for data analysis

In [ ]:
first_name = input("Enter your firstname:")
last_name = input("Enter your lastname:")
age = input("Enter your age:")
city = input("Enter your city of residence:")

KeyboardInterrupt: Interrupted by user

In [ ]:
print (13 % -3 * 3 - 3**2)

-15

In [ ]:
print (13 % -3 * 3 )

-6

In [ ]:
print (13 % -3)

-2

In [ ]:
print (round(3.14159**2/2,0))

5.0

In [ ]:
numbers = '1 2 3 4 5 6 7'
numbers_split=numbers.split()
print( *numbers_split, sep='\n')

1
2
3
4
5
6
7

In [ ]:
day = 'Monday'
name= 'John'
print("Hello, {}! Today is {}. Have a nice day!".format(name, day))

Hello, John! Today is Monday. Have a nice day!

In [ ]:
salary = input()
salary = salary.split()
print ("Salary - {} {}".format(salary[0],salary[1]))
salary_number = salary.format

Salary - 1244 руб.

AttributeError: 'list' object has no attribute 'format'

In [ ]:
a = ["a", "b", "c", "d", "e"]
b = a[::-1]
print(b)

['e', 'd', 'c', 'b', 'a']

In [ ]:
a = list(range[0,10])
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
set1 = set()
set1
# set()

set()

In [ ]:
s2 = {5, 10, 3, 2, 11}
s2

{2, 3, 5, 10, 11}

In [ ]:
s3 = set("wow thats cool")
s3

{' ', 'a', 'c', 'h', 'l', 'o', 's', 't', 'w'}

In [ ]:
s3 = set("abcde")
#s3.update("hello")
s3.add("hello")
s3

{'a', 'b', 'c', 'd', 'e', 'hello'}

In [ ]:
s3 = set("abcde")
s3.remove("d")
s3

{'a', 'b', 'c', 'e'}

In [ ]:
s3 = set("abcdef")
s3.discard("f")
s3

{'a', 'b', 'c', 'd', 'e'}

In [ ]:
s3 = set("abcdef")
s3.remove("f")
s3

{'a', 'b', 'c', 'd', 'e'}

In [ ]:
alpha_set = set("abcde")
name = set("bad boy")
print(alpha_set.union(name))
alpha_set

{'c', 'e', 'b', ' ', 'y', 'o', 'd', 'a'}

{'a', 'b', 'c', 'd', 'e'}

In [ ]:
num_set = set(range(0,11))
date_num ={1,9,4,8}
print(num_set.union(num_set))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
alpha_set = set("abcde")
name = set("bad boy")
print(alpha_set.intersection(name))

{'d', 'a', 'b'}

In [ ]:
num_set = set(range(0,11))
date_num ={1,9,4,8}
print(num_set.intersection(date_num))

{8, 1, 4, 9}

In [ ]:
alpha_set = set("abcde")
name = set("bad boy")
print(alpha_set.difference(name))

{'c', 'e'}

In [ ]:
num_set = set(range(0,11))
date_num ={1,9,4,8}
print(num_set.difference(date_num))

{0, 2, 3, 5, 6, 7, 10}

In [ ]:
num1=3
num2 = 3.5
sum1 = num1 + num2
sum2 = float(num1) + num2
print(sum1, sum2)

6.5 6.5

In [ ]:
int_one = 1
dtr_one = str(int_one)
print(dtr_one)

1

In [ ]:
list1 =list(range(1,6))
tpl1 = tuple(list1)
tpl1

(1, 2, 3, 4, 5)

In [ ]:
tpl1 = tuple('abcde')
list1 = list(tpl1)
list1

['a', 'b', 'c', 'd', 'e']

In [ ]:
list1 = list()
list1.append(1)
list1.append(2)
list1.append(3)
list1

[1, 2, 3]

In [ ]:
list2 = list(range(-5,15,2))
list3 = [1,2,3,4]
list3.extend(list2)
print(list3)

[1, 2, 3, 4, -5, -3, -1, 1, 3, 5, 7, 9, 11, 13]

In [ ]:
list6 = [3, 1, -10, 5, 11, 20, 1, -10]
list7=list6.copy()
list6.sort()
list6.reverse()
list_results = list6.copy()

print(list7, list_results)

[3, 1, -10, 5, 11, 20, 1, -10] [20, 11, 5, 3, 1, 1, -10, -10]

In [ ]:
list1 = [10,15]
tpl1 = tuple(list1)
new_dict = {tpl1:'Hello'}
new_dict

{(10, 15): 'Hello'}

In [ ]:
dict1 = {'name':'unknown'}
dict2 = {'name':'Tom'}
print(dict1, dict2, dict1.keys(), dict1.values())

{'name': 'unknown'} {'name': 'Tom'} dict_keys(['name']) dict_values(['unknown'])

In [ ]:
s1 = set("hello")
list1 = ['w', 'o', 'w']
s2 = set(list1)
print(s1.union(s2), s1.intersection(s2), s1.difference(s2))

{'e', 'w', 'h', 'o', 'l'} {'o'} {'e', 'h', 'l'}

In [ ]:
var = ['a', 'f', 'g']
var.extend(['a', 'b', 'c'])
var

['a', 'f', 'g', 'a', 'b', 'c']

In [ ]:
target_string = "шалаш"
tgs = (target_string.lower()).replace(' ','')
tgs[::-1]
result = (target_string == tgs)
print(result)

True

In [ ]:
a=7
b=9+a
print("a=F(",b,")")

a=F( 16 )

In [ ]:
s = 5
a = 10
if a > 0:
   s = s + a
else:
   s = s - a

print(s)

15

In [ ]:
mx = 0
s = 0
x = -5

if x < 0:
    s = x

if x > mx:
    mx = x

print(s)
print(mx)

-5
0

In [ ]:
people_count = 5
# Добро пожаловать!

if people_count < 10:
        print("Добро пожаловать!")
else:
        print("Всё занято. Подождите!")

Добро пожаловать!

In [ ]:
password = "aaa"
answer = "bbb"
if password == answer:
        print("Добро пожаловать!")
else:
        print("Вы ввели неверный пароль!")

Вы ввели неверный пароль!

In [ ]:
name = "aaa"
age = 17
if age >= 18:
        print("Добрый вечер,", name)
else:
        print("Привет,{}! Приносим свои извинения, но вы не можете гулять после 22:00".format(name))

Привет,aaa! Приносим свои извинения, но вы не можете гулять после 22:00

In [ ]:
number = 15
if (number % 2) == 0:
    if (number % 5) == 0:
        print("{} делится на 2 и на 5".format(number))
    else:
        print("{} делится на 2, но не делится на 5".format(number))

else:
    if (number % 5) == 0:
        print("{} не делится на 2, но делится на 5".format(number))
    else:
        print("{} не делится ни на 2, ни на 5".format(number))

15 не делится на 2, но делится на 5

In [ ]:
result = 10
my_dict = {'key_1': 10}
print(my_dict)
item = my_dict.pop('key_1')
if my_dict:
    result = result + item
else:
    result = result + 12

print(result)
print(my_dict)

{'key_1': 10}
22
{}

In [ ]:
cust_age = 60
# Реализуем тот же код через тернарный оператор
cust_discount = 20 if cust_age >= 60 else 10

In [ ]:
purchases = ["Adidas", "Nike"]
#purchases = ["Adidas"]
# Стоимость заказа составила: 10848. С учетом скидки в 5% — 10305.6
#purchases = ["Nike", "Nike"]
# Стоимость заказа составила: 13100. С учетом скидки в 10% — 11790.0
#purchases = []
# Ваша корзина пуста

prices = {'Adidas': 4298, 'Nike': 6550, 'Puma': 4490, 'Asics': 3879}
#print(len(purchases))
if  not purchases:
    print("Ваша корзина пуста")
elif purchases[0] == purchases[1]:
    print("Стоимость заказа составила: {}. С учетом скидки в 10% — {}".format(prices[purchases[0]]+prices[purchases[1]],(prices[purchases[0]]+prices[purchases[1]])*0.9))
else:
    print("Стоимость заказа составила: {}. С учетом скидки в 5% — {}".format(prices[purchases[0]]+prices[purchases[1]],(prices[purchases[0]]+prices[purchases[1]])*0.95))

Стоимость заказа составила: 10848. С учетом скидки в 5% — 10305.6

In [ ]:

target_word = "education"
tg = list(target_word)
if tg.count("q") > 0 or tg.count("z") > 0:
    print("Ух ты! Вы ввели редкое слово!")
else:
    print("Это не очень редкое слово...")

Это не очень редкое слово...

In [ ]:
height = 183
weight = 78
zodiac_sign = 'козерог'
zod = ["весы", "дева", "овен", "козерог"]

if zod.count(zodiac_sign) > 0 and height > 180 and weight < 80:
      print("Ваша половинка нашлась!")
else:
      print("Попробуем поискать еще!")

Ваша половинка нашлась!

In [ ]:
speed = 4

if speed in [1,2,3,4]:
   print("weak")
elif speed in [5, 6, 7,8,9,10]:
   print("moderate")
elif speed in [11,12,13,14,15,16,17,18]:
   print("strong")

else:
   print("hurricane")

weak

In [ ]:
#date = '16.04.2019 15:59'
#date = '12.05.2019 08:42'
date = '05.07.2018 20:15'

rdt = ((date.split(' '))[0]).split('.')
if date[2] == '2019' and date[1] == '5':
  print("category = 1")
elif date[1] in ['01','02','03','04'] and date[2]=='':
  print("category = 2")
  print(rdt)
else:
  print()

['05', '07', '2018']

In [ ]:
medicines = {'Ибупрофен': 99, 'Эспумизан': 279, 'Пенталгин': 119}
name = 'Визин'


try:
  medicines[name]
  print(medicines[name])
except Exception as e:
    #print('Код завершился с ошибкой: {}'.format(e))
    print("Такого ключа в словаре нет")

99

In [ ]:
number = 10

if number == 0:
  raise ZeroDivisionError("Вы собираетесь делить на 0")
result = 10/number
result= round(result,3)

1.0

In [ ]:
p=1
num_list = [98, 24, 23, 12, 3]
for num in num_list:
  p *=num
  print(p)

98
2352
54096
649152
1947456

In [ ]:
p=0
for i in range(10,1,-1):
  p+=1
  print(p,i)

1 10
2 9
3 8
4 7
5 6
6 5
7 4
8 3
9 2

In [ ]:
p=0
num_list = [1, 10, 3, -5]
num_list.sort()
print(num_list)
for num in num_list:
  print("element {}: {}".format(p,num))
  p +=1
  ## element 0: -5

[-5, 1, 3, 10]
element 0: -5
element 1: 1
element 2: 3
element 3: 10

In [ ]:
num_list = list(range(0, 100, 3))
#print(num_list)
count_even = 0
for element in num_list:
  if element % 2 == 0:
 #   print("element {}: {}".format(count_even,element))
    count_even +=1

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
element 0: 0
element 1: 6
element 2: 12
element 3: 18
element 4: 24
element 5: 30
element 6: 36
element 7: 42
element 8: 48
element 9: 54
element 10: 60
element 11: 66
element 12: 72
element 13: 78
element 14: 84
element 15: 90
element 16: 96

In [ ]:
mixture_list = [True, 1, -10, 'hello', False, 'string_1', 123, 2.5, [1, 2], 'another']
count_str = 0
for element in mixture_list:
  if isinstance(element, str):
    #print(type(element))
    count_str +=1
  #else: print("negative", type(element))
#print(count_str)

<class 'str'>
<class 'str'>
<class 'str'>
3

In [ ]:

#word_list = ["My", "name", "is", "Sergei", "EOS", "I'm", "from", "Moscow", "EOS"]
text = ''
for word in word_list:
  if word =="EOS":
    #print(type(element))
    text +="."
  else: text +=" "+ word
  #print(text)

 My
 My name
 My name is
 My name is Sergei
 My name is Sergei.
 My name is Sergei. I'm
 My name is Sergei. I'm from
 My name is Sergei. I'm from Moscow
 My name is Sergei. I'm from Moscow.

In [ ]:
volume = 10
s=0
i=0
portion = 0.0033
port_l = portion*1000
while s <= volume:
    i+=1
    s +=port_l
   # print(s,i)
cost = (s- volume)
#print(cost)

3.1999999999999993

In [ ]:
number = 0
value = 10
n=1
while n**2 < value:
     n+=1
number = n
print(n)

4

In [ ]:
number = 0
value = 10
n=1
while True:
     if n**2 < value:
         n+=1
     else: break

number = n
print(n)

4

In [ ]:
n =10
x = 1
while (x ** 2) % n != 0:
  x += 1
print(x)

1
10

In [ ]:
value =1000
x = 1
p=1
while  p <value:
  p = x*p
  x+=1
print(x,p)

8 5040

In [ ]:


money = 1000
target_money = 3000
year_count = 0
percent =0.08

while  money <target_money:
  money = money + money*percent
  year_count+=1
print(money,year_count)

3172.1691141982697 15

In [ ]:
health = 500
damage = 80
seconds_num=0
while health > 0:
      health = health - damage
      print(health,damage, seconds_num)
      seconds_num +=1

420 80 0
340 80 1
260 80 2
180 80 3
100 80 4
20 80 5
-60 80 6

In [ ]:
a = 1
b = 1
i = 2
n =5
fibonacci_list = [a,b]
while i < n:
#    print("before",a,b)
    if n<=3:
      bn = a + b
      fibonacci_list.append(bn)
      break

    bn = a + b
    b = a
    a = bn
    i += 1
    fibonacci_list.append(bn)
#    print("after",a,b)
print(fibonacci_list)

[1, 1, 2, 3, 5]

In [ ]:
random_matrix = [
    [9, 2, 1],
    [2, 5, 3],
    [4, 8, 5]
]

max_value_rows = []

for row in random_matrix:
    max_value = row[0]
    for elem in row:

        if elem > max_value:

            max_value = elem

    max_value_rows.append(max_value)

print("MAximum elements:", max_value_rows)

MAximum elements: [9, 5, 8]

In [ ]:
count = 0
for i in range(5):
    for j in range(4):
        count += 1
print(count)

20

In [ ]:
test_matrix = [
     [1, 2, 3],
    [7, -1, 2],
    [123, 2, -1, 6]
]

isb = True
is_square = False
i = 0
N = len(test_matrix)
M = len(test_matrix[i])
#print("len", len(test_matrix[i]))
while i<N:
    if len(test_matrix[i]) == M:
#      print(len(test_matrix[i]),"=",M,is_square,i)
      i+=1
    else:
#      print(len(test_matrix[i]),"=",M,is_square,i)
      is_square = False
      isb = False
      break

if (N == M) and isb == True:  is_square = True
# print(is_square)

3 = 3 False 0
3 = 3 False 1
4 = 3 False 2
False

In [ ]:
temp = [[25, 27, 28, 26, 27, -26, -25, -2, 26],
        [21, 22, 28, 27, 28, 26, 25, 19, 26],
        [-19, 21, 25, -27, 28, 25, 21, 20, 26]]
i=0
for row in temp:
#    print(row)
    k=0
    for elem in row:

        if "-" in str(elem):
          #print(elem)
          elem = elem + elem *(-2)
          #print(i,k)
        #  print("massive",temp[i][k],i,k)
          temp[i][k] = elem
       #   print("element",elem)
        k+=1

    i+=1
print(temp)

In [ ]:
customer_satisfaction = [
    [0.87, 0.56, 0.77],
    [0.22, 0.46, 0.56, 0.89, 0.95],
    [0.45, 0.44, 0.68],
    [0.73, 0.88, 0.95, 0.49]
]

month_satisfaction =[]


i=0
for row in customer_satisfaction:
 #   print(row)
    k=0
    elem_m = 0
    for elem in row:
        elem_m +=elem
     #   print(elem)
        k+=1

    elem_m = elem_m/k
    month_satisfaction.append(round(elem_m,2))
    i+=1
print(month_satisfaction)

max_satisfaction = month_satisfaction[0]
for row in month_satisfaction:
     if max_satisfaction < row:
          max_satisfaction = row
print(max_satisfaction)


#max_satisfaction

[0.73, 0.62, 0.52, 0.76]
0.76

In [ ]:
str_list = ['Hello', 'my', 'name', 'is', 'Ezeikel', 'I', 'like', 'knitting']
cut_str_list = []
## cut_str_list = [[0, 'Hel'], [1, 'my'], [2, 'nam'], [3, 'is'], [4, 'Eze'], [5, 'I'], [6, 'lik'], [7, 'kni']]
for i, dynamic in enumerate(str_list):

    cut_str_list.append([i,dynamic[:3]])

#print(cut_str_list)

[[0, 'Hel'], [1, 'my'], [2, 'nam'], [3, 'is'], [4, 'Eze'], [5, 'I'], [6, 'lik'], [7, 'kni']]

In [ ]:
i = 0
while True:
    if i > 10:
        break
    else:
        i += 1

print(i)

11

In [ ]:
n = 19
origin = n
# Создаём бесконечный цикл
while True:

  if n%2 == 0:
     n = n // 2
  else: n = (n * 3 + 1) // 2
  if n == 1:
        print(f'Syracuse hypothesis holds for number {origin}')
        break

Syracuse hypothesis holds for number 19

In [ ]:
lst=['a', 'b', 'c', 'd', 'e']
for elem in lst:
    if elem == 'c':
        continue
    print(elem, end=' ')

a b d e

In [ ]:
#mixture_dict = {'a': 15, 'b': 10.5, 'c': '15', 'd': 50, 'e': 15, 'f': '15'}
mixture_dict = {'key1': 24, 'key2': '1.4', 'key3': 14, 'key4': 16.24, 'key6': 124.2414, 'key7': 12.2}
count_numbers = 0
for elem in mixture_dict:
    print(type(mixture_dict[elem]))
    #print(elem)
    if type(mixture_dict[elem]) == (type('AAA')) :
        continue
    count_numbers+=1
print(count_numbers)

<class 'int'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
5

In [ ]:

text = """
She sells sea shells on the sea shore;
The shells that she sells are sea shells I am sure.
So if she sells sea shells on the sea shore,
I am sure that the shells are sea shore shells.
"""
## count_punctuation = {',': 1, '.': 2, '?': 0, '!': 0, ';': 1, '—': 0}

#text = """
#Иной раз казалось ему, что он уже с месяц лежит; в другой раз — что всё тот же день идет. Но об том — об том он совершенно забыл; зато ежеминутно помнил, что об чем-то забыл, чего нельзя забывать, — терзался, мучился, припоминая, стонал, впадал в бешенство или в ужасный, невыносимый страх.
#Тогда он порывался с места, хотел бежать, но всегда кто-нибудь его останавливал силой, и он опять впадал в бессилие и беспамятство. Наконец он совсем пришел в себя!
#"""
## count_punctuation = {',': 12, '.': 3, '?': 0, '!': 1, ';': 2, '—': 3}

count_punctuation={}
punctuation =


text = text.lower()
# Заменяем пробелы на пустые строки
text = text.replace(" ", "")
# Заменяем символы переноса строки на пустые строки
text = text.replace("\n", "")
# Создаём пустой словарь для подсчёта количества символов
count_dict = {}
# Создаём цикл по символам в строке text
for symbol in text: # symbol — текущий символ в тексте
    # Проверяем условие, что символа ещё нет среди ключей словаря.
    if symbol not in count_dict:
        # Если условие выполняется, заносим символ в словарь со значением 1.
        count_dict[symbol] = 1 #
    else:
        # В противном случае увеличиваем частоту символа
        count_dict[symbol] += 1
# Выводим результирующий словарь
print(count_dict)

In [ ]:
#Проект
# Импортируем библиотеку для выполнения HTTP-запросов в интернет
import requests

# Читаем текстовый файл по url-ссылке
data = requests.get("https://raw.githubusercontent.com/SkillfactoryDS/Datasets/master/war_peace_processed.txt").text

# Предобрабатываем текстовый файл
data = data.split('\n')
data.remove('')
data = data + ['[new chapter]']

# Выводим первые 100 слов из книги
#print(data[:100])

# Превращаем список в множество, удаляя дублирующиеся слова
word_set = set(data)
# Удаляем из множества слово, символизирующее раздел между главами
word_set.discard('[new chapter]')
# Выводим результаты
#print('Общее количество слов: {}'.format(len(data)))
#print('Общее количество уникальных слов: {}'.format(len(word_set)))

#Инициализируем пустой словарь
word_counts = {}
# Инициализируем количество глав
count_chapter = 0
# Создаем цикл по всем словам из списка слов
for word in data:
    # Проверяем, что текущее слово - обозначение новой главы
    if word == '[new chapter]':
        # Если условие выполняется, то увеличиваем количество глав на 1
        count_chapter += 1
        # Переходим на новую итерацию цикла
        continue
    # Проверяем, что текущего слова еще нет в словаре слов
    if word not in word_counts:
        # Если условие выполняется, инициализируем новый ключ 1
        word_counts[word] = 1
    else:
        # В противном случае, увеличиваем количество слов на 1
        word_counts[word] += 1

# Выводим количество глав
#print('Количество глав: {}'.format(count_chapter))

# Создаем цикл по ключам и их порядковым номерам полученного словаря
for i, key in enumerate(word_counts):
    # Выводим только первые 10 слов
    if i == 10:
        break
#    print(key, word_counts[key])

    # Инициализируем общий список, в котором будем хранить списки слов в каждой главе
chapter_data = []
# Инициализируем список слов, в котором будет хранить слова одной главы
chapter_words = []

# Создаем цикл по всем словам из списка
for word in data:
    # Проверяем, что текущее слово - обозначение новой главы
    if word == '[new chapter]':
        # Если условие выполняется, добавляем список со словами из главы в общий список
        chapter_data.append(chapter_words)
        # Обновляем (перезаписываем) список со словами из текущей главы
        chapter_words = []
    else:
        # В противном случае, добавляем текущее слово в список со словами из главы
        chapter_words.append(word)

# Проверяем, что у нас получилось столько же списков, сколько глав в произведении
# print('Вложенный список содержит {} внутренних списка'.format(len(chapter_data)))
# Выведем первые 100 слов 0-ой главы
# print(chapter_data[0][:100])
# chapter_data[15][100]

# Инициализируем список, в котором будем хранить словари
chapter_words_count = []

# Создаем цикл по элементам внешнего списка со словами
for chapter_words in chapter_data:
    # Инициализируем пустой словарь, куда будем добавлять результаты
    temp = {}
    # Создаем цикл по элементам внутреннего списка
    for word in chapter_words:
        # Проверяем, что текущего слова еще нет в словаре
        if word not in temp:
            # Если условие выполняется, добавляем ключ в словарь
            temp[word] = 1
        else:
            # В противном случае, увеличиваем количество влождений слова в главу
            temp[word] += 1
    # Добавляем получившийся словарь в список
    chapter_words_count.append(temp)

# Выводим результат
# print(chapter_words_count)

chapter_words_count[15]['гостья']

# Создаем цикл по ключам словаря - спискам слов и их порядковым номерам
for chapter_number, chapter_dict in enumerate(chapter_words_count):
    # Выводим только первые 5 глав
    if chapter_number == 16:
        break
    # Выводим номер главы
 #   print('-' * 40)
 #   print('Chapter: {}'.format(chapter_number))
 #   print('-' * 40)
    # Создаем цикл по ключам - словам и их порядковым номерам
    for j, word in enumerate(chapter_dict):
        # Выводим первые 10 слов из главы
        if j == 10:
            break
#        print(word, chapter_dict[word])

In [ ]:
target_word = 'гостья'
target_chapter = 15
#print(chapter_words_count[target_chapter][target_word])
#print(len(chapter_data[target_chapter]))
# Ваш код здесь
#создаем пустой список для наполнения его данными с рассчтеным tf
list_tf = []
# Создаем цикл по элементам списка
k=0
for k, wdict in enumerate(chapter_words_count):
   # print(wdict)
    temp= {}
# Создаем цикл по ключам словаря
    for m, t_word in enumerate(wdict):
# считаем tf и кладем его по ключу в словарь
        temp[t_word] = (chapter_words_count[k][t_word])/len(chapter_data[k])
# формируем списсок со словарями с рассчитаным tf
    list_tf.append(temp)
    k+=1
#вытаскиваем нужные данные из списка.
tf = list_tf[target_chapter][target_word]
print(round(tf,5))

0.00736

In [ ]:
#Задание 1
target_word = 'F'
target_chapter = 15
# Ваш код здесь
#создаем пустой список для наполнения его данными с рассчтеным tf
list_tf = []
# Создаем цикл по элементам списка
k=0
for  wdict in chapter_words_count:
    temp= {}
# Создаем цикл по ключам словаря
    for t_word in wdict:
# считаем tf и кладем его по ключу в словарь
        temp[t_word] = (chapter_words_count[k][t_word])/len(chapter_data[k])
# формируем список со словарями с рассчитаным tf
    list_tf.append(temp)
    k+=1
#вытаскиваем нужные данные из списка содержащий словари.
tf = list_tf[target_chapter][target_word]
print(round(tf,5))
#print(list_tf)

0.00294

In [ ]:
#Задание 2
target_word = 'анна'
#создаем пустой словарь
dict_df = {}
#создаем цикл по словам из множества
for tw in word_set:
        k=0
#создаем цикл по списку, откуда достаем словари содержащие главы
        for wdict in chapter_words_count:
#проверяем содержится ли ключевое слово в словаре главы
          if tw in wdict:
            k+=1
#наполняем словарь ключевым словом и расчетным значением df с округлением
        dict_df[tw] = round(k/count_chapter,4)
#выводим
dict_df[target_word]

0.1871

In [ ]:
#Задание 3
# Импортируем функцию log из модуля math:
from math import log
target_word = 'анна'
target_chapter = 4
print(log(18))

tfidf =

2.8903717578961645

In [ ]:
def mult(*arch):
    result = 1
    for arg in arch:
          result = result*arg
    return result

print(mult(3,5,10))

150

In [ ]:
hyp = lambda a,b:  (a**2 + b**2) ** (1/2)
print(hyp(a = 3, b = 4))

5.0

In [ ]:
def sort_slides(l_in):
  l_in.sort(key=lambda lst:(hyp(lst)))
  return l_in

hyp = lambda arg:  (arg[0]**2 + arg[1]**2) ** (1/2)

print(sort_slides([(3,4), (1,2), (10,10)]))

[(1, 2), (3, 4), (10, 10)]
[(1, 2), (3, 4), (10, 10)]

In [ ]:
def get_count_unique_symbols(s):
  return len(set((s.lower()).replace(' ','')))

get_count_unique_symbols('Это простая строка')
## 9
get_count_unique_symbols('This is a simple string')
## 12

12

In [ ]:
def get_min_string(s1, s2):
        def get_count_unique_symbols(s):
            return len(set((s.lower()).replace(' ','')))
        # Применяем вложенную функцию к каждой из строк
        s1_len = get_count_unique_symbols(s1)
        s2_len = get_count_unique_symbols(s2)
        if s1_len < s2_len: return s1
        if s2_len < s1_len: return s2
        else:
          return s1,s2
print(get_min_string(s1='Это простая строка', s2='This is a simple string'))
## Это простая строка
print(get_min_string(s1='Отличная фраза', s2='Great phrase'))
## Great phrase
print(get_min_string(s1='школа', s2='school'))
## ('школа', 'school')

Это простая строка
Great phrase
('школа', 'school')

In [ ]:
pi = 3.1416

def calculate_area_ellipse(a, b):
  area = pi*a*b
  area = round(area,2)
  return area


def calculate_area_circle(r):
  area = pi*r**2
  area = round(area,2)
  print(area)
  return area



print(calculate_area_circle(r=5))
## 78.54
print(calculate_area_ellipse(a=3, b=2.5))
## 23.562

#pi = 3.14
print(calculate_area_circle(r=5))
## 78.5
print(calculate_area_ellipse(a=3, b=2.5))
## 23.55

78.54
78.54
23.56
78.54
78.54
23.56

In [ ]:
# Создадим глобальную переменную, изначально она равна 0
global_count = 0

# Создадим функцию, которая прибавляет 1 к переменной global_count
def add_item():
    # Здесь мог бы быть код для добавления товара в базу данных
    # Увеличим общее количество товаров на 1
    global_count = global_count + 1

print(global_count)
# Вызовем функцию add_item()
add_item()
# Напечатаем значение переменной global_count

0

UnboundLocalError: local variable 'global_count' referenced before assignment

In [ ]:

c = -2

def outer1(a, b):
    c = 2
    d = a + b + c
    return d

def outer2(a, b):
    global c
    d = a + b + c
    return d
print(outer1(a=5, b=3))
print(outer2(a=5, b=3))

IndentationError: unexpected indent (<ipython-input-4-42e98e996f59>, line 13)

In [ ]:

def cash(less_money):
    global money
    money -= less_money
    return money

money = 30240
print(cash(240))
    ## 30000

30000

In [ ]:
currencies = {'USD': 74, 'EUR': 88, 'GBP': 98 , 'CHF': 82}
money = 100000

def convert(currencies, money, currency):

    money = money / currencies[currency]
    return money

convert_money = convert(currencies, money, 'EUR')
print(convert_money)

## 1136.3636363636363

1136.3636363636363

In [ ]:

def count_occurrences(s, symbol):
    # Внутренняя функция для предобработки строки s
    def preprocessing_s():
        nonlocal s
        # Удаляем пробелы из строки
        s = s.replace(' ', '')
        # Приводим строку к нижнему регистру
        s = s.lower()
    # Вызываем функцию для предобработки аргумента s
    preprocessing_s()
    # Считаем количество символов symbol в строке s и возвращаем результат
    return s.count(symbol)

count_occurrences('This is simple string', symbol='t')
## 2

2

In [ ]:
advertising_campaigns = {'ютуб': [212, 248], 'вк': [514, 342], 'радио': [339, 125]}

# Создаём новый пустой словарь
advertising_campaigns_max = {}
# Создаём цикл по ключам исходного словаря
for key in advertising_campaigns:
    del max
    # Вычисляем максимум в списке, лежащем по ключу key

    mlist = advertising_campaigns[key]
    print(mlist, type(mlist))
    max = max(mlist)
#    mnum = max(mlist)
    # Добавляем максимум в новый словарь
    advertising_campaigns_max[key] = max

print(advertising_campaigns_max)

## {'ютуб': 248, 'вк': 514, 'радио': 339}

{'ютуб': 248, 'вк': 514, 'радио': 339}

In [ ]:



def is_leap(year):
  if year % 4 != 0:
    return False

  elif year % 100 == 0:
    if year % 400 == 0:
        return True
    else:
        return False
  else:
    return True


print(is_leap(2000))
# False
print(is_leap(2001))
# False
print(is_leap(2020))
# True
print(is_leap(1700))
# False

True
False
True
False

In [ ]:
def check_date(day, month, year):
    def is_leap(year):
      if year == 1999: return True
      if year % 4 != 0: return False
      elif year % 100 == 0:
        if year % 400 == 0:
            return True
        else:
           return False
      else:
       return True
    return is_leap(year)



print(check_date(18, 9, 1999))
# True
print(check_date(29, 2, 2000))
# True
print(check_date(29, 2, 2021))
# False
print(check_date(13, 13, 2021))
# False
print(check_date(13.5, 12, 2021))
# False

True
True
False
False
False

In [ ]:
# Функция для проверки корректности даты
def check_date(day, month, year):
    # Функция для определения високосного года
    # Возвращает True, если год високосный, и False в противном случае
    def is_leap(year):
        if year % 400 == 0: return True
        if year % 100 == 0: return False
        if year % 4 == 0: return True
        return False
    # Проверяем день, месяц и год на целочисленность
    if (type(day) is not int) or (type(month) is not int) or (type(year) is not int):
        return False
    # Проверяем год на заданный диапазон
    if (year <= 1900) or (year >= 2022):
        return False
    # Проверяем месяц на заданный диапазон
    if (month < 1) or (month > 12):
        return False
    # Проверяем день на заданный диапазон
    if (day < 1) or (day > 31):
        return False
    # Проверяем апрель, июнь, сентябрь и ноябрь на количество дней
    if (month in [4,6,9,11]) and (day > 30):
        return False
    # Проверяем количество дней в феврале
    if month == 2:
        # Проверяем високосность года
        if is_leap(year):
            if day > 29: return False
        else:
            if day > 28: return False
    return True



print(check_date(18, 9, 1999))
# True
print(check_date(29, 2, 2000))
# True
print(check_date(29, 2, 2021))
# False
print(check_date(13, 13, 2021))
# False
print(check_date(13.5, 12, 2021))
# False

True
True
False
False
False

In [ ]:
# Функция для проверки корректности даты
def check_date(day, month, year):
    def is_leap(year):
        if year % 400 == 0: return True
        if year % 100 == 0: return False
        if year % 4 == 0: return True
        return False
    # Проверяем день, месяц и год на целочисленность
    if (type(day) is not int) or (type(month) is not int) or (type(year) is not int):
        return False
    # Проверяем год на заданный диапазон
    if (year <= 1900) or (year >= 2022):
        return False
    # Проверяем месяц на заданный диапазон
    if (month < 1) or (month > 12):
        return False
    # Проверяем день на заданный диапазон
    if (day < 1) or (day > 31):
        return False
    # Проверяем апрель, июнь, сентябрь и ноябрь на количество дней
    if (month in [4,6,9,11]) and (day > 30):
        return False
    # Проверяем количество дней в феврале
    if month == 2:
        # Проверяем високосность года
        if is_leap(year):
            if day > 29: return False
        else:
            if day > 28: return False
    return True

# Функция для регистрации пользователей
def register(surname, name, date, middle_name=None, registry=None):
    # Вспомогательная функция для предобработки даты
    def preprocessing_date(date):
        day, month, year = date.split('.')
        day, month, year = int(day), int(month), int(year)
        return day, month, year
    # Если список не был передан — создаём пустой список
    if registry is None:
        registry = list()
    # Разделяем дату на составляющие
    day, month, year = preprocessing_date(date)
    # Проверяем корректность даты
    if check_date(day, month, year):
        # Добавляем данные в список
        registry.append((surname, name, middle_name, day, month, year))
        return registry
    else:
        raise ValueError("Invalid Date!")



reg = register('Petrova', 'Maria', '13.03.2003', 'Ivanovna')
reg = register('Ivanov', 'Sergej', '24.09.1995', registry=reg)
reg = register('Smith', 'John', '13.02.2003', registry=reg)
print(reg)
## [('Petrova', 'Maria', 'Ivanovna', 13, 3, 2003), ('Ivanov', 'Sergej', None, 24, 9, 1995), ('Smith', 'John', None, 13, 2, 2003)]

reg = register('Ivanov', 'Sergej', '24.13.1995')
## ValueError: Invalid Date!

[('Petrova', 'Maria', 'Ivanovna', 13, 3, 2003), ('Ivanov', 'Sergej', None, 24, 9, 1995), ('Smith', 'John', None, 13, 2, 2003)]

ValueError: Invalid Date!

In [ ]:
def triangle(p1, p2, p3):
    # Функция для вычисления сторон треугольника
    # По умолчанию параметры функции берутся из объемлющей области видимости
    def sides(p1, p2, p3):
        # Распаковываем кортежи для удобства, “;” означает новую строку кода
        x1, y1 = p1; x2, y2 = p2; x3, y3 = p3
        # Вычисляем стороны по теореме Пифагора
        a = ((x2 - x1) ** 2 + (y2 - y1)** 2) ** 0.5
        b = ((x3 - x1) ** 2 + (y3 - y1)** 2) ** 0.5
        c = ((x3 - x2) ** 2 + (y3 - y2)** 2) ** 0.5
        check_exist_triangle(a,b,c)
        return a, b, c

    # Функция для вычисления периметра треугольника
    def calculate_perimeter_triangle(a, b, c):
        # Периметр — сумма всех сторон треугольника
        perimeter = a + b + c
        return perimeter

    # Функция для вычисления площади треугольника
    def calculate_area_triangle(a, b, c):
        # Вычисляем полупериметр
        # Значение perimeter берётся из объемлющей области видимости
        p = perimeter / 2
        # Вычисляем площадь по формуле Герона
        area = (p * (p - a) * (p - b) * (p - c)) ** 0.5
        return area
    a, b, c = sides(p1, p2, p3)
    perimeter = calculate_perimeter_triangle(a, b, c)
    area = calculate_area_triangle(a, b, c)
    result = {'a': a, 'b': b, 'c': c, 'perimeter': perimeter, 'area': area}
    return result



def check_exist_triangle(a,b,c):
  if a + b > c and a + c > b and b + c > a:
    return True
  else: raise ValueError("Треугольник не существует")







print(triangle(p1=(2, 2), p2=(4, 1.25), p3=(1, 4.5)))
## {'a': 2.1360009363293826, 'b': 2.692582403567252, 'c': 4.422951503238533, 'perimeter': 9.251534843135168, 'area': 2.1250000000000027}
print(triangle(p1=(1, 1), p2=(1, 4), p3=(5, 1)))
## {'a': 3.0, 'b': 4.0, 'c': 5.0, 'perimeter': 12.0, 'area': 6.0}
print(triangle(p1=(2.5, 2), p2=(4, 1), p3=(1, 3)))
## ValueError: Треугольник не существует

{'a': 2.1360009363293826, 'b': 2.692582403567252, 'c': 4.422951503238533, 'perimeter': 9.251534843135168, 'area': 2.1250000000000027}
{'a': 3.0, 'b': 4.0, 'c': 5.0, 'perimeter': 12.0, 'area': 6.0}

ValueError: Треугольник не существует

In [ ]:

def radius(p1, p2):
        # Распаковываем кортежи для удобства, “;” означает новую строку кода
        x1, y1 = p1; x2, y2 = p2;
        # Вычисляем стороны по теореме Пифагора
        a = ((x2 - x1) ** 2 + (y2 - y1)** 2) ** 0.5
        return a





print(radius(p1=(3, 2.5), p2=(4, 4.5)))
## 2.23606797749979

print(radius(p1=(0, 0), p2=(1, 1)))
## 1.4142135623730951

2.23606797749979
1.4142135623730951

In [ ]:
pi = 3.1416
def circle(p1,p2):

      def radius(p1, p2):
          # Распаковываем кортежи для удобства, “;” означает новую строку кода
          x1, y1 = p1; x2, y2 = p2;
          # Вычисляем стороны по теореме Пифагора
          a = ((x2 - x1) ** 2 + (y2 - y1)** 2) ** 0.5
          return a


      def calculate_circumference(p1,p2):
          x1, y1 = p1; x2, y2 = p2;
          # Вычисляем стороны по теореме Пифагора
          a = ((x2 - x1) ** 2 + (y2 - y1)** 2) ** 0.5
          global pi
          l = 2*pi*a
          return l


      def calculate_area_circle(a):
          global pi
          s = pi* a **2
          return s
      a = radius(p1, p2)
      l = calculate_circumference(p1,p2)
      s = calculate_area_circle(a)
      dict1 = {'radius':round(a,3), 'circumference': round(l,3),'area':round(s,3)}
      return dict1




pi = 3.1416
print(circle(p1=(3, 2.5), p2=(4, 4.5)))
## {'radius': 2.236, 'circumference': 14.05, 'area': 15.708}

pi = 3.1416
print(circle(p1=(0, 0), p2=(1, 1)))
## {'radius': 1.414, 'circumference': 8.886, 'area': 6.283}

pi = 3.14
print(circle(p1=(3, 2.5), p2=(4, 4.5)))
## {'radius': 2.236, 'circumference': 14.043, 'area': 15.7}

{'radius': 2.236, 'circumference': 14.05, 'area': 15.708}
{'radius': 1.414, 'circumference': 8.886, 'area': 6.283}
{'radius': 2.236, 'circumference': 14.043, 'area': 15.7}

In [ ]:


def semi_axes(p1, p2, p3):
        # Распаковываем кортежи для удобства, “;” означает новую строку кода
        x1, y1 = p1; x2, y2 = p2; x3, y3 = p3
        # Вычисляем стороны по теореме Пифагора
        a = ((x2 - x1) ** 2 + (y2 - y1)** 2) ** 0.5
        b = ((x3 - x1) ** 2 + (y3 - y1)** 2) ** 0.5
        return a, b

print(semi_axes(p1=(3, 2.5), p2=(4.5, 2.5), p3=(3, 3.5)))
## (1.5, 1.0)

print(semi_axes(p1=(0, 0), p2=(0, 1), p3=(1, 0)))
## (1.0, 1.0)

(1.5, 1.0)
(1.0, 1.0)

In [ ]:
def ellipse(p1,p2,p3):

      def semi_axes(p1, p2, p3):
        # Распаковываем кортежи для удобства, “;” означает новую строку кода
        x1, y1 = p1; x2, y2 = p2; x3, y3 = p3
        # Вычисляем стороны по теореме Пифагора
        a = ((x2 - x1) ** 2 + (y2 - y1)** 2) ** 0.5
        b = ((x3 - x1) ** 2 + (y3 - y1)** 2) ** 0.5
        return a, b


      def calculate_area_ellipse(a,b):
          global pi
          s = pi*a*b
          return s


      def calculate_length_ellipse(a,b):
          global pi
          l2 = 2*pi*((a**2 + b**2)/2)**(1/2)
          return l2



      a,b = semi_axes(p1, p2, p3)
      s = calculate_area_ellipse(a,b)
      l = calculate_length_ellipse(a,b)
      dict1 = {'a':round(a,3), 'b': round(b,3),'length':round(l,3),'area':round(s,3)}
      return dict1






pi = 3.1416
print(ellipse(p1=(3, 2.5), p2=(4.5, 2.5), p3=(3, 3.5)))

## {'a': 1.5, 'b': 1.0, 'length': 8.01, 'area': 4.712}

pi = 3.1416
print(ellipse(p1=(0, 0), p2=(0, 1), p3=(1, 0)))

## {'a': 1.0, 'b': 1.0, 'length': 6.283, 'area': 3.142}

pi = 3.14
print(ellipse(p1=(0, 0), p2=(0, 1), p3=(1, 0)))
## {'a': 1.0, 'b': 1.0, 'length': 6.28, 'area': 3.14}

{'a': 1.5, 'b': 1.0, 'lenth': 8.01, 'area': 4.712}
{'a': 1.0, 'b': 1.0, 'lenth': 6.283, 'area': 3.142}
{'a': 1.0, 'b': 1.0, 'lenth': 6.28, 'area': 3.14}

In [ ]:
def sum_lst(lst):
    # Выводим текущее значение lst
    print(lst)
    # Задаём условие выхода из рекурсии
    if len(lst) == 0:
        return 0
    # Во всех других случаях возвращаем
    # сумму первого элемента списка
    # и результат суммирования оставшихся
    return lst[0] + sum_lst(lst[1:])


my_lst = [10, 21, 24, 12]
print(sum_lst(my_lst))

[10, 21, 24, 12]
[21, 24, 12]
[24, 12]
[12]
[]
67

In [ ]:
def multiply_lst(lst):
    # Выводим текущее значение lst
 #   print(lst)
    # Задаём условие выхода из рекурсии
    if len(lst) == 0:
        return 1
    # Во всех других случаях возвращаем
    # сумму первого элемента списка
    # и результат суммирования оставшихся
    return lst[0] * multiply_lst(lst[1:])

print(multiply_lst([1, 5, 2, 1.5]))
## 15
print(multiply_lst([]))
## 1

15.0
1

In [ ]:
def inv_sum_list(lst):
    # Выводим текущее значение lst
#    print(lst)
    # Задаём условие выхода из рекурсии
    if len(lst) == 0:
        return 0
    # Во всех других случаях возвращаем
    # сумму первого элемента списка
    # и результат суммирования оставшихся

    return 1/lst[0] + inv_sum_list(lst[1:])


print(inv_sum_list([10, 4, 8]))
## 0.475

print(inv_sum_list([10, 1, 2, 4, 8]))
## 1.975

print(inv_sum_list([]))
## 0

[10, 4, 8]
[4, 8]
[8]
[]
0.475
[10, 1, 2, 4, 8]
[1, 2, 4, 8]
[2, 4, 8]
[4, 8]
[8]
[]
1.975
[]
0

In [ ]:
def factorial(n):
    # Задаём условия выхода из рекурсии:
    if n==0: return 1
    if n==1: return 1
    # Во всех других случаях возвращаем
    # произведение текущего числа n и функции от n-1
    return factorial(n-1) * n


print(factorial(0))
print(factorial(3))
print(factorial(5))

1
6
120

In [ ]:
def combination(n, k):

    def factorial(n):
        # Задаём условия выхода из рекурсии:
        if n==0: return 1
        if n==1: return 1
        # Во всех других случаях возвращаем
        # произведение текущего числа n и функции от n-1
        return factorial(n-1) * n
    comb = factorial(n)/(factorial(n-k)*factorial(k))
    return comb

print(combination(n=10, k=5))
## 252.0
print(combination(n=12, k=3))
## 220.0
print(combination(n=1, k=1))
## 1.0
print(combination(n=0, k=0))
## 1.0

252.0
220.0
1.0
1.0

In [ ]:
# Импортируем модуль для работы с системными переменными
import sys
# Увеличим глубину рекурсии
sys.setrecursionlimit(1000000000)

def factorial(n):
    # Задаём условия выхода из рекурсии:
    if n==0: return 1
    if n==1: return 1
    # Во всех других случаях возвращаем
    # произведение текущего числа n и функции от n-1
    return n * factorial(n-1)


def wrong_factorial(n):
    # Удалили условие остановки
    return wrong_factorial(n-1) * n

print(len(str(factorial(960))))
## Вызываем функцию
#wrong_factorial(5)
## Возникнет ошибка:
## RecursionError: maximum recursion depth exceeded

2448

In [ ]:
from time import time
import sys
# Увеличим глубину рекурсии
sys.setrecursionlimit(1000000000)
# Объявляем рекурсивную функцию для расчёта факториала
def factorial(n):
    if n==0: return 1
    if n==1: return 1
    return factorial(n-1) * n
# Засекаем время до начала выполнения цикла
a = time()
for i in range(100):
    factorial(10000)
# Засекаем время после выполнения цикла
b = time()
# Считаем разницу: вычисляем время, потраченное на выполнение
print(b-a)

# Будет напечатано:
# 4.058465242385864

3.850029468536377

In [ ]:
def factorial_for(n):
    # Для расчёта произведения первый член — единица, а не ноль!
    result = 1
    # Перемножаем числа от 1 до n
    for i in range(1, n+1):
        result *= i
    return result

from time import time
# Объявляем функцию для расчёта факториала через цикл
def factorial_for(n):
    # Для расчёта произведения первый член — единица, а не ноль!
    result = 1
    # Перемножаем числа от 1 до n
    for i in range(1, n+1):
        result *= i
    return result
# Засекаем время до начала выполнения цикла
a = time()
for i in range(100):
    factorial_for(10000)
# Засекаем время после выполнения цикла
b = time()
# Считаем разницу: вычисляем время, потраченное на выполнение
print(b-a)

2.0876383781433105

In [ ]:

def fib(n):
    if n==1: return 1
    if n==2: return 1
    print(n)
    return fib(n-1) + fib(n-2)


#print(fib(1))
# 1
#print(fib(2))
# 1
print(fib(6))
# 8

6
5
4
3
3
4
3
8

In [ ]:
def power(val, n):
    if n==0: return 1
    if n==1: return val
#    print(n)
    return val * power(val,n-1)


print(power(25, 0))
# 1
print(power(-5, 4))
# 625

1
625

In [ ]:

# Функция для создания строки со скобками
def add_brackets(s):
    # Проверяем условие остановки: строка состоит из одного или двух символов
    if len(s) == 1 or len(s) == 2:
        # Возвращаем эти символы
        return s
    # В противном случае:
    # «Отщипываем» от строки первый и последний символы,
    # добавляем к ним скобки, а также результат вызова функции, в которую
    # передаем строку без первого и последнего символов
    return s[0] + '(' + add_brackets(s[1:-1]) + ')' + s[-1]

print(add_brackets('example'))
print(add_brackets('carr'))
print(add_brackets('hello'))

e(x(a(m)p)l)e
c(ar)r
h(e(l)l)o

In [ ]:
# Функция для создания строки со скобками (рекурсия)
def add_asterisk(s):
    # Проверяем условие остановки: строка состоит из одного или двух символов
    if len(s) == 1 :
          # Возвращаем эти символы
        return s
    # В противном случае:
    # «Отщипываем» от строки первый и последний символы,
    # передаем строку без первого и последнего символов
    return s[0] + '*' + add_asterisk(s[1:])



print(add_asterisk('hello'))
## h*e*l*l*o
print(add_asterisk('LItBeoFLcSGBOFQxMHoIuDDWcqcVgkcRoAeocXO'))
## L*I*t*B*e*o*F*L*c*S*G*B*O*F*Q*x*M*H*o*I*u*D*D*W*c*q*c*V*g*k*c*R*o*A*e*o*c*X*O
print(add_asterisk('gkafkafkZdaflkfa'))
## g*k*a*f*k*a*f*k*K*d*a*f*l*k*f*a

h*e*l*l*o
L*I*t*B*e*o*F*L*c*S*G*B*O*F*Q*x*M*H*o*I*u*D*D*W*c*q*c*V*g*k*c*R*o*A*e*o*c*X*O
g*k*a*f*k*a*f*k*Z*d*a*f*l*k*f*a

In [ ]:

def sum_list(lst):

  sum_m = sum(flatten(lst))
  return sum_m

def flatten(lst):
    # Создаём новый пустой список
    result = []
    # Создаём цикл по элементам списка
    for elem in lst:
        # Если элемент списка является списком,
        if type(elem) is list:
            # Применяем к нему функцию выпрямления и добавляем элементы к результату
            result += flatten(elem)
        else: # Если элемент не является списоком,
            # Добавляем элемент в новый список
            result.append(elem)
    return result

matrix = [
    [1, 1, 0],
    [4, 2, 1],
    [0, 2, 1]
]
print(sum_list(matrix))
## 12

12

In [ ]:
input_dict = {
    'key1': {
        'key2': ['value1', 'value2'],
        'key3': {
            'key4': ['value3']
        }
    },
    'key5': {
        'key6': {
            'key7': ['value3', 'value5', 'value6']
        }
    }
}

def print_dict(input_data, level=0):
    # Если input_data — словарь
    if type(input_data) is dict:
        # Создаём цикл по ключам словаря
        for key in input_data:
            # Выводим ключ в формате "<пробелы> <имя ключа> ->"
            print('  ' * (level) + '{} ->'.format(key))
            # Повторяем те же операции для каждого значения словаря
            print_dict(input_data[key], level=level+1)
    else: # В противном случае
        # Выводим значения в формате "<пробелы> <значения>"
        print('  ' * (level) + str(input_data))


print_dict(input_dict)

key1 ->
  key2 ->
    ['value1', 'value2']
  key3 ->
    key4 ->
      ['value3']
key5 ->
  key6 ->
    key7 ->
      ['value3', 'value5', 'value6']

In [ ]:
# Список из слов, длину которых мы хотим вычислить
words_list = ["We're", 'in', 'a', 'small', 'village', 'near', 'Chicago', 'My', "cousin's", 'getting', 'married.']


# Применяем функцию len к каждому элементу списка
# Для этого передаём функцию len и список words_list в функцию map
# Результат преобразуем в список
lengths_list = list(map(len, words_list))
# Посмотрим, что получилось
print(lengths_list)

[5, 2, 1, 5, 7, 4, 7, 2, 8, 7, 8]

In [ ]:
expenses = [(101, 203, 167), (214, 351, 752), (255, 2537), (852, 362, 366)]

# Применяем функцию max к каждому элементу списка
# Для этого передаём функцию max и список expenses в функцию map
# Результат преобразуем в список
expenses_max = list(map(max, expenses))
# Смотрим, что получилось
print(expenses_max)

[203, 752, 2537, 852]

In [ ]:

old_list = ['1', '2', '3', '4', '5', '6', '7']

## new_list = [1, 2, 3, 4, 5, 6, 7]
old_list = ['101', '203', '33', '45', '51', '46', '77']

## new_list = [101, 203, 33, 45, 51, 46, 77]

new_list =list(map(int, old_list))
print(new_list)

[101, 203, 33, 45, 51, 46, 77]

In [ ]:
expenses = [[2356, 4537, 8678], [7395, 1298, 6500, 4791],[6341, 3408], [1105, 8374, 5914], [1024, 7333], [3500, 2008, 9375, 6144]]
## expenses_sum = [15571, 19984, 9749, 15393, 8357, 21027]

expenses_sum = list(map(sum,expenses))
print(expenses_sum)


#expenses = [[101, 203, 167], [214, 351, 135, 752],[255, 2537], [852, 362, 366]]
## expenses_sum = [471, 1452, 2792, 1580]

[15571, 19984, 9749, 15393, 8357, 21027]

In [ ]:
salaries = [1500, 2200, 3500, 1200]

def calculate_tax(salary):
    if salary < 1000: # Если зарплата < 1000
        # Налог — 5 % от зарплаты
        return salary * 0.05
    elif salary < 2000: # Если зарплата < 2000
        # Налог — 10 % от зарплаты
        return salary * 0.1
    else:
        # Налог — 15 % от зарплаты
        return salary * 0.15

print(calculate_tax(1500))

# Применяем функцию calculate_tax к каждому элементу списка
# Для этого передаём функцию calculate_tax и список salaries в функцию map()
# Результат преобразуем к списку
taxes = list(map(calculate_tax, salaries))
# Выведем, что получилось
print(taxes)

150.0
[150.0, 330.0, 525.0, 120.0]

In [ ]:
quotes_dict = {
    'Преступление и наказание': 'А знаешь ли... что низкие потолки и тесные комнаты душу и ум теснят.',
    'Война и мир': 'И нет величия там, где нет простоты, добра и правды.',
    'Анна Каренина': 'Если искать совершенства, то никогда не будешь доволен.',
    'Детство': 'Правил у нас много, а правды нет.',
    'Колесо времени': 'Ничто так на соединяет людей, как улыбка.'
}

#print(list(quotes_dict.items()))

# Функция для преобразования одного элемента списка кортежей
def preprocessing_quoutes(name_quotes_tuple):
    # Разделяем составляющие кортежа на отдельные переменные
    name, text = name_quotes_tuple
    # Приводим цитату к нижнему регистру
    text = text.lower()
    # Заменяем точки и запятые на пустые строки
    text = text.replace('.', '')
    text = text.replace(',', '')
    # Разделяем цитату на слова по пробелу
    words = text.split(' ')
    # Возвращаем кортеж из названия произведения и текста
    return (name, words)

test_text = ('Детство', 'Правил у нас много, а правды нет.')
#print(preprocessing_quoutes(test_text))



# Применяем функцию processing_quoutes к списку кортежей
# Результат преобразовываем в словарь
processed_quotes_dict = dict(map(preprocessing_quoutes, quotes_dict.items()))

print(processed_quotes_dict)

{'Преступление и наказание': ['а', 'знаешь', 'ли', 'что', 'низкие', 'потолки', 'и', 'тесные', 'комнаты', 'душу', 'и', 'ум', 'теснят'], 'Война и мир': ['и', 'нет', 'величия', 'там', 'где', 'нет', 'простоты', 'добра', 'и', 'правды'], 'Анна Каренина': ['если', 'искать', 'совершенства', 'то', 'никогда', 'не', 'будешь', 'доволен'], 'Детство': ['правил', 'у', 'нас', 'много', 'а', 'правды', 'нет'], 'Колесо времени': ['ничто', 'так', 'на', 'соединяет', 'людей', 'как', 'улыбка']}

In [ ]:
prices = {'яблоко': 99, 'апельсин': 99, 'вишня': 147, 'персик': 145, 'грейпфрут': 139}

def calculate(fruits_tuple):
    # Разделяем составляющие кортежа на отдельные переменные
    name, price = fruits_tuple
    price = round(price * 0.95,2)

    # Возвращаем кортеж из названия произведения и текста
    return (name, price)



new_prices = dict(map(calculate, prices.items()))
print(new_prices)


## new_prices = {'яблоко': 94.05, 'апельсин': 94.05, 'вишня': 139.65, 'персик': 137.75, 'грейпфрут': 132.05}

#prices = {'Штаны': 2100, 'Кофта': 1520, 'Свитер': 3520, 'Галстук': 780, 'Ремень': 1390}
## new_prices = {'Штаны': 1995.0, 'Кофта': 1444.0, 'Свитер': 3344.0, 'Галстук': 741.0, 'Ремень': 1320.5}

{'яблоко': 94.05, 'апельсин': 94.05, 'вишня': 139.65, 'персик': 137.75, 'грейпфрут': 132.05}

In [ ]:
# Список чисел
number_list = [11, 12, 13, 14, 15, 16]
# Создаём lambda-функцию, которая возводит число в куб, и применяем её к списку
cube_number_list = list(map(lambda x: x**3, number_list))
# Выводим результирующий список
print(cube_number_list)

[1331, 1728, 2197, 2744, 3375, 4096]

In [ ]:


# Список строк, которые надо развернуть
str_list = ['шалаш', 'казак', 'палиндром', 'рвал дед лавр']
# Создаем lambda-функцию, которая переворачивает одну строку, и применяем её к списку
reverse_str_list = list(map(lambda x: x[::-1], str_list))
# Выводим результирующий список
print(reverse_str_list)

['шалаш', 'казак', 'морднилап', 'рвал дед лавр']

In [ ]:
data = [('Amanda', 1.61, 51), ('Patricia', 1.65, 61), ('Marcos', 1.91, 101)]

# Положим lambda-функцию в переменную для удобства
# x — кортеж (элемент исходного списка data)
map_func = lambda x: (x[0], x[1], x[2], round(x[2] / (x[1]**2), 1))
# Проверим работу функции для одного кортежа
map_func(('Amanda', 1.61, 51))

('Amanda', 1.61, 51, 19.7)

In [ ]:
data = [('Amanda', 1.61, 51), ('Patricia', 1.65, 61), ('Marcos', 1.91, 101)]
# Создаём lambda-функцию, которая считает BMI, и применяем её к каждому элементу списка
map_func = lambda x: (*x, round(x[2]/(x[1]**2), 1))
updated_data = list(map(map_func, data))
# Выводим результат
print(updated_data)

[('Amanda', 1.61, 51, 19.7), ('Patricia', 1.65, 61, 22.4), ('Marcos', 1.91, 101, 27.7)]

In [ ]:

site = "https://www.kommersant.ru"

docs = [
'//doc/5041434?query=data%20science',
'//doc/5041567?query=data%20science',
'//doc/4283670?query=data%20science',
'//doc/3712659?query=data%20science',
'//doc/4997267?query=data%20science',
'//doc/4372673?query=data%20science',
'//doc/3779060?query=data%20science',
'//doc/3495410?query=data%20science',
'//doc/4308832?query=data%20science',
'//doc/4079881?query=data%20science'
]

links = list(map(lambda name: site + name, docs))
print(links)

['https://www.kommersant.ru//doc/5041434?query=data%20science', 'https://www.kommersant.ru//doc/5041567?query=data%20science', 'https://www.kommersant.ru//doc/4283670?query=data%20science', 'https://www.kommersant.ru//doc/3712659?query=data%20science', 'https://www.kommersant.ru//doc/4997267?query=data%20science', 'https://www.kommersant.ru//doc/4372673?query=data%20science', 'https://www.kommersant.ru//doc/3779060?query=data%20science', 'https://www.kommersant.ru//doc/3495410?query=data%20science', 'https://www.kommersant.ru//doc/4308832?query=data%20science', 'https://www.kommersant.ru//doc/4079881?query=data%20science']

In [ ]:


data = [(0.00632, 6.575, 65.2, 296.0, 4.98),
(0.02731, 6.421, 78.9, 242.0, 9.14),
(0.02729, 7.185, 61.1, 242.0, 4.03),
(0.03237, 6.998, 45.8, 222.0, 2.94),
(0.06905, 7.147, 54.2, 222.0, 5.33),
(0.02985, 6.43, 58.7, 222.0, 5.21),
(0.08829, 6.012, 66.6, 311.0, 12.43)]



# Создаём lambda-функцию, которая считает XI, и применяем её к каждому элементу списка
map_func = lambda x: (*x, round(x[0] *  x[3] * x[4], 2))
updated_data = list(map(map_func, data))

print(updated_data)



#[(0.00632, 6.575, 65.2, 296.0, 4.98, 9.32),
#(0.02731, 6.421, 78.9, 242.0, 9.14, 60.41),
#(0.02729, 7.185, 61.1, 242.0, 4.03, 26.61),
#(0.03237, 6.998, 45.8, 222.0, 2.94, 21.13),
#(0.06905, 7.147, 54.2, 222.0, 5.33, 81.7),
#(0.02985, 6.43, 58.7, 222.0, 5.21, 34.53),
#(0.08829, 6.012, 66.6, 311.0, 12.43, 341.31)]

[(0.00632, 6.575, 65.2, 296.0, 4.98, 9.32), (0.02731, 6.421, 78.9, 242.0, 9.14, 60.41), (0.02729, 7.185, 61.1, 242.0, 4.03, 26.61), (0.03237, 6.998, 45.8, 222.0, 2.94, 21.13), (0.06905, 7.147, 54.2, 222.0, 5.33, 81.7), (0.02985, 6.43, 58.7, 222.0, 5.21, 34.53), (0.08829, 6.012, 66.6, 311.0, 12.43, 341.31)]

In [ ]:
words_list = ["We're", 'in', 'a', 'small', 'village', 'near', 'Chicago', 'My', "cousin's", 'getting', 'married.']


# Создаём пустой список, куда будем добавлять результаты
even_list = []
# Создаём цикл по элементам списка
for word in words_list:
    # Проверяем условие, что длина текущего слова чётная
    if len(word) % 2 == 0: # Если условие выполняется
        # Добавляем слово в новый список
        even_list.append(word)
print(even_list)

['in', 'near', 'My', "cousin's", 'married.']

In [ ]:
words_list = ["We're", 'in', 'a', 'small', 'village', 'near', 'Chicago', 'My', "cousin's", 'getting', 'married.']

# Объявляем функцию для проверки чётности длины строки
def is_even(x):
    return len(x) % 2 == 0

# Применяем функцию is_even() к каждому элементу списка
# Для этого передаём функцию is_even() и список words_list в функцию filter
even = filter(is_even, words_list)


# Применяем функцию is_even() к каждому элементу списка
# Для этого передаём функцию is_even() и список words_list в функцию filter
# Результат оборачиваем в список
even_list = list(filter(is_even, words_list))
# Смотрим, что получилось
print(even_list)

<filter object at 0x7993ed280d60>
['in', 'near', 'My', "cousin's", 'married.']

In [ ]:
words_list = ["We're", 'in', 'a', 'small', 'village', 'near', 'Chicago', 'My', "cousin's", 'getting', 'married.']

# Применяем lambda-функцию к каждому элементу списка
even_list = filter(lambda x: len(x) % 2 == 0, words_list)
# Смотрим, что получилось
print(list(even_list))

['in', 'near', 'My', "cousin's", 'married.']

In [ ]:
print("Москва".isalpha())
## Будет выведено:
## True

print("было пол 5 утра".isalpha())

True
False

In [ ]:
str_tuple = ("Москва", "15.1 см", "зацвело", "было пол 5 утра", "рассвет")

# Применяем lambda-функцию к каждому элементу кортежа
# Результат оборачиваем в кортеж
filtered_tuple = tuple(filter(lambda x: x.isalpha(), str_tuple))
# Смотрим, что получилось
print(filtered_tuple)

('Москва', 'зацвело', 'рассвет')

In [ ]:
data = [
    ("FPW-2.0_D", "Бонус: Тренажер по HTML", 10, 100, 10),
    ("FPW-2.0", "Бонус: Тренажер по JavaScript", 9.2, 70, 180),
    ("FPW-2.0_D", "Бонус: Тренажер по React", 8.5, 66.67, 68),
    ("FPW-2.0", "Бонусный: IT в современном мире", 8.64, 83.74, 856),
    ("FPW-2.0", "Бонусный: Введение", 8.73, 56.24, 745),
    ("FPW-2.0", "Бонус: D1. Знакомство с Django (NEW)", 9.76, 95.24, 21),
    ("FPW-2.0_D", "Бонус: D2. Модели (NEW)", 9.44, 77.78, 18)
]

def filter_module(module):
    # Распаковываем кортеж на пять переменных
    code, name, avg_votes, nessa, count = module
    # Создаём условия
    cond_1 = code == "FPW-2.0"
    cond_2 = nessa >= 70
    cond_3 = count > 50
    # Условия должны выполняться одновременно
    return cond_1 and cond_2 and cond_3


# Применяем функцию filter_module() для фильтрации списка кортежей
filtered_data = list(filter(filter_module, data))
print(filtered_data)



# Создаём lambda-функцию, которая возвращает True, если модуль удовлетворяет условиям
lambda_filter_module = lambda x: (x[0] == "FPW-2.0") and (x[3] >= 70) and (x[4] > 50)
# Применяем эту функцию к каждому элементу списка (к каждому кортежу)
filtered_data = list(filter(lambda_filter_module, data))
# Смотрим, что получилось
print(filtered_data)

[('FPW-2.0', 'Бонус: Тренажер по JavaScript', 9.2, 70, 180), ('FPW-2.0', 'Бонусный: IT в современном мире', 8.64, 83.74, 856)]
[('FPW-2.0', 'Бонус: Тренажер по JavaScript', 9.2, 70, 180), ('FPW-2.0', 'Бонусный: IT в современном мире', 8.64, 83.74, 856)]

In [ ]:
prices = [34562, 66572, 25683, 17683, 56389, 28973]
## filtered_prices = [25683, 17683, 28973]

lambda_filter_module = lambda x: (x < 30000)
filtered_prices = list(filter(lambda_filter_module, prices))

print(filtered_prices)

[25683, 17683, 28973]

In [ ]:
family_list = [
    'certificate of a large family',
    'social card',
    'maternity capital',
    'parking permit',
    'tax benefit',
    'reimbursement of expenses',
    "compensation for the purchase of children's goods"
 ]


def filter_family(ff):

  family = list(filter(lambda x: x in family_list, ff))
  return family



print(filter_family(['newborn registration', 'parking permit', 'maternity capital', 'tax benefit', 'medical policy']))
## ['parking permit', 'maternity capital', 'tax benefit']

['parking permit', 'maternity capital', 'tax benefit']

In [ ]:
words_list = ["We're", 'in', 'a', 'small', 'village', 'near', 'Chicago', 'My', "cousin's", 'getting', 'married.']


# Отбираем слова из пяти и более букв
filtered_words = filter(lambda x: len(x) >= 5, words_list)
# Все отобранные слова переводим в нижний регистр и считаем число букв 'a' в них
# Результат выдаём в виде кортежа (слово, количество букв "a")
count_a = map(lambda x: (x, x.lower().count('a')), filtered_words)
# Переводим объект map в list и печатаем его
print(list(count_a))

[("We're", 0), ('small', 1), ('village', 1), ('Chicago', 1), ("cousin's", 0), ('getting', 0), ('married.', 1)]

In [ ]:
data = [
    ('Amanda', 1.61, 51),
    ('Patricia', 1.65, 61),
    ('Marcos', 1.91, 101),
    ('Andrey', 1.79, 61),
    ('Nikos', 1.57, 78),
    ('Felicia', 1.63, 56),
    ('Lubov', 1.53, 34)
]


# Создаём lambda-функцию, которая считает BMI, и применяем её к каждому элементу списка
map_func = lambda x: (*x, x[2]/(x[1]**2))
updated_data = map(map_func, data)
# Создаём lambda-функцию, которая возвращает True, если 18.5 <= BMI <= 25
filter_func = lambda x: 18.5 <= x[3] <= 25
# Применяем эту функцию к результату работы map()
filtered_data = filter(filter_func, updated_data)
# Переводим объект filter в list и печатаем его
print(list(filtered_data))

[('Amanda', 1.61, 51, 19.675166853130666), ('Patricia', 1.65, 61, 22.4058769513315), ('Andrey', 1.79, 61, 19.038107424861895), ('Felicia', 1.63, 56, 21.077195227520797)]

In [ ]:
reg = [('Ivanov', 'Sergej', 24, 9, 1995),
      ('Smith', 'John', 13, 2, 2003),
      ('Petrova', 'Maria', 13, 3, 2003)]
def newf(filtered_data):
        # Распаковываем кортеж на пять переменных
      surname, name, day, month, year = filtered_data
      powe = surname+' '+ name[:1]+'.', day, month, year

      return powe

# Создаём lambda-функцию, которая считает выбирает нужный год,
filter_func = lambda x: 2000 <= x[4]
filtered_data = filter(filter_func, reg)
new_reg = list(map(newf, filtered_data))


print(new_reg)


#new_reg = [('Smith J.', 13, 2, 2003), ('Petrova M.', 13, 3, 2003)]

[('Smith J.', 13, 2, 2003), ('Petrova M.', 13, 3, 2003)]

In [ ]:

data = [(0.00632, 6.575, 65.2, 296.0, 4.98),
(0.02731, 6.421, 78.9, 242.0, 9.14),
(0.02729, 7.185, 61.1, 242.0, 4.03),
(0.03237, 6.998, 45.8, 222.0, 2.94),
(0.06905, 7.147, 54.2, 222.0, 5.33),
(0.02985, 6.43, 58.7, 222.0, 5.21),
(0.08829, 6.012, 66.6, 311.0, 12.43)]



# Создаём lambda-функцию, которая считает XI, и применяем её к каждому элементу списка
map_func = lambda x: (*x, round(x[0] *  x[3] * x[4], 2))
updated_data = list(map(map_func, data))

filter_func = lambda x: 60 <= x[5]
filtered_data = list(filter(filter_func, updated_data))

print(filtered_data)

[(0.02731, 6.421, 78.9, 242.0, 9.14, 60.41), (0.06905, 7.147, 54.2, 222.0, 5.33, 81.7), (0.08829, 6.012, 66.6, 311.0, 12.43, 341.31)]

In [ ]:


python_string = 'Hello! My name is Python. I will help you to analyze some data.'
## result = 250047

python_string = 'Привет! Меня зовут Питон. Я помогу вам проанализировать некоторые данные.'
## result = 389017
print(len(python_string)**3)

389017

In [ ]:


predicted_time = 38.873
real_time = 26.124

ola = round((predicted_time - real_time),0)
absolute_error = abs(int(ola))

print(absolute_error)

13

In [ ]:
input_string = 'Hello! My name is Python. I will help you to analyze some data.'
## count_words = 13

#input_string = 'There are many great articles about Artificial Intelligence and its benefits for business and society. However, many of these articles are too technical for the average reader.'
## count_words = 27


text = input_string.replace(",", "")
text = text.replace(".", "")
text = text.replace("?", "")
text = text.replace("!", "")
text = text.split(" ")
count_words = len(text)

print(count_words,text)

13 ['Hello', 'My', 'name', 'is', 'Python', 'I', 'will', 'help', 'you', 'to', 'analyze', 'some', 'data']

In [ ]:


file_path = 'data/images/train/10394.jpg'
## file_name = '10394'
## file_extension = 'jpg'

file_path = 'data/images/validation/748923.gif'
## file_name = '748923'
## file_extension = 'gif'

file_path = 'data/images/384300.png'
## file_name = '384300'
## file_extension = 'png'

file_path = file_path.split('.')
file_extension = file_path[1]
file_path = file_path[0].split("/")

file_name = file_path[len(file_path)-1]



print(file_extension,file_name)

png 384300

In [ ]:
generated_text = "глаза нее на поднял он и она попросила что-нибудь скажи"
## updated_text = "скажи что-нибудь попросила она и он поднял на нее глаза"

generated_text = "задачи своей решения способ или информацию ищет он поисковик в запрос вводит человек когда"
## updated_text = когда человек вводит запрос в поисковик он ищет информацию или способ решения своей задачи

generated_text = generated_text.split(" ")

updated_text = generated_text[::-1]
updated_text = ' '.join(updated_text)
print(updated_text)

#updated_text = []
#for str in generated_text:
#    updated_text

когда человек вводит запрос в поисковик он ищет информацию или способ решения своей задачи

In [ ]:


def change_password(user_name, new_password):
    str = "Пользователь {} сменил пароль на {}".format(user_name, new_password)
    return str



print(change_password('Andrey', '31andrey12QK'))
## Пользователь Andrey сменил пароль на 31andrey12QK

Пользователь Andrey сменил пароль на 31andrey12QK

In [ ]:


car_dict = {
    'car_ID': [123, 117, 111, 82, 101, 96, 156, 2, 58, 49],
    'fueltype': ['gas', 'diesel', 'diesel', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas', 'gas'],
    'horsepower': [68, 95, 95, 88, 97, 69, 62, 111, 101, 176],
    'price': [7609.0, 17950.0, 13860.0, 8499.0, 9549.0, 7799.0, 8778.0, 16500.0, 13645.0, 35550.0]
}





mean_price = sum(car_dict['price'])/(len(car_dict['price']))
count_diesel=0
for word in car_dict['fueltype']:
    if word == 'diesel':
      count_diesel+=1

min_horsepower = min(car_dict['horsepower'])

print(mean_price,count_diesel, min_horsepower)

13973.9 2 62

In [ ]:
lst = [0, 0, 1, 2, 3, 4, 5, 5, 6, 7]

# True



def check_duplicates(my_list):
  has_duplicates = len(my_list) > len(set(my_list))
  return has_duplicates

lst = list(range(0, 15))
print(check_duplicates(lst))
# False

False

In [ ]:


def swap_places(lst):
    temp = []
    temp = lst.copy()
    len_lst = len(lst)
    temp[0] = lst[len_lst-1]
    temp[len_lst-1] = lst[0]
    return temp


print(swap_places([1, 2, 3]))
## [3, 2, 1]
print(swap_places([1, 2, 3, 4, 5]))
## [5, 2, 3, 4, 1]
print(swap_places(['н', 'л', 'о', 'с']))
## ['с', 'л', 'о', 'н']

[3, 2, 1]
[5, 2, 3, 4, 1]
['с', 'л', 'о', 'н']

In [ ]:

def equalize_lengths(lst):
  longest = len(max(lst, key=len))
  i = 0
  for element in lst:
#    print(element,i)
    if len(element) < longest:
         lst[i] = (lst[i][:(len(element))] + (longest-len(element))*'_')
#         print(lst[i].count("_"))
#    else: print(element)
    i+=1
  return sorted(lst, key=lambda lst: lst.count("_"), reverse = False)


print(equalize_lengths(['крот', 'белка', 'выхухоль']))
# ['выхухоль', 'белка___', 'крот____']

print(equalize_lengths(['a', 'aa', 'aaa', 'aaaa', 'aaaaa']))
# ['aaaaa', 'aaaa_', 'aaa__', 'aa___', 'a____']

print(equalize_lengths(['qweasdqweas', 'q', 'rteww', 'ewqqqqq']))

# ['qweasdqweas', 'ewqqqqq____', 'rteww______', 'q__________']

['выхухоль', 'белка___', 'крот____']
['aaaaa', 'aaaa_', 'aaa__', 'aa___', 'a____']
['qweasdqweas', 'ewqqqqq____', 'rteww______', 'q__________']

In [ ]:



def check_number_sign(ff):
    if ff > 0: return 1
    elif ff < 0: return -1
    else: return 0



print(check_number_sign(5290))
# 1
print(check_number_sign(-983))
# - 1
print(check_number_sign(0))
# 0

1
-1
0

In [ ]:

def find_min_number(a, b, c):
    min_number = 0
    if a < b:
        min_number = a
    else:
        min_number = b
    if min_number > c:
        min_number = c
    return min_number


print(find_min_number(130, 122, 19))
# 19
print(find_min_number(10.9, 12.2, 18.4))
# 10.9

19
10.9

In [ ]:


def sum_min_numbers(a, b, c):
    numb = [a,b,c]
    numb.sort()
    summ = numb[0] + numb[1]
    return summ



print(sum_min_numbers(1, 2, 3))
# 3
print(sum_min_numbers(1, 2, -10))
# -9

3
-9

In [ ]:

def division(a, b):
  if b == 0:
    print("Zero division error!")
  else: return  a/b


print(division(189, 36))
# 5.25
print(division(1, 0))
# Zero division error!
# None

5.25
Zero division error!
None

In [ ]:

def get_prediction(x1,x2):
 if x1 < 20:
    if x2 < 200:
      return 300.5
    else: return 65.7
 elif x2 >= 170:
      return 1023
 elif x1 < 40:
      return -64.1
 else: return 0.7






print(get_prediction(x1=15, x2=150))
# 300.5
print(get_prediction(x1=15, x2=350))
# 65.7
print(get_prediction(x1=35, x2=100))
# -64.1
print(get_prediction(x1=175, x2=100))
# 0.7
print(get_prediction(x1=175, x2=200))
# 1023

300.5
65.7
-64.1
0.7
1023

In [ ]:
def more_than_n(lst, n):
  if lst == []:
     return lst
  temp = []
  for element in lst:
      if abs(element) > n:
          temp.append(element)
  return temp



print(more_than_n([-1, 4, 4.2, 42.2, -3.4, -5.2], 3))
# [4, 4.2, 42.2, -3.4, -5.2]
print(more_than_n([-1, 4, 4.2, 42.2, -3.4, -5.2], 10))
# [42.2]
print(more_than_n([], 10))
# []

[4, 4.2, 42.2, -3.4, -5.2]
[42.2]
[]

In [ ]:
def lucky_ticket(ticket_number):
    # Превращаем число в строку и выбираем первые три цифры
    first_three_num_str = str(ticket_number)[:3]
    # Превращаем число в строку и выбираем последние три цифры
    last_three_num_str = str(ticket_number)[3:]
    # Инициализируем начальные значения сумм для первых и последних трёх цифр
    first_three_sum = 0
    last_three_sum = 0
    # Создаём цикл для подсчёта суммы первых трёх цифр
    for digit in first_three_num_str:
        first_three_sum += int(digit)
    # Создаём цикл для подсчёта суммы последних трёх цифр
    for digit in last_three_num_str:
        last_three_sum += int(digit)
    # Сравниваем суммы между собой и возвращаем результат
    return first_three_sum == last_three_sum




print(lucky_ticket(111111))
# True
print(lucky_ticket(123456))
# False

True
False

In [ ]:
hc = {0:1,1:0,2:0,3:0,4:1,5:0,6:1,7:0,8:2,9:1}

def holes_count(number):
#  print(hc[4])
  snum = str(number)
  sh = 0
  for digit in snum:
        sh += int(hc[int(digit)])
  return sh



print(holes_count(8))
# 2
print(holes_count(146))
# 2
print(holes_count(84628))
# 6

2
2
6

In [ ]:


def even_numbers_in_matrix(matrix):
    summ = 0
    for row in matrix:
        for elem in row:
            if elem % 2 == 0:
                summ += 1
#    print("summ even elements:", summ)
    return summ




matrix_example = [
    [1, 5, 4],
    [4, 2, -2],
    [7, 65, 88]
]

print(even_numbers_in_matrix(matrix=matrix_example))
# 5

max_value_rows = []

summ even elements: 5
5

In [ ]:

def matrix_sum(matrix1, matrix2):
  if len(matrix1[0]) == len(matrix2[0]):
        if len(matrix1) == len(matrix2):
          result = [[matrix1[i][j] + matrix2[i][j] for j in range(len(matrix1[0]))] for i in range(len(matrix1))]
          return result
        else:
            print("Error! Matrices dimensions are different!")
            return None
  else:
      print("Error! Matrices dimensions are different!")
      return None




matrix_example = [
          [1, 5, 4],
          [4, 2, -2],
          [7, 65, 88]
]

print(matrix_sum(matrix1=matrix_example, matrix2=matrix_example))
# [[2, 10, 8], [8, 4, -4], [14, 130, 176]]

matrix1_example = [
          [1, 5, 4],
          [4, 2, -2]
]

matrix2_example = [
          [10, 15, 43],
          [41, 2, -2],
          [7, 5, 7]
]

print(matrix_sum(matrix1=matrix1_example, matrix2=matrix2_example))
# Error! Matrices dimensions are different!
# None

matrix1_example = [
          [1, 5, 4, 5],
          [4, 2, -2, -5],
          [4, 2, -2, -5]
]

matrix2_example = [
          [10, 15, 43],
          [41, 2, -2],
          [7, 5, 7]
]

print(matrix_sum(matrix1=matrix1_example, matrix2=matrix2_example))
# Error! Matrices dimensions are different!
# None

[[2, 10, 8], [8, 4, -4], [14, 130, 176]]
Error! Matrices dimensions are different!
None
Error! Matrices dimensions are different!
None

In [ ]:
def matrix_sum(matrix1, matrix2):
    # Проверяем, что матрицы имеют одинаковое количество элементов.
    if len(matrix1) != len(matrix2):
        print('Error! Matrices dimensions are different!')
        return
    # Проверяем, что длины строк матрицы равны между собой.
    for i in range(len(matrix1)):
        if len(matrix1[i]) != len(matrix2[i]):
            print('Error! Matrices dimensions are different!')
            return
    # Инициализируем новую матрицу
    sum_matrix = []
    # Создаём цикл по индексам строк матрицы
    for i in range(len(matrix1)):
        # Создаём пустой список, в который будем помещать элементы строк.
        line_tmp = []
        # Создаём цикл по индексам столбцов матрицы
        for j in range(len(matrix1[0])):
            # Вычисляем сумму соответствующих элементов матриц
            line_tmp.append(matrix1[i][j] + matrix2[i][j])
        # Добавляем полученную строку в список
        sum_matrix.append(line_tmp)
    # Возвращаем результат
    return sum_matrix




matrix_example = [
          [1, 5, 4],
          [4, 2, -2],
          [7, 65, 88]
]

print(matrix_sum(matrix1=matrix_example, matrix2=matrix_example))
# [[2, 10, 8], [8, 4, -4], [14, 130, 176]]

matrix1_example = [
          [1, 5, 4],
          [4, 2, -2]
]

matrix2_example = [
          [10, 15, 43],
          [41, 2, -2],
          [7, 5, 7]
]

print(matrix_sum(matrix1=matrix1_example, matrix2=matrix2_example))
# Error! Matrices dimensions are different!
# None

matrix1_example = [
          [1, 5, 4, 5],
          [4, 2, -2, -5],
          [4, 2, -2, -5]
]

matrix2_example = [
          [10, 15, 43],
          [41, 2, -2],
          [7, 5, 7]
]

print(matrix_sum(matrix1=matrix1_example, matrix2=matrix2_example))
# Error! Matrices dimensions are different!
# None

[[2, 10, 8], [8, 4, -4], [14, 130, 176]]
Error! Matrices dimensions are different!
None
Error! Matrices dimensions are different!
None

In [ ]:

def print_personal_data(**kwargs):
  sorted_items = sorted(kwargs.items(), key=lambda item: item[0])

  print(sorted_items)






print_personal_data(first_name='John', last_name='Doe', age=28, position='Python developer')
# age: 28
# first_name: John
# last_name: Doe
# position: Python developer

print_personal_data(first_name='Jack', last_name='Smith', age=32, work_experience = '5 years', position='Project manager')
# age: 32
# first_name: Jack
# last_name: Smith
# position: Project manager
# work_experience: 5 years

[('age', 28), ('first_name', 'John'), ('last_name', 'Doe'), ('position', 'Python developer')]
[('age', 32), ('first_name', 'Jack'), ('last_name', 'Smith'), ('position', 'Project manager'), ('work_experience', '5 years')]

In [ ]:
def mult(*arch):
    result = 1
    for arg in arch:
          result = result*arg
    return result


print(mult(3,5,10))
# Должно быть напечатано:
# 150

In [ ]:


def print_args(*args, **kwargs):
    print(args)
    print(kwargs)

print_args(1,4,5,7, name='Ivanov', age=19, city='Moscow')
# Будет напечатано:
# (1, 4, 5, 7)
# {'name': 'Ivanov', 'age': 19, 'city': 'Moscow'}

(1, 4, 5, 7)
{'name': 'Ivanov', 'age': 19, 'city': 'Moscow'}

In [ ]:

def get_words_list(text):
    text = text.lower()
    text = text.replace(",", "")
    text = text.replace(".", "")
    text = text.replace("?", "")
    text = text.replace("!", "")
    text = text.replace("(", "")
    text = text.replace(")", "")
    text = text.split(" ")
    return text




text_example = "Arrakis, the planet known as Dune, is forever his place."

print(get_words_list(text=text_example))
# ['arrakis', 'the', 'planet', 'known', 'as', 'dune', 'is', 'forever', 'his', 'place']

['Arrakis', 'the', 'planet', 'known', 'as', 'Dune', 'is', 'forever', 'his', 'place']

In [ ]:
def get_words_list(text):
    # Создаём список со знаками пунктуации
    punctuation_list = ['.', ',', ';', ':', '...', '!', '?', '-', '"', '(', ')']
    # Создаём цикл по элементам списка
    for symbol in punctuation_list:
        # Заменяем текущий знак пунктуации в тексте на пустую строку
        text = text.replace(symbol, "")
    # Приводим текст к нижнему регистру
    text = text.lower()
    # Разделяем его на слова по пробелу
    words_list = text.split(' ')
    # Возвращаем результат
    return words_list



text_example = "Arrakis, the planet known as Dune, is forever his place."

print(get_words_list(text=text_example))
# ['arrakis', 'the', 'planet', 'known', 'as', 'dune', 'is', 'forever', 'his', 'place']

In [ ]:
def get_unique_words(words_list):
    word_set = set(words_list)
    return sorted(word_set)



words_list_example = ['and', 'take', 'the', 'most', 'special', 'care', 'that', 'you', 'locate', "muad'dib", 'in', 'his', 'place', 'the', 'planet', 'arrakis', 'do', 'not', 'be', 'deceived', 'by', 'the', 'fact', 'that', 'he', 'was', 'born', 'on', 'caladan', 'and', 'lived', 'his', 'first', 'fifteen', 'years', 'there', 'arrakis', 'the', 'planet', 'known', 'as', 'dune', 'is', 'forever', 'his', 'place']

print(get_unique_words(words_list=words_list_example))
## ['and', 'arrakis', 'as', 'be', 'born', 'by', 'caladan', 'care', 'deceived', 'do', 'dune', 'fact', 'fifteen', 'first', 'forever', 'he', 'his', 'in', 'is', 'known', 'lived', 'locate', 'most', "muad'dib", 'not', 'on', 'place', 'planet', 'special', 'take', 'that', 'the', 'there', 'was', 'years', 'you']

['and', 'arrakis', 'as', 'be', 'born', 'by', 'caladan', 'care', 'deceived', 'do', 'dune', 'fact', 'fifteen', 'first', 'forever', 'he', 'his', 'in', 'is', 'known', 'lived', 'locate', 'most', "muad'dib", 'not', 'on', 'place', 'planet', 'special', 'take', 'that', 'the', 'there', 'was', 'years', 'you']

In [ ]:



def get_most_frequent_word(text):
        freq_dic = {}
        def get_words_list(text):
          # Создаём список со знаками пунктуации
          punctuation_list = ['.', ',', ';', ':', '...', '!', '?', '-', '"', '(', ')']
          # Создаём цикл по элементам списка
          for symbol in punctuation_list:
          # Заменяем текущий знак пунктуации в тексте на пустую строку
            text = text.replace(symbol, "")
          # Приводим текст к нижнему регистру
          text = text.lower()
          # Разделяем его на слова по пробелу
          words_list = text.split(' ')
          # Возвращаем результат
          return words_list

        def get_unique_words(words_list):
          word_set = set(words_list)
          return sorted(word_set)

        text = get_words_list(text)
        uniq_word_set = get_unique_words(text)
  #      print("uws",uniq_word_set)
        dict_word = {}
        for symbol in text: # symbol — текущий символ в тексте
            # Проверяем условие, что символа ещё нет среди ключей словаря.
  #          print(symbol)
            if symbol not in dict_word:
               # Если условие выполняется, заносим символ в словарь со значением 1.
              dict_word[symbol] = 1 #
            else:
               # В противном случае увеличиваем частоту символа
              dict_word[symbol] += 1


        return max(dict_word, key=dict_word.get)







text_example = "A beginning is the time for taking the most delicate care that the balances are correct. This every sister of the Bene Gesserit knows. To begin your study of the life of Muad'Dib, then take care that you first place him in his time: born in the 57th year of the Padishah Emperor, Shaddam IV. And take the most special care that you locate Muad'Dib in his place: the planet Arrakis. Do not be deceived by the fact that he was born on Caladan and lived his first fifteen years there. Arrakis, the planet known as Dune, is forever his place."
print(get_most_frequent_word(text_example))
# the

text_example = "Есть урок, который идет не сорок пять минут, а всю жизнь. Этот урок проходит и в классе, и в поле, и дома, и в лесу. Я назвал этот урок седьмым потому, что в школе обычно бывает не больше шести уроков. Не удивляйтесь, если я скажу, что учителем на этом уроке может быть и береза возле вашего дома, и бабушка, и вы сами (В. Песков)"
print(get_most_frequent_word(text_example))
# и

the
и

In [ ]:
data = [
    ('Amanda', 37, 78, 67),
    ('Patricia', 78, 93, 68),
    ('Marcos', 79, 67, 89),
    ('Dmitry', 67, 68, 100),
    ('Andrey', 100, 78, 76),
    ('Victoria', 93, 69, 96),
]


def get_total_score(data):

  # Создаём lambda-функцию, которая считает средний балл, и применяем её к каждому элементу списка
  map_func = lambda x: (*x, (x[1] +  x[2] + x[3]))
  updated_data = list(map(map_func, data))
  updated_data.sort(key=lambda x: x[4])




  return updated_data
print(get_total_score(data))
# [('Amanda', 37, 78, 67, 182), ('Marcos', 79, 67, 89, 235), ('Dmitry', 67, 68, 100, 235), ('Patricia', 78, 93, 68, 239), ('Andrey', 100, 78, 76, 254), ('Victoria', 93, 69, 96, 258)]

[('Amanda', 37, 78, 67, 182), ('Marcos', 79, 67, 89, 235), ('Dmitry', 67, 68, 100, 235), ('Patricia', 78, 93, 68, 239), ('Andrey', 100, 78, 76, 254), ('Victoria', 93, 69, 96, 258)]

In [ ]:

data = {
    "type": "video", "videoID": "vid001", "links": [
        {"type":"video", "videoID":"vid002", "links":[]},
        {   "type":"video", "videoID":"vid003", "links": [
            {"type": "video", "videoID":"vid004"},
            {"type": "video", "videoID":"vid005"},
            ]
        },
        {"type":"video", "videoID":"vid006"},
        {   "type":"video",
            "videoID":"vid007",
            "links": [
            {"type":"video", "videoID":"vid008", "links": [
                {   "type":"video",
                    "videoID":"vid009",
                    "links": [{"type":"video", "videoID":"vid010"}]
                }
            ]}
        ]},
    ]
}


def find_video(data):
    video_ids = []

    def recursive_search(item):
        if isinstance(item, dict):
            for key, value in item.items():
                if key == "videoID":
                    video_ids.append(value)
                else:
                    recursive_search(value)
        elif isinstance(item, list):
            for element in item:
                recursive_search(element)

    recursive_search(data)
    return video_ids



print(find_video(data))


#['vid001', 'vid002', 'vid003', 'vid004', 'vid005', 'vid006', 'vid007', 'vid008', 'vid009', 'vid010']

['vid001', 'vid002', 'vid003', 'vid004', 'vid005', 'vid006', 'vid007', 'vid008', 'vid009', 'vid010']

In [ ]:

data = {
    "type": "video", "videoID": "vid001", "links": [
        {"type":"video", "videoID":"vid002", "links":[]},
        {   "type":"video", "videoID":"vid003", "links": [
            {"type": "video", "videoID":"vid004"},
            {"type": "video", "videoID":"vid005"},
            ]
        },
        {"type":"video", "videoID":"vid006"},
        {   "type":"video",
            "videoID":"vid007",
            "links": [
            {"type":"video", "videoID":"vid008", "links": [
                {   "type":"video",
                    "videoID":"vid009",
                    "links": [{"type":"video", "videoID":"vid010"}]
                }
            ]}
        ]},
    ]
}




def find_video(data):
    output = []

    # Если data - это список, перебираем его элементы
    if isinstance(data, list):
        for item in data:
            print("item - ",item)
            output += find_video(item)

    # Если data - это словарь, проверяем наличие ключа 'videoID'
    elif isinstance(data, dict):
        for key, value in data.items():
            print("key -" ,  key,"value -", value)
            # Если значение - это список или словарь, вызываем функцию рекурсивно
            if isinstance(value, (list, dict)):
                output += find_video(value)
            elif key == 'videoID':
                output.append(value)

    return output


print(find_video(data))

In [ ]:
cheese_data = {
    'чеддер': [370, 5000, 33, 'твердый'],
    'пармезан': [510, 4000, 29, 'твердый'],
    'гауда': [250, 3700, 27, 'полутвердый'],
    'эдам': [220, 10000, 30, 'полутвердый'],
    'горгонзола': [320, 3000, 32, 'полумягкий'],
    'рокфор': [340, 15000, 31, 'полумягкий'],
    'стилтон': [360, 7000, 35, 'полумягкий'],
    'камамбер': [250, 8000, 24, 'мягкий'],
    'бри': [310, 6500, 28, 'мягкий'],
}

def filter_by_fat(cheese_data, n):
    filtered_cheese = {}

    for cheese_name, details in cheese_data.items():
        print("print - ", cheese_name, details)
        fat_content = details[2]  # Индекс 2 соответствует жирности сыра
        if fat_content < n:
            filtered_cheese[cheese_name] = fat_content

    return filtered_cheese





print(filter_by_fat(cheese_data, n=30))
# {'пармезан': 29, 'гауда': 27, 'камамбер': 24, 'бри': 28}

print(filter_by_fat(cheese_data, n=25))
# {'камамбер': 24}

print -  чеддер [370, 5000, 33, 'твердый']
print -  пармезан [510, 4000, 29, 'твердый']
print -  гауда [250, 3700, 27, 'полутвердый']
print -  эдам [220, 10000, 30, 'полутвердый']
print -  горгонзола [320, 3000, 32, 'полумягкий']
print -  рокфор [340, 15000, 31, 'полумягкий']
print -  стилтон [360, 7000, 35, 'полумягкий']
print -  камамбер [250, 8000, 24, 'мягкий']
print -  бри [310, 6500, 28, 'мягкий']
{'пармезан': 29, 'гауда': 27, 'камамбер': 24, 'бри': 28}
print -  чеддер [370, 5000, 33, 'твердый']
print -  пармезан [510, 4000, 29, 'твердый']
print -  гауда [250, 3700, 27, 'полутвердый']
print -  эдам [220, 10000, 30, 'полутвердый']
print -  горгонзола [320, 3000, 32, 'полумягкий']
print -  рокфор [340, 15000, 31, 'полумягкий']
print -  стилтон [360, 7000, 35, 'полумягкий']
print -  камамбер [250, 8000, 24, 'мягкий']
print -  бри [310, 6500, 28, 'мягкий']
{'камамбер': 24}

In [ ]:


cheese_data = {
    'чеддер': [370, 5000, 33, 'твердый'],
    'пармезан': [510, 4000, 29, 'твердый'],
    'гауда': [250, 3700, 27, 'полутвердый'],
    'эдам': [220, 10000, 30, 'полутвердый'],
    'горгонзола': [320, 3000, 32, 'полумягкий'],
    'рокфор': [340, 15000, 31, 'полумягкий'],
    'стилтон': [360, 7000, 35, 'полумягкий'],
    'камамбер': [250, 8000, 24, 'мягкий'],
    'бри': [310, 6500, 28, 'мягкий'],
}

def count_money(cheese_data):
    cost_cheese = 0
    for cheese_name, details in cheese_data.items():
        cost_cheese = cost_cheese + details[0]*10 * details[1]
    return cost_cheese


print(count_money(cheese_data))
## 196100000

196100000

In [ ]:
cheese_data = {
    'чеддер': [370, 5000, 33, 'твердый'],
    'пармезан': [510, 4000, 29, 'твердый'],
    'гауда': [250, 3700, 27, 'полутвердый'],
    'эдам': [220, 10000, 30, 'полутвердый'],
    'горгонзола': [320, 3000, 32, 'полумягкий'],
    'рокфор': [340, 15000, 31, 'полумягкий'],
    'стилтон': [360, 7000, 35, 'полумягкий'],
    'камамбер': [250, 8000, 24, 'мягкий'],
    'бри': [310, 6500, 28, 'мягкий'],
}


def find_cheese_type(cheese_data, cheese_type):
    cheese = []

    for cheese_name, details in cheese_data.items():
        cheese_type_t = details[3]
        if cheese_type_t == cheese_type:
            cheese.append(cheese_name)

    return cheese


find_cheese_type(cheese_data, cheese_type='мягкий')
# ['камамбер', 'бри']

find_cheese_type(cheese_data, cheese_type='полумягкий')
# ['горгонзола', 'рокфор', 'стилтон']

['горгонзола', 'рокфор', 'стилтон']

In [ ]:
cheese_data = {
    'чеддер': [370, 5000, 33, 'твердый'],
    'пармезан': [510, 4000, 29, 'твердый'],
    'гауда': [250, 3700, 27, 'полутвердый'],
    'эдам': [220, 10000, 30, 'полутвердый'],
    'горгонзола': [320, 3000, 32, 'полумягкий'],
    'рокфор': [340, 15000, 31, 'полумягкий'],
    'стилтон': [360, 7000, 35, 'полумягкий'],
    'камамбер': [250, 8000, 24, 'мягкий'],
    'бри': [310, 6500, 28, 'мягкий'],
}




def sort_cheese(cheese_data):
  #преобразовываем в словар список кортежей, которые получились в результате сортировки items по листу
   sorted_cheese_names = sorted(cheese_data.keys(), key=lambda cheese_name: cheese_data[cheese_name][0])
   return sorted_cheese_names





print(sort_cheese(cheese_data))
# ['эдам', 'гауда', 'камамбер', 'бри', 'горгонзола', 'рокфор', 'стилтон', 'чеддер', 'пармезан']

['эдам', 'гауда', 'камамбер', 'бри', 'горгонзола', 'рокфор', 'стилтон', 'чеддер', 'пармезан']

In [ ]:



def purchase(ingr):
    ing_w = []
    if len(ingr) == len(set(ingr)):
      print("Ваш заказ оформлен верно")
    else:
        for item in ingr:
          if ingr.count(item) > 1 and item not in ing_w:
              print("Вы продублировали ингредиент {} в заказе {} раз(а)".format(item,ingr.count(item)))
              ing_w.append(item)



ingredients = ['кислота уксусная', 'кислота лимонная', 'закваска', 'кислота молочная', 'пряность', 'бактерии', 'аннато', 'кальций', 'калий', 'специя', 'молоко коровье', 'молоко овечье', 'фермент', 'соль', 'сливки', 'грибки', 'ароматизатор', 'молоко козье', 'дрожжи', 'каротин']

purchase(ingredients)
# Ваш заказ оформлен верно

ingredients = ['молоко коровье', 'молоко овечье', 'бактерии', 'молоко козье', 'сливки', 'фермент', 'закваска', 'молоко коровье', 'соль', 'молоко коровье', 'бактерии', 'молоко овечье', 'кислота лимонная', 'грибки', 'соль', 'дрожжи', 'кислота уксусная', 'кальций', 'калий', 'каротин', 'аннато', 'специя', 'пряность', 'ароматизатор', 'соль', 'кислота молочная']

purchase(ingredients)
# Вы продублировали ингредиент бактерии в заказе 2 раз(а)
# Вы продублировали ингредиент молоко коровье в заказе 3 раз(а)
# Вы продублировали ингредиент молоко овечье в заказе 2 раз(а)
# Вы продублировали ингредиент соль в заказе 3 раз(а)

Ваш заказ оформлен верно
Вы продублировали ингредиент молоко коровье в заказе 3 раз(а)
Вы продублировали ингредиент молоко овечье в заказе 2 раз(а)
Вы продублировали ингредиент бактерии в заказе 2 раз(а)
Вы продублировали ингредиент соль в заказе 3 раз(а)

In [ ]:
#input_string1 = input('Введите 1-ую последовательность идентификаторов: ')
#input_string2 = input('Введите 2-ую последовательность идентификаторов: ')
#заменяем ввод, т.к. лень вводить данные каждый раз, на заранее заданные переменные
#input_string1 = "108, 138, 42, 52, 14, четыре"
input_string1 = "108, 138, 42, 52, 14"
#input_string2 = "109, 13, 52, 32, 42, 14, 109"
input_string2 = "189, 202, 249, 24, 15, 3"
#удаляем пробелы из обоих строк и формируем списки
list1 = input_string1.replace(" ", "").split(',')
list2 = input_string2.replace(" ", "").split(',')

#определяем функцию чистой конвертации, преобразуем список в множество, заодно убираем дубликаты, делаем пересечение и выводим на экран
def pure_intersection(int1, int2):
  int_joined = list(set(int1) & set(int2))

  return print(int_joined)

#и заодно пробуем сконвертировать в Int, если ошибка, то выбрасываем сообщение
try:
  int_list1 = list(map(int, list1))
  int_list2 = list(map(int, list2))
  pure_intersection(int_list1,int_list2)
except Exception as e:
  print("Некорректный ввод")

[]

In [ ]:
#input_string = input('Введите последовательность чисел: ')
input_string = "-2,56 25,002 восемь 19,13 13 -37,5"
#меняем запятые на точки и формируем список
list_str = input_string.replace(",", '.').split(" ")

#определяем функцию для поиска min/max
def find_min_max(list_str):
    #создаем пустой список для Int и float
    lst_float = []
    #цикл по элементам списка
    for item in list_str:
      #проверяем, есть ли буквы в элементе
      if item.isalpha() == False:
        #проверяем, содержит ли элемент точку, да - значит float, нет, значит - int
        if '.' in item :
           # наполняем список нужными элементами (float)
           lst_float.append(float(item))
        # наполняем список нужными элементами (int)
        else: lst_float.append(int(item))
    return max(lst_float), min(lst_float)
#вызываем функцию и присваиваем max,min переменным найденные результаты
maxn, minn = find_min_max(list_str)
#выводим на экран
print("Minumum:", minn)
print("Maximum:", maxn)

Minumum: -37.5
Maximum: 25.002

In [ ]:
#input_string = input('Введите последовательность чисел: ')
input_string1 = "десять, 10, пять, 7, семь"
input_string2 = "100, 5, 2, 4, 3, 6"
input_string3 = "1, 5, 2, 3, 6"
input_string4 = ""

#определеяем функцию расчета медианы
def calc_med(numbers):
# определяем, если пустой список, то вовзарщаем None
    n = len(numbers)
    if n == 0:
        return None

    # Сортируем список чисел
    sorted_numbers = sorted(numbers)

    # Находим медиану
    mid = n // 2
    if n % 2 == 0:
        # Если количество чисел чётное, медиана — среднее двух средних чисел
        median = (sorted_numbers[mid - 1] + sorted_numbers[mid]) / 2
    else:
        # Если количество чисел нечётное, медиана — среднее число
        median = sorted_numbers[mid]

    return median

def find_median(input_string):

    try:
        # Разбиваем строку на отдельные элементы и преобразуем их в числа
        numbers = [float(num.strip()) for num in input_string.split(',')]
        # возвращаем медиану
        return calc_med(numbers)
    except ValueError:
 #      выбрасываем сообщение
        return "Некорректный ввод"





print(find_median(input_string1))
print(find_median(input_string2))
print(find_median(input_string3))
print(find_median(input_string4))

Некорректный ввод
4.5
3.0
Некорректный ввод

In [ ]:
input_string1 = "девятьсот восемьдесят семь"
input_string2 = "тысяча двести тридцать четыре"
input_string3 = "пятьсот шестьдесят семь"
input_string4 = "миллион семьсот восемьдесят девять тысяч шестьсот пятьдесят четыре"
input_string5 = "ноль"

#задаем функцию , на вход строка
def transform_string_to_integer(s):
    # словарь из подсказки
    number_word_dict = {
        "тысяча": 1000, "тысяч": 1000, "тысяче": 1000, "тысячу": 1000,
        "миллион": 1000000, "миллиона": 1000000, "миллиону": 1000000, "миллионе": 1000000,
        "сто": 100, "двести": 200, "триста": 300, "четыреста": 400, "пятьсот": 500,
        "шестьсот": 600, "семьсот": 700, "восемьсот": 800, "девятьсот": 900,
        "одиннадцать": 11, "двенадцать": 12, "тринадцать": 13, "четырнадцать": 14, "пятнадцать": 15,
        "шестнадцать": 16, "семнадцать": 17, "восемнадцать": 18, "девятнадцать": 19,
        "двадцать": 20, "тридцать": 30, "сорок": 40, "пятьдесят": 50, "шестьдесят": 60,
        "семьдесят": 70, "восемьдесят": 80, "девяносто": 90,
        "десять": 10, "один": 1, "два": 2, "три": 3, "четыре": 4, "пять": 5,
        "шесть": 6, "семь": 7, "восемь": 8, "девять": 9, "ноль": 0
    }
    #обрезаем пробелы вначале и в конце, Если они есть и приведет всю строку к нижнему регистру
    s = s.strip().lower()
    # переменная, которая будет собирать в себя число
    total = 0
    #индекс для цикла
    i = 0
    # длинна подстроки, по которой будем делать поиск, является ограничителем итератора.
    length = len(s)
   # запускаем цикл по словарю по ключам и значениям.
    while i < length:
        # булевая переменная, которая поможет определить, было ли совпадение подстроки с значением ключа из словаря number_word_dict
        found = False
        for word, value in number_word_dict.items():
            # проверяем, введенная подстрока совпадает с ключем в словаре
            if s.startswith(word, i):
                # берем по ключю значение и добавляем его в переменную тотал
                total += value
                #индекс i увеличивается на длину найденного слова, чтобы перейти к следующей части строки.
                i += len(word)
                # меняем значение булевой переменной, чтобы избежать  увеличение индекса на 1
                found = True
                break
        # проверяем значение переменной, если оно True, индекс не трогаем, он уже увеличин на длинну подстроки, если False, то увеличиваем на 1 и ищем дальше совпадение
        if not found:
            i += 1

    return total

print(transform_string_to_integer(input_string1))
print(transform_string_to_integer(input_string2))
print(transform_string_to_integer(input_string3))
print(transform_string_to_integer(input_string4))
print(transform_string_to_integer(input_string5))

987
1234
567
1002443
0

In [1]:
# Импортируем объект Counter из модуля collections
from collections import Counter
# Создаём пустой объект Counter
c = Counter()

In [3]:
# Импортируем объект Counter из модуля collections
from hidden import Clients
# Создаём пустой объект Counter
c = Counter()

ModuleNotFoundError: No module named 'hidden'

In [ ]:
temps = [('2000', -4.4), ('2001', -2.5), ('2002', -4.4), ('2003', -9.5)]

def check(temps):
    
    
    
    
#OrderedDict([('2001', -2.5), ('2000', -4.4), ('2002', -4.4), ('2003', -9.5)])

In [7]:
def brackets(line):
    stack = []  # Создаём стек для хранения открывающих скобок

    for char in line:  # Перебираем каждый символ в строке
        if char == '(':  # Если символ — открывающая скобка
            stack.append(char)  # Добавляем её в стек
        elif char == ')':  # Если символ — закрывающая скобка
            if not stack:  # Если стек пуст, последовательность неправильная
                return False
            stack.pop()  # Удаляем последнюю открывающую скобку из стека

    # Если стек пуст, последовательность правильная, иначе — неправильная
    return not stack

# Примеры использования
print(brackets("(()())"))  # True
print(brackets(""))        # True
print(brackets("(()()))")) # False

True
True
False

In [8]:
from collections import OrderedDict
temps = [('2000', -4.4), ('2001', -2.5), ('2002', -4.4), ('2003', -9.5)]


def check(temps):
  ordered_temp = OrderedDict(sorted(temps, key=lambda x: x[1], reverse=True))
  return ordered_temp


check(temps)

#OrderedDict([('2001', -2.5), ('2000', -4.4), ('2002', -4.4), ('2003', -9.5)])

OrderedDict([('2001', -2.5), ('2000', -4.4), ('2002', -4.4), ('2003', -9.5)])

In [9]:

from collections import OrderedDict
from collections import Counter

ratings = [
('Old York', 3.3), ('New Age', 4.6), ('Old Gold', 3.3), ('General Foods', 4.8),
('Belissimo', 4.5), ('CakeAndCoffee', 4.2), ('CakeOClock', 4.2), ('CakeTime', 4.1),
('WokToWork', 4.9), ('WokAndRice', 4.9), ('Old Wine Cellar', 3.3), ('Nice Cakes', 3.9)
]
#Сортировка через лямбда по двум критериям
sorted_ratings = sorted(ratings, key=lambda x: (-x[1], x[0]))

print(sorted_ratings)

ordered_temp = OrderedDict(sorted_ratings)

print(ordered_temp)

[('WokAndRice', 4.9), ('WokToWork', 4.9), ('General Foods', 4.8), ('New Age', 4.6), ('Belissimo', 4.5), ('CakeAndCoffee', 4.2), ('CakeOClock', 4.2), ('CakeTime', 4.1), ('Nice Cakes', 3.9), ('Old Gold', 3.3), ('Old Wine Cellar', 3.3), ('Old York', 3.3)]
OrderedDict({'WokAndRice': 4.9, 'WokToWork': 4.9, 'General Foods': 4.8, 'New Age': 4.6, 'Belissimo': 4.5, 'CakeAndCoffee': 4.2, 'CakeOClock': 4.2, 'CakeTime': 4.1, 'Nice Cakes': 3.9, 'Old Gold': 3.3, 'Old Wine Cellar': 3.3, 'Old York': 3.3})